In [1]:
pip install pdfplumber

Requirement already satisfied: pdfplumber in c:\users\iulia\anaconda3\lib\site-packages (0.6.2)
Requirement already satisfied: Pillow>=9.1 in c:\users\iulia\anaconda3\lib\site-packages (from pdfplumber) (9.1.1)
Requirement already satisfied: pdfminer.six==20220319 in c:\users\iulia\anaconda3\lib\site-packages (from pdfplumber) (20220319)
Requirement already satisfied: Wand>=0.6.7 in c:\users\iulia\anaconda3\lib\site-packages (from pdfplumber) (0.6.7)
Requirement already satisfied: cryptography in c:\users\iulia\anaconda3\lib\site-packages (from pdfminer.six==20220319->pdfplumber) (36.0.2)
Requirement already satisfied: chardet in c:\users\iulia\anaconda3\lib\site-packages (from pdfminer.six==20220319->pdfplumber) (4.0.0)
Requirement already satisfied: cffi>=1.12 in c:\users\iulia\anaconda3\lib\site-packages (from cryptography->pdfminer.six==20220319->pdfplumber) (1.14.6)
Requirement already satisfied: pycparser in c:\users\iulia\anaconda3\lib\site-packages (from cffi>=1.12->cryptography->pdfminer.six==20220319->pdfplumber) (2.20)
Note: you may need to restart the kernel to use updated packages.

In [482]:
import pandas as pd
import re
from collections import namedtuple
import pdfplumber
import os 
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
import numpy as np

In [3]:
pop_2010_2019 = pd.read_excel('C:/Users/iulia/Documents/NSS/projects/capstone/data/raw_data/FL/pop_est_2010-2019_fl.xlsx',sheet_name='Sheet1')
pop_2010_2019 = pd.DataFrame(pop_2010_2019)
pop_2010_2019 = pop_2010_2019.drop(['Census','Estimates Base',2010,2011,2012],axis=1)
pop_2010_2019.head()

     County    2013    2014    2015    2016    2017    2018    2019
0   Alachua  252475  255456  259052  263959  266309  268851  269043
1     Baker   27009   27122   27355   27884   28254   28353   29210
2       Bay  174596  178289  181488  183634  184736  186240  174705
3  Bradford   26802   26552   26748   26740   27142   27752   28201
4   Brevard  550255  555548  565746  576874  587769  595203  601942

In [4]:
pop_2020_2021 = pd.read_excel('C:/Users/iulia/Documents/NSS/projects/capstone/data/raw_data/FL/pop_est_2020-2021_fl.xlsx',sheet_name='Sheet1')
pop_2020_2021 = pd.DataFrame(pop_2020_2021)
pop_2020_2021 = pop_2020_2021.drop('Estimates Base',axis=1)
pop_2020_2021.head()

     County    2020    2021
0   Alachua  278684  279238
1     Baker   28309   28715
2       Bay  174461  179168
3  Bradford   28364   28540
4   Brevard  608007  616628

In [5]:
pop_combined = pd.merge(pop_2010_2019,pop_2020_2021,how="left",on="County")
pop_combined.drop(index=pop_combined.index[-1],axis=0,inplace=True)
pop_combined.head()

     County    2013    2014    2015    2016    2017    2018    2019    2020    2021
0   Alachua  252475  255456  259052  263959  266309  268851  269043  278684  279238
1     Baker   27009   27122   27355   27884   28254   28353   29210   28309   28715
2       Bay  174596  178289  181488  183634  184736  186240  174705  174461  179168
3  Bradford   26802   26552   26748   26740   27142   27752   28201   28364   28540
4   Brevard  550255  555548  565746  576874  587769  595203  601942  608007  616628

In [6]:
metros = pd.read_excel('C:/Users/iulia/Documents/NSS/projects/capstone/data/metro_areas.xlsx',sheet_name='Filtered_States')
metros_df = pd.DataFrame(metros)
metros_fl = metros_df[metros_df['State Name']=='Florida']
metros_fl.head()

                                 CBSA Title Metropolitan/Micropolitan Statistical Area   County State Name
0                           Gainesville, FL              Metropolitan Statistical Area  Alachua    Florida
14                         Jacksonville, FL              Metropolitan Statistical Area    Baker    Florida
20                          Panama City, FL              Metropolitan Statistical Area      Bay    Florida
34        Palm Bay-Melbourne-Titusville, FL              Metropolitan Statistical Area  Brevard    Florida
36  Miami-Fort Lauderdale-Pompano Beach, FL              Metropolitan Statistical Area  Broward    Florida

### Extracting data for year 2013 and combining with pop along with Metropolitans and Micropolitans

In [315]:
file_2013 ='C:/Users/iulia/Documents/NSS/projects/capstone/data/raw_data/FL/FL_2013.pdf'

In [316]:
fl_df_crashes13 = pd.DataFrame()
pages = list(range(43,45))
pdf = pdfplumber.open(file_2013)
for page in pages:    
    table=pdf.pages[page].extract_table()
    df = pd.DataFrame(table)
    fl_df_crashes13 = fl_df_crashes13.append(df)

In [317]:
fl_df_crashes13 = fl_df_crashes13.drop([0,2,3,4,5,6,8,9,10,11],axis=1)
fl_df_crashes13 = fl_df_crashes13.iloc[:-2 , :]
fl_df_crashes13 = fl_df_crashes13.iloc[2: , :]
fl_df_crashes13.columns = ['County','total_crashes']
fl_df_crashes13.head()

     County total_crashes
2   Alachua         4,651
3     Baker           293
4       Bay         3,514
5  Bradford           220
6   Brevard         7,079

In [318]:
fl_df_crashes13.tail()

        County total_crashes
26     Unknown             0
27     Volusia         8,047
28     Wakulla           248
29      Walton         1,088
30  Washington           288

In [319]:
fl_df_fatalaties13 = pd.DataFrame()
pages = list(range(45,47))
pdf = pdfplumber.open(file_2013)
for page in pages:    
    table=pdf.pages[page].extract_table()
    df = pd.DataFrame(table)
    fl_df_fatalaties13 = fl_df_fatalaties13.append(df)

In [320]:
fl_df_fatalaties13 = fl_df_fatalaties13.drop([0,2,3,4,5,6,8,9,10,11],axis=1)
fl_df_fatalaties13 = fl_df_fatalaties13.iloc[:-2 , :]
fl_df_fatalaties13 = fl_df_fatalaties13.iloc[2: , :]
fl_df_fatalaties13.columns = ['County','fatalities']
fl_df_fatalaties13.head()

     County fatalities
2   Alachua         33
3     Baker          9
4       Bay         17
5  Bradford          5
6   Brevard         76

In [321]:
fl_df_fatalaties13.tail()

        County fatalities
25     Unknown          0
26     Volusia         90
27     Wakulla          3
28      Walton         17
29  Washington          8

In [322]:
fl_df_injuries13 = pd.DataFrame()
pages = list(range(47,49))
pdf = pdfplumber.open(file_2013)
for page in pages:    
    table=pdf.pages[page].extract_table()
    df = pd.DataFrame(table)
    fl_df_injuries13 = fl_df_injuries13.append(df)

In [323]:
fl_df_injuries13 = fl_df_injuries13.drop([0,2,3,4,5,6,8,9,10,11],axis=1)
fl_df_injuries13 = fl_df_injuries13.iloc[:-2 , :]
fl_df_injuries13 = fl_df_injuries13.iloc[2: , :]
fl_df_injuries13.columns = ['County','injuries']
fl_df_injuries13.head()

     County injuries
2   Alachua    3,321
3     Baker      270
4       Bay    2,208
5  Bradford      202
6   Brevard    5,041

In [324]:
fl_df_injuries13.tail()

        County injuries
25     Unknown        0
26     Volusia    5,210
27     Wakulla      181
28      Walton      720
29  Washington      230

In [334]:
fl_df_2013 = pd.merge(pd.merge(fl_df_fatalaties13,fl_df_injuries13,on='County'),fl_df_crashes13,on='County')
fl_df_2013 = fl_df_2013.drop(labels=63, axis=0)
fl_df_2013.head(10)

      County fatalities injuries total_crashes
0    Alachua         33    3,321         4,651
1      Baker          9      270           293
2        Bay         17    2,208         3,514
3   Bradford          5      202           220
4    Brevard         76    5,041         7,079
5    Broward        180   21,580        32,595
6    Calhoun          1      109           152
7  Charlotte         22    1,412         2,091
8     Citrus         17      993         1,360
9       Clay         10    1,621         2,434

In [335]:
fl_df_2013.tail(10)

        County fatalities injuries total_crashes
57   St. Johns         31    2,032         2,730
58   St. Lucie         33    1,864         2,931
59      Sumter         19      529           724
60    Suwannee         13      337           526
61      Taylor          6      149           198
62       Union          2       95           125
64     Volusia         90    5,210         8,047
65     Wakulla          3      181           248
66      Walton         17      720         1,088
67  Washington          8      230           288

In [336]:
df_combined_fl_13 = pd.merge(fl_df_2013,pop_combined[['County', 2013]],on="County",how='left')
df_combined_fl_2013 = pd.merge(df_combined_fl_13,metros_fl[['CBSA Title','Metropolitan/Micropolitan Statistical Area','County']],on="County",how='left')
df_combined_fl_2013.head(10)

      County fatalities injuries total_crashes       2013                               CBSA Title Metropolitan/Micropolitan Statistical Area
0    Alachua         33    3,321         4,651   252475.0                          Gainesville, FL              Metropolitan Statistical Area
1      Baker          9      270           293    27009.0                         Jacksonville, FL              Metropolitan Statistical Area
2        Bay         17    2,208         3,514   174596.0                          Panama City, FL              Metropolitan Statistical Area
3   Bradford          5      202           220    26802.0                                      NaN                                        NaN
4    Brevard         76    5,041         7,079   550255.0        Palm Bay-Melbourne-Titusville, FL              Metropolitan Statistical Area
5    Broward        180   21,580        32,595  1836600.0  Miami-Fort Lauderdale-Pompano Beach, FL              Metropolitan Statistical Area
6    Calhoun          1      109           152    14578.0                                      NaN                                        NaN
7  Charlotte         22    1,412         2,091   164671.0                          Punta Gorda, FL              Metropolitan Statistical Area
8     Citrus         17      993         1,360   138829.0                    Homosassa Springs, FL              Metropolitan Statistical Area
9       Clay         10    1,621         2,434   195657.0                         Jacksonville, FL              Metropolitan Statistical Area

In [337]:
df_combined_fl_2013.tail(10)

        County fatalities injuries total_crashes      2013                              CBSA Title Metropolitan/Micropolitan Statistical Area
57   St. Johns         31    2,032         2,730       NaN                        Jacksonville, FL              Metropolitan Statistical Area
58   St. Lucie         33    1,864         2,931       NaN                      Port St. Lucie, FL              Metropolitan Statistical Area
59      Sumter         19      529           724  106898.0                        The Villages, FL              Metropolitan Statistical Area
60    Suwannee         13      337           526   43588.0                                     NaN                                        NaN
61      Taylor          6      149           198   22873.0                                     NaN                                        NaN
62       Union          2       95           125   15160.0                                     NaN                                        NaN
63     Volusia         90    5,210         8,047  500438.0  Deltona-Daytona Beach-Ormond Beach, FL              Metropolitan Statistical Area
64     Wakulla          3      181           248   31004.0                         Tallahassee, FL              Metropolitan Statistical Area
65      Walton         17      720         1,088   59193.0  Crestview-Fort Walton Beach-Destin, FL              Metropolitan Statistical Area
66  Washington          8      230           288   24504.0                                     NaN                                        NaN

In [338]:
df_combined_fl_2013.to_excel('C:/Users/iulia/Documents/NSS/projects/capstone/data/cleaned_data/2013_FL.xlsx', engine='xlsxwriter',index=False)

In [12]:
file_2014_2016 ='C:/Users/iulia/Documents/NSS/projects/capstone/data/raw_data/FL/FL_2016.pdf'

In [13]:
pdf = pdfplumber.open(file_2014_2016)
table=pdf.pages[35].extract_table()
table = table[1:]
table

[['Alachua', 'Total Crashes', '5,980', '5,027', '4,193', '18.96%', '5,067'],
 [None, 'Total Fatalities', '46', '37', '30', '24.32%', '38'],
 [None, 'Total Injuries', '4,398', '3,826', '3,113', '14.95%', '3,779'],
 [None, 'Total', '10,424.00', '8,890.00', '7,336.00', '17.26%', '8,883.00'],
 ['Baker', 'Total Crashes', '381', '373', '246', '2.14%', '333'],
 [None, 'Total Fatalities', '13', '12', '2', '8.33%', '9'],
 [None, 'Total Injuries', '352', '286', '264', '23.08%', '301'],
 [None, 'Total', '746.00', '671.00', '512.00', '11.18%', '643.00'],
 ['Bay', 'Total Crashes', '4,089', '3,946', '3,337', '3.62%', '3,791'],
 [None, 'Total Fatalities', '38', '32', '30', '18.75%', '33'],
 [None, 'Total Injuries', '2,290', '2,317', '2,023', '-1.17%', '2,210'],
 [None, 'Total', '6,417.00', '6,295.00', '5,390.00', '1.94%', '6,034.00'],
 ['Bradford', 'Total Crashes', '362', '348', '274', '4.02%', '328'],
 [None, 'Total Fatalities', '6', '10', '4', '-40.00%', '7'],
 [None, 'Total Injuries', '243', '241', '219', '0.83%', '234'],
 [None, 'Total', '611.00', '599.00', '497.00', '2.00%', '569.00'],
 ['Brevard', 'Total Crashes', '8,752', '8,387', '7,661', '4.35%', '8,267'],
 [None, 'Total Fatalities', '98', '82', '65', '19.51%', '82'],
 [None, 'Total Injuries', '6,564', '6,130', '5,386', '7.08%', '6,027'],
 [None, 'Total', '15,414.00', '14,599.00', '13,112.00', '5.58%', '14,375.00'],
 ['Broward', 'Total Crashes', '41,755', '38,409', '34,833', '8.71%', '38,332'],
 [None, 'Total Fatalities', '245', '221', '173', '10.86%', '213'],
 [None, 'Total Injuries', '25,361', '23,473', '22,154', '8.04%', '23,663'],
 [None, 'Total', '67,361.00', '62,103.00', '57,160.00', '8.47%', '62,208.00'],
 ['Calhoun', 'Total Crashes', '194', '180', '134', '7.78%', '169'],
 [None, 'Total Fatalities', '3', '4', '2', '-25.00%', '3'],
 [None, 'Total Injuries', '120', '118', '94', '1.69%', '111'],
 [None, 'Total', '317.00', '302.00', '230.00', '4.97%', '283.00'],
 ['Charlotte', 'Total Crashes', '2,721', '2,556', '2,241', '6.46%', '2,506'],
 [None, 'Total Fatalities', '30', '23', '19', '30.43%', '24'],
 [None, 'Total Injuries', '1,649', '1,616', '1,290', '2.04%', '1,518'],
 [None, 'Total', '4,400.00', '4,195.00', '3,550.00', '4.89%', '4,048.00'],
 ['Citrus', 'Total Crashes', '1,682', '1,502', '1,471', '11.98%', '1,552'],
 [None, 'Total Fatalities', '24', '29', '26', '-17.24%', '26'],
 [None, 'Total Injuries', '1,232', '1,124', '1,099', '9.61%', '1,152'],
 [None, 'Total', '2,938.00', '2,655.00', '2,596.00', '10.66%', '2,730.00']]

In [14]:
pdf = pdfplumber.open(file_2014_2016)
table=pdf.pages[37].extract_table()
table = table[1:]
list_length = len(table)
paired_list = [table[i] + table[i+1]+ table[i+2] for i in range(0, list_length-1,4)]
if list_length % 3 == 2:
   paired_list.append(table[list_length-1])
print(paired_list)

[['Gilchrist', 'Total Crashes', '194', '176', '160', '10.23%', '177', None, 'Total Fatalities', '5', '3', '3', '66.67%', '4', None, 'Total Injuries', '123', '126', '109', '-2.38%', '119'], ['Glades', 'Total Crashes', '178', '155', '139', '14.84%', '157', None, 'Total Fatalities', '2', '14', '3', '-85.71%', '6', None, 'Total Injuries', '97', '114', '96', '-14.91%', '102'], ['Gulf', 'Total Crashes', '181', '140', '137', '29.29%', '153', None, 'Total Fatalities', '1', '2', '2', '-50.00%', '2', None, 'Total Injuries', '119', '81', '98', '46.91%', '99'], ['Hamilton', 'Total Crashes', '269', '253', '177', '6.32%', '233', None, 'Total Fatalities', '5', '5', '6', '0.00%', '5', None, 'Total Injuries', '159', '151', '129', '5.30%', '146'], ['Hardee', 'Total Crashes', '416', '382', '333', '8.90%', '377', None, 'Total Fatalities', '5', '2', '10', '150.00%', '6', None, 'Total Injuries', '334', '292', '256', '14.38%', '294'], ['Hendry', 'Total Crashes', '331', '270', '254', '22.59%', '285', None, 'Total Fatalities', '19', '10', '8', '90.00%', '12', None, 'Total Injuries', '273', '235', '228', '16.17%', '245'], ['Hernando', 'Total Crashes', '2,142', '2,153', '1,981', '-0.51%', '2,092', None, 'Total Fatalities', '25', '35', '20', '-28.57%', '27', None, 'Total Injuries', '2,093', '2,052', '1,764', '2.00%', '1,970'], ['Highlands', 'Total Crashes', '1,329', '1,218', '1,067', '9.11%', '1,205', None, 'Total Fatalities', '21', '22', '21', '-4.55%', '21', None, 'Total Injuries', '978', '836', '740', '16.99%', '851'], ['Hillsborough', 'Total Crashes', '27,660', '25,967', '23,024', '6.52%', '25,550', None, 'Total Fatalities', '228', '190', '158', '20.00%', '192', None, 'Total Injuries', '21,380', '19,889', '17,561', '7.50%', '19,610'], ['Holmes', 'Total Crashes', '284', '259', '222', '9.65%', '255', None, 'Total Fatalities', '9', '9', '5', '0.00%', '8', None, 'Total Injuries', '158', '141', '169', '12.06%', '156'], ['Indian River', 'Total Crashes', '2,360', '2,204', '2,106', '7.08%', '2,223', None, 'Total Fatalities', '26', '24', '22', '8.33%', '24', None, 'Total Injuries', '1,400', '1,262', '1,241', '10.94%', '1,301'], [None, 'Total', '3,786.00', '3,490.00', '3,369.00', '8.48%', '3,548.00']]

In [15]:
df_test = pd.DataFrame(paired_list)
df_test = df_test.drop([5,6,7,12,13,14,19,20],axis=1)
df_test

              0              1         2         3         4                 8     9     10    11              15      16      17      18
0      Gilchrist  Total Crashes       194       176       160  Total Fatalities     5     3     3  Total Injuries     123     126     109
1         Glades  Total Crashes       178       155       139  Total Fatalities     2    14     3  Total Injuries      97     114      96
2           Gulf  Total Crashes       181       140       137  Total Fatalities     1     2     2  Total Injuries     119      81      98
3       Hamilton  Total Crashes       269       253       177  Total Fatalities     5     5     6  Total Injuries     159     151     129
4         Hardee  Total Crashes       416       382       333  Total Fatalities     5     2    10  Total Injuries     334     292     256
5         Hendry  Total Crashes       331       270       254  Total Fatalities    19    10     8  Total Injuries     273     235     228
6       Hernando  Total Crashes     2,142     2,153     1,981  Total Fatalities    25    35    20  Total Injuries   2,093   2,052   1,764
7      Highlands  Total Crashes     1,329     1,218     1,067  Total Fatalities    21    22    21  Total Injuries     978     836     740
8   Hillsborough  Total Crashes    27,660    25,967    23,024  Total Fatalities   228   190   158  Total Injuries  21,380  19,889  17,561
9         Holmes  Total Crashes       284       259       222  Total Fatalities     9     9     5  Total Injuries     158     141     169
10  Indian River  Total Crashes     2,360     2,204     2,106  Total Fatalities    26    24    22  Total Injuries   1,400   1,262   1,241
11          None          Total  3,786.00  3,490.00  3,369.00              None  None  None  None            None    None    None    None

In [16]:
df_test_melt_2016 = pd.melt(df_test,id_vars=[2,9,16],value_vars=[0])
df_test_melt_2016 = df_test_melt_2016.drop(['variable'],axis=1)
df_test_melt_2016.head()

     2  9   16      value
0  194  5  123  Gilchrist
1  178  2   97     Glades
2  181  1  119       Gulf
3  269  5  159   Hamilton
4  416  5  334     Hardee

In [17]:
df_test_melt_2015 = pd.melt(df_test,id_vars=[3,10,17],value_vars=[0])
df_test_melt_2015 = df_test_melt_2015.drop(['variable'],axis=1)
df_test_melt_2015.head()

     3  10   17      value
0  176   3  126  Gilchrist
1  155  14  114     Glades
2  140   2   81       Gulf
3  253   5  151   Hamilton
4  382   2  292     Hardee

In [18]:
df_test_melt_2014 = pd.melt(df_test,id_vars=[4,11,18],value_vars=[0])
df_test_melt_2014 = df_test_melt_2014.drop(['variable'],axis=1)
df_test_melt_2014.head()

     4  11   18      value
0  160   3  109  Gilchrist
1  139   3   96     Glades
2  137   2   98       Gulf
3  177   6  129   Hamilton
4  333  10  256     Hardee

### Extracting data for years 2014 thru 2016 and combining with pop along with Metropolitans and Micropolitans

In [19]:
fl_df_2014_2016 = pd.DataFrame()
pages = list(range(35,42))
pdf = pdfplumber.open(file_2014_2016)
for page in pages:    
    table=pdf.pages[page].extract_table()
    table = table[1:]
    list_length = len(table)
    paired_list = [table[i] + table[i+1]+ table[i+2] for i in range(0, list_length-1,4)]
    df = pd.DataFrame(paired_list)
    fl_df_2014_2016 = fl_df_2014_2016.append(df)

In [20]:
fl_df_2014_2016 = fl_df_2014_2016.drop([5,6,7,12,13,14,19,20],axis=1)
fl_df_2014_2016.head()

         0              1      2      3      4                 8   9   10  11              15     16     17     18
0   Alachua  Total Crashes  5,980  5,027  4,193  Total Fatalities  46  37  30  Total Injuries  4,398  3,826  3,113
1     Baker  Total Crashes    381    373    246  Total Fatalities  13  12   2  Total Injuries    352    286    264
2       Bay  Total Crashes  4,089  3,946  3,337  Total Fatalities  38  32  30  Total Injuries  2,290  2,317  2,023
3  Bradford  Total Crashes    362    348    274  Total Fatalities   6  10   4  Total Injuries    243    241    219
4   Brevard  Total Crashes  8,752  8,387  7,661  Total Fatalities  98  82  65  Total Injuries  6,564  6,130  5,386

In [49]:
fl_df_2014_2016.tail()

            0              1      2      3      4                 8    9   10  11              15     16     17     18
10       Union  Total Crashes    122    103    114  Total Fatalities    2   3   1  Total Injuries     84    110    131
0      Volusia  Total Crashes  8,903  8,851  8,382  Total Fatalities  122  87  86  Total Injuries  5,872  5,750  5,251
1      Wakulla  Total Crashes    366    348    317  Total Fatalities   14   2   2  Total Injuries    264    261    231
2       Walton  Total Crashes  1,305  1,248  1,127  Total Fatalities   17   9  13  Total Injuries    870    908    703
3   Washington  Total Crashes    322    349    262  Total Fatalities    5   5   3  Total Injuries    199    225    172

In [21]:
fl_df_melt_2016 = pd.melt(fl_df_2014_2016,id_vars=[2,9,16],value_vars=[0])
fl_df_melt_2016 = fl_df_melt_2016.drop(['variable'],axis=1)
fl_df_melt_2016 = fl_df_melt_2016[['value',9, 16,2]]
fl_df_melt_2016.columns = ['County','fatalaties','injuries','total_crashes']
fl_df_melt_2016.head(10)

      County fatalaties injuries total_crashes
0    Alachua         46    4,398         5,980
1      Baker         13      352           381
2        Bay         38    2,290         4,089
3   Bradford          6      243           362
4    Brevard         98    6,564         8,752
5    Broward        245   25,361        41,755
6    Calhoun          3      120           194
7  Charlotte         30    1,649         2,721
8     Citrus         24    1,232         1,682
9       Clay         26    1,857         3,053

In [22]:
df_combined_fl_16 = pd.merge(fl_df_melt_2016,pop_combined[['County', 2016]],on="County",how='left')
df_combined_fl_2016 = pd.merge(df_combined_fl_16,metros_fl[['CBSA Title','Metropolitan/Micropolitan Statistical Area','County']],on="County",how='left')
df_combined_fl_2016.head()

     County fatalaties injuries total_crashes      2016                         CBSA Title Metropolitan/Micropolitan Statistical Area
0   Alachua         46    4,398         5,980  263959.0                    Gainesville, FL              Metropolitan Statistical Area
1     Baker         13      352           381   27884.0                   Jacksonville, FL              Metropolitan Statistical Area
2       Bay         38    2,290         4,089  183634.0                    Panama City, FL              Metropolitan Statistical Area
3  Bradford          6      243           362   26740.0                                NaN                                        NaN
4   Brevard         98    6,564         8,752  576874.0  Palm Bay-Melbourne-Titusville, FL              Metropolitan Statistical Area

In [23]:
fl_df_melt_2015 = pd.melt(fl_df_2014_2016,id_vars=[10,17,3],value_vars=[0])
fl_df_melt_2015 = fl_df_melt_2015.drop(['variable'],axis=1)
fl_df_melt_2015 = fl_df_melt_2015[['value',10,17,3]]
fl_df_melt_2015.columns = ['County','fatalaties','injuries','total_crashes']
fl_df_melt_2015.head(10)

      County fatalaties injuries total_crashes
0    Alachua         37    3,826         5,027
1      Baker         12      286           373
2        Bay         32    2,317         3,946
3   Bradford         10      241           348
4    Brevard         82    6,130         8,387
5    Broward        221   23,473        38,409
6    Calhoun          4      118           180
7  Charlotte         23    1,616         2,556
8     Citrus         29    1,124         1,502
9       Clay         33    1,727         2,817

In [24]:
df_combined_fl_15 = pd.merge(fl_df_melt_2015,pop_combined[['County', 2015]],on="County",how='left')
df_combined_fl_2015 = pd.merge(df_combined_fl_15,metros_fl[['CBSA Title','Metropolitan/Micropolitan Statistical Area','County']],on="County",how='left')
df_combined_fl_2015.head()

     County fatalaties injuries total_crashes      2015                         CBSA Title Metropolitan/Micropolitan Statistical Area
0   Alachua         37    3,826         5,027  259052.0                    Gainesville, FL              Metropolitan Statistical Area
1     Baker         12      286           373   27355.0                   Jacksonville, FL              Metropolitan Statistical Area
2       Bay         32    2,317         3,946  181488.0                    Panama City, FL              Metropolitan Statistical Area
3  Bradford         10      241           348   26748.0                                NaN                                        NaN
4   Brevard         82    6,130         8,387  565746.0  Palm Bay-Melbourne-Titusville, FL              Metropolitan Statistical Area

In [25]:
fl_df_melt_2014 = pd.melt(fl_df_2014_2016,id_vars=[11,18,4],value_vars=[0])
fl_df_melt_2014 = fl_df_melt_2014.drop(['variable'],axis=1)
fl_df_melt_2014 = fl_df_melt_2014[['value',11,18,4]]
fl_df_melt_2014.columns = ['County','fatalaties','injuries','total_crashes']
fl_df_melt_2014.head(10)

      County fatalaties injuries total_crashes
0    Alachua         30    3,113         4,193
1      Baker          2      264           246
2        Bay         30    2,023         3,337
3   Bradford          4      219           274
4    Brevard         65    5,386         7,661
5    Broward        173   22,154        34,833
6    Calhoun          2       94           134
7  Charlotte         19    1,290         2,241
8     Citrus         26    1,099         1,471
9       Clay         18    1,784         2,594

In [26]:
df_combined_fl_14 = pd.merge(fl_df_melt_2014,pop_combined[['County', 2014]],on="County",how='left')
df_combined_fl_2014 = pd.merge(df_combined_fl_14,metros_fl[['CBSA Title','Metropolitan/Micropolitan Statistical Area','County']],on="County",how='left')
df_combined_fl_2014.head()

     County fatalaties injuries total_crashes      2014                         CBSA Title Metropolitan/Micropolitan Statistical Area
0   Alachua         30    3,113         4,193  255456.0                    Gainesville, FL              Metropolitan Statistical Area
1     Baker          2      264           246   27122.0                   Jacksonville, FL              Metropolitan Statistical Area
2       Bay         30    2,023         3,337  178289.0                    Panama City, FL              Metropolitan Statistical Area
3  Bradford          4      219           274   26552.0                                NaN                                        NaN
4   Brevard         65    5,386         7,661  555548.0  Palm Bay-Melbourne-Titusville, FL              Metropolitan Statistical Area

In [27]:
df_combined_fl_2014.to_excel('C:/Users/iulia/Documents/NSS/projects/capstone/data/cleaned_data/2014_FL.xlsx', engine='xlsxwriter',index=False)
df_combined_fl_2015.to_excel('C:/Users/iulia/Documents/NSS/projects/capstone/data/cleaned_data/2015_FL.xlsx', engine='xlsxwriter',index=False)
df_combined_fl_2016.to_excel('C:/Users/iulia/Documents/NSS/projects/capstone/data/cleaned_data/2016_FL.xlsx', engine='xlsxwriter',index=False)

### Extracting data for years 2017

In [449]:
file_2017 ='C:/Users/iulia/Documents/NSS/projects/capstone/data/raw_data/FL/FL_2017.pdf'

In [512]:
pdf = pdfplumber.open(file_2017)
txt = pdf.pages[35].extract_text()
txt = txt[203:]
txt = txt[:-26]
txt = txt.split("\n")

In [520]:
new_list = []
for i in txt:
    my_dict = {}
    print(i)
    if i.startswith('Total Crashes'):
        crashes = re.findall("(?<=Total Crashes)\s\d+\,?\d+",i)
        my_dict['total_crashes'] = crashes
    elif i.startswith('Total Fatalities'):
          fatalaties = re.findall("(?<=Total Fatalities)\s\d+\,?\d+",i)
          my_dict['fatalaties'] = fatalaties
    elif i.startswith('Total Injuries'):
          injuries = re.findall("(?<=Total Injuries)\s\d+\,?\d+",i)
          my_dict['injuries'] = injuries
    elif any(i):
         county = i 
         my_dict['County'] = county  
    else:
        continue
#     my_dict['County'] = county
#     my_dict['fatalaties'] = fatalaties
#     my_dict['injuries'] = injuries
#     my_dict['total_crashes'] = crashes
    new_list.append(my_dict)
    print(my_dict)

Total Crashes 6,075 5,980 5,027 1.59% 5,694
{'total_crashes': [' 6,075']}
Total Fatalities 55 46 37 19.57% 46
{'fatalaties': [' 55']}
Alachua
{'County': 'Alachua'}
Total Injuries 4,657 4,398 3,826 5.89% 4,294
{'injuries': [' 4,657']}
Total Crashes 431 381 373 13.12% 395
{'total_crashes': [' 431']}
Total Fatalities 7 13 12 -46.15% 11
{'fatalaties': []}
Baker
{'County': 'Baker'}
Total Injuries 321 352 286 -8.81% 320
{'injuries': [' 321']}
Total Crashes 4,051 4,089 3,946 -0.93% 4,029
{'total_crashes': [' 4,051']}
Total Fatalities 29 38 32 -23.68% 33
{'fatalaties': [' 29']}
Bay
{'County': 'Bay'}
Total Injuries 2,192 2,290 2,317 -4.28% 2,266
{'injuries': [' 2,192']}
Total Crashes 381 362 348 5.25% 364
{'total_crashes': [' 381']}
Total Fatalities 7 6 10 16.67% 8
{'fatalaties': []}
Bradford
{'County': 'Bradford'}
Total Injuries 250 243 241 2.88% 245
{'injuries': [' 250']}
Total Crashes 9,056 8,752 8,387 3.47% 8,732
{'total_crashes': [' 9,056']}
Total Fatalities 84 98 82 -14.29% 88
{'fatalaties': [' 84']}
Brevard
{'County': 'Brevard'}
Total Injuries 6,505 6,564 6,130 -0.90% 6,400
{'injuries': [' 6,505']}
Total Crashes 41,337 41,755 38,409 -1.00% 40,500
{'total_crashes': [' 41,337']}
Total Fatalities 225 245 221 -8.16% 230
{'fatalaties': [' 225']}
Broward
{'County': 'Broward'}
Total Injuries 24,762 25,361 23,473 -2.36% 24,532
{'injuries': [' 24,762']}
Total Crashes 207 194 180 6.70% 194
{'total_crashes': [' 207']}
Total Fatalities 1 3 4 -66.67% 3
{'fatalaties': []}
Calhoun
{'County': 'Calhoun'}
Total Injuries 126 120 118 5.00% 121
{'injuries': [' 126']}
Total Crashes 2,780 2,721 2,556 2.17% 2,686
{'total_crashes': [' 2,780']}
Total Fatalities 27 30 23 -10.00% 27
{'fatalaties': [' 27']}
Charlotte
{'County': 'Charlotte'}
Total Injuries 1,594 1,649 1,616 -3.34% 1,620
{'injuries': [' 1,594']}
Total Crashes 1,781 1,682 1,502 5.89% 1,655
{'total_crashes': [' 1,781']}
Total Fatalities 31 24 29 29.17% 28
{'fatalaties': [' 31']}
Citrus
{'County': 'Citrus'}
Total Injuries 1,382 1,232 1,124 12.18% 1,246
{'injuries': [' 1,382']}
Total Crashes 2,961 3,053 2,817 -3.01% 2,944
{'total_crashes': [' 2,961']}
Clay
{'County': 'Clay'}
Total Fatalities 21 26 33 -19.23% 27
{'fatalaties': [' 21']}

In [521]:
new_list

[{'total_crashes': [' 6,075']},
 {'fatalaties': [' 55']},
 {'County': 'Alachua'},
 {'injuries': [' 4,657']},
 {'total_crashes': [' 431']},
 {'fatalaties': []},
 {'County': 'Baker'},
 {'injuries': [' 321']},
 {'total_crashes': [' 4,051']},
 {'fatalaties': [' 29']},
 {'County': 'Bay'},
 {'injuries': [' 2,192']},
 {'total_crashes': [' 381']},
 {'fatalaties': []},
 {'County': 'Bradford'},
 {'injuries': [' 250']},
 {'total_crashes': [' 9,056']},
 {'fatalaties': [' 84']},
 {'County': 'Brevard'},
 {'injuries': [' 6,505']},
 {'total_crashes': [' 41,337']},
 {'fatalaties': [' 225']},
 {'County': 'Broward'},
 {'injuries': [' 24,762']},
 {'total_crashes': [' 207']},
 {'fatalaties': []},
 {'County': 'Calhoun'},
 {'injuries': [' 126']},
 {'total_crashes': [' 2,780']},
 {'fatalaties': [' 27']},
 {'County': 'Charlotte'},
 {'injuries': [' 1,594']},
 {'total_crashes': [' 1,781']},
 {'fatalaties': [' 31']},
 {'County': 'Citrus'},
 {'injuries': [' 1,382']},
 {'total_crashes': [' 2,961']},
 {'County': 'Clay'},
 {'fatalaties': [' 21']}]

In [522]:
df = pd.DataFrame(new_list)
# df = df.drop([3,4,5,6], axis=1)
df

   total_crashes fatalaties     County   injuries
0       [ 6,075]        NaN        NaN        NaN
1            NaN      [ 55]        NaN        NaN
2            NaN        NaN    Alachua        NaN
3            NaN        NaN        NaN   [ 4,657]
4         [ 431]        NaN        NaN        NaN
5            NaN         []        NaN        NaN
6            NaN        NaN      Baker        NaN
7            NaN        NaN        NaN     [ 321]
8       [ 4,051]        NaN        NaN        NaN
9            NaN      [ 29]        NaN        NaN
10           NaN        NaN        Bay        NaN
11           NaN        NaN        NaN   [ 2,192]
12        [ 381]        NaN        NaN        NaN
13           NaN         []        NaN        NaN
14           NaN        NaN   Bradford        NaN
15           NaN        NaN        NaN     [ 250]
16      [ 9,056]        NaN        NaN        NaN
17           NaN      [ 84]        NaN        NaN
18           NaN        NaN    Brevard        NaN
19           NaN        NaN        NaN   [ 6,505]
20     [ 41,337]        NaN        NaN        NaN
21           NaN     [ 225]        NaN        NaN
22           NaN        NaN    Broward        NaN
23           NaN        NaN        NaN  [ 24,762]
24        [ 207]        NaN        NaN        NaN
25           NaN         []        NaN        NaN
26           NaN        NaN    Calhoun        NaN
27           NaN        NaN        NaN     [ 126]
28      [ 2,780]        NaN        NaN        NaN
29           NaN      [ 27]        NaN        NaN
30           NaN        NaN  Charlotte        NaN
31           NaN        NaN        NaN   [ 1,594]
32      [ 1,781]        NaN        NaN        NaN
33           NaN      [ 31]        NaN        NaN
34           NaN        NaN     Citrus        NaN
35           NaN        NaN        NaN   [ 1,382]
36      [ 2,961]        NaN        NaN        NaN
37           NaN        NaN       Clay        NaN
38           NaN      [ 21]        NaN        NaN

In [435]:
new_list =[]
pages = list(range(35,42))
pdf = pdfplumber.open(file_2017)
for page in pages:    
    table= pdf.pages[page].extract_table()
    table = table[1:]
    t = {}
    t = table
    print(t)
#     df = pd.DataFrame(table)
    new_list.append(t)

[['Alachua', 'Total Crashes', '6,075', '5,980', '5,027', '1.59%\n19.57%\n5.89%', '5,694\n46\n4,294'], [None, 'Total Fatalities', '55', '46', '37', None, None], [None, 'Total Injuries', '4,657', '4,398', '3,826', None, None], [None, '', '', '', '', '', ''], ['Baker', 'Total Crashes', '431', '381', '373', '13.12%\n-46.15%\n-8.81%', '395\n11\n320'], [None, 'Total Fatalities', '7', '13', '12', None, None], [None, 'Total Injuries', '321', '352', '286', None, None], [None, '', '', '', '', '', ''], ['Bay', 'Total Crashes', '4,051', '4,089', '3,946', '-0.93%\n-23.68%\n-4.28%', '4,029\n33\n2,266'], [None, 'Total Fatalities', '29', '38', '32', None, None], [None, 'Total Injuries', '2,192', '2,290', '2,317', None, None], [None, '', '', '', '', '', ''], ['Bradford', 'Total Crashes', '381', '362', '348', '5.25%\n16.67%\n2.88%', '364\n8\n245'], [None, 'Total Fatalities', '7', '6', '10', None, None], [None, 'Total Injuries', '250', '243', '241', None, None], [None, '', '', '', '', '', ''], ['Brevard', 'Total Crashes', '9,056', '8,752', '8,387', '3.47%\n-14.29%\n-0.90%', '8,732\n88\n6,400'], [None, 'Total Fatalities', '84', '98', '82', None, None], [None, 'Total Injuries', '6,505', '6,564', '6,130', None, None], [None, '', '', '', '', '', ''], ['Broward', 'Total Crashes', '41,337', '41,755', '38,409', '-1.00%\n-8.16%\n-2.36%', '40,500\n230\n24,532'], [None, 'Total Fatalities', '225', '245', '221', None, None], [None, 'Total Injuries', '24,762', '25,361', '23,473', None, None], [None, '', '', '', '', '', ''], ['Calhoun', 'Total Crashes', '207', '194', '180', '6.70%\n-66.67%\n5.00%', '194\n3\n121'], [None, 'Total Fatalities', '1', '3', '4', None, None], [None, 'Total Injuries', '126', '120', '118', None, None], [None, '', '', '', '', '', ''], ['Charlotte', 'Total Crashes', '2,780', '2,721', '2,556', '2.17%\n-10.00%\n-3.34%', '2,686\n27\n1,620'], [None, 'Total Fatalities', '27', '30', '23', None, None], [None, 'Total Injuries', '1,594', '1,649', '1,616', None, None], [None, '', '', '', '', '', ''], ['Citrus', 'Total Crashes', '1,781', '1,682', '1,502', '5.89%\n29.17%\n12.18%', '1,655\n28\n1,246'], [None, 'Total Fatalities', '31', '24', '29', None, None], [None, 'Total Injuries', '1,382', '1,232', '1,124', None, None], [None, '', '', '', '', '', ''], ['Clay', 'Total Crashes', '2,961', '3,053', '2,817', '-3.01%', '2,944'], [None, 'Total Fatalities', '21', '26', '33', None, None]]
[['Clay', 'Total Injuries', '1,804', '1,857', '1,727', '-2.85%', '1,796'], [None, '', '', '', '', '', ''], ['Collier', 'Total Crashes', '5,135', '5,273', '4,632', '-2.62%\n-34.29%\n-2.29%', '5,013\n36\n2,779'], [None, 'Total Fatalities', '23', '35', '49', None, None], [None, 'Total Injuries', '2,819', '2,885', '2,633', None, None], [None, '', '', '', '', '', ''], ['Columbia', 'Total Crashes', '1,490', '1,527', '1,362', '-2.42%\n0.00%\n-3.87%', '1,460\n21\n1,121'], [None, 'Total Fatalities', '20', '20', '22', None, None], [None, 'Total Injuries', '1,117', '1,162', '1,084', None, None], [None, '', '', '', '', '', ''], ['DeSoto', 'Total Crashes', '516', '453', '408', '13.91%\n36.36%\n28.24%', '459\n14\n337'], [None, 'Total Fatalities', '15', '11', '16', None, None], [None, 'Total Injuries', '386', '301', '323', None, None], [None, '', '', '', '', '', ''], ['Dixie', 'Total Crashes', '151', '160', '159', '-5.63%\n100.00%\n25.00%', '157\n4\n109'], [None, 'Total Fatalities', '4', '2', '6', None, None], [None, 'Total Injuries', '120', '96', '110', None, None], [None, '', '', '', '', '', ''], ['Duval', 'Total Crashes', '24,734', '24,107', '22,423', '2.60%\n-3.21%\n5.67%', '23,755\n147\n14,278'], [None, 'Total Fatalities', '151', '156', '133', None, None], [None, 'Total Injuries', '14,850', '14,053', '13,931', None, None], [None, '', '', '', '', '', ''], ['Escambia', 'Total Crashes', '6,627', '7,075', '6,733', '-6.33%\n10.87%\n-19.87%', '6,812\n49\n5,511'], [None, 'Total Fatalities', '51', '46', '49', None, None], [None, 'Total Injuries', '4,686', '5,848', '6,000', None, None], [None, '', '', '', '', '', ''], ['Flagler', 'Total Crashes', '1,190', '1,174', '1,377', '1.36%\n32.00%\n-2.66%', '1,247\n23\n886'], [None, 'Total Fatalities', '33', '25', '12', None, None], [None, 'Total Injuries', '806', '828', '1,023', None, None], [None, '', '', '', '', '', ''], ['Franklin', 'Total Crashes', '47', '115', '135', '-59.13%\n-80.00%\n-56.25%', '99\n2\n66'], [None, 'Total Fatalities', '1', '5', '1', None, None], [None, 'Total Injuries', '35', '80', '84', None, None], [None, '', '', '', '', '', ''], ['Gadsden', 'Total Crashes', '669', '680', '590', '-1.62%\n5.56%\n-14.64%', '646\n16\n430'], [None, 'Total Fatalities', '19', '18', '12', None, None], [None, 'Total Injuries', '414', '485', '392', None, None], [None, '', '', '', '', '', ''], ['Gilchrist', 'Total Crashes', '189', '194', '176', '-2.58%', '186'], [None, 'Total Fatalities', '4', '5', '3', '-20.00%', '4'], [None, 'Total Injuries', '116', '123', '126', '-5.69%', '122'], [None, '', '', '', '', '', ''], ['Glades', 'Total Crashes', '202', '178', '155', None, None]]
[['Glades', 'Total Fatalities', '13', '2', '14', '550.00%\n57.73%', '10\n121'], [None, 'Total Injuries', '153', '97', '114', None, None], [None, '', '', '', '', '', ''], ['Gulf', 'Total Crashes', '183', '181', '140', '1.10%\n800.00%\n-18.49%', '168\n4\n99'], [None, 'Total Fatalities', '9', '1', '2', None, None], [None, 'Total Injuries', '97', '119', '81', None, None], [None, '', '', '', '', '', ''], ['Hamilton', 'Total Crashes', '321', '269', '253', '19.33%\n80.00%\n32.70%', '281\n6\n174'], [None, 'Total Fatalities', '9', '5', '5', None, None], [None, 'Total Injuries', '211', '159', '151', None, None], [None, '', '', '', '', '', ''], ['Hardee', 'Total Crashes', '476', '416', '382', '14.42%\n140.00%\n22.16%', '425\n6\n345'], [None, 'Total Fatalities', '12', '5', '2', None, None], [None, 'Total Injuries', '408', '334', '292', None, None], [None, '', '', '', '', '', ''], ['Hendry', 'Total Crashes', '405', '331', '270', '22.36%\n-52.63%\n10.62%', '335\n13\n270'], [None, 'Total Fatalities', '9', '19', '10', None, None], [None, 'Total Injuries', '302', '273', '235', None, None], [None, '', '', '', '', '', ''], ['Hernando', 'Total Crashes', '2,312', '2,142', '2,153', '7.94%\n36.00%\n4.06%', '2,202\n31\n2,108'], [None, 'Total Fatalities', '34', '25', '35', None, None], [None, 'Total Injuries', '2,178', '2,093', '2,052', None, None], [None, '', '', '', '', '', ''], ['Highlands', 'Total Crashes', '1,367', '1,329', '1,218', '2.86%\n-14.29%\n-2.04%', '1,305\n20\n924'], [None, 'Total Fatalities', '18', '21', '22', None, None], [None, 'Total Injuries', '958', '978', '836', None, None], [None, '', '', '', '', '', ''], ['Hillsborough', 'Total Crashes', '27,909', '27,660', '25,967', '0.90%\n-16.23%\n-3.26%', '27,179\n203\n20,650'], [None, 'Total Fatalities', '191', '228', '190', None, None], [None, 'Total Injuries', '20,682', '21,380', '19,889', None, None], [None, '', '', '', '', '', ''], ['Holmes', 'Total Crashes', '254', '284', '259', '-10.56%\n11.11%\n13.29%', '266\n9\n159'], [None, 'Total Fatalities', '10', '9', '9', None, None], [None, 'Total Injuries', '179', '158', '141', None, None], [None, '', '', '', '', '', ''], ['Indian River', 'Total Crashes', '1,728', '2,360', '2,204', '-26.78%\n7.69%\n-22.93%', '2,097\n26\n1,247'], [None, 'Total Fatalities', '28', '26', '24', None, None], [None, 'Total Injuries', '1,079', '1,400', '1,262', None, None], [None, '', '', '', '', '', ''], ['Jackson', 'Total Crashes', '814', '903', '777', '-9.86%', '831'], [None, 'Total Fatalities', '18', '18', '30', '0.00%', '22'], [None, 'Total Injuries', '474', '559', '540', '-15.21%', '524'], [None, '', '', '', '', '', '']]
[['Jefferson', 'Total Crashes', '264', '320', '286', '-17.50%', '290'], [None, 'Total Fatalities', '4', '7', '5', '-42.86%\n-15.29%', '5\n143'], [None, 'Total Injuries', '133', '157', '139', None, None], [None, '', '', '', '', '', ''], ['Lafayette', 'Total Crashes', '35', '57', '42', '-38.60%\n150.00%\n5.41%', '45\n4\n38'], [None, 'Total Fatalities', '5', '2', '4', None, None], [None, 'Total Injuries', '39', '37', '37', None, None], [None, '', '', '', '', '', ''], ['Lake', 'Total Crashes', '4,731', '4,339', '3,918', '9.03%\n-12.73%\n5.53%', '4,329\n55\n3,403'], [None, 'Total Fatalities', '48', '55', '61', None, None], [None, 'Total Injuries', '3,627', '3,437', '3,145', None, None], [None, '', '', '', '', '', ''], ['Lee', 'Total Crashes', '12,709', '11,828', '10,425', '7.45%\n7.62%\n3.46%', '11,654\n104\n7,384'], [None, 'Total Fatalities', '113', '105', '95', None, None], [None, 'Total Injuries', '7,832', '7,570', '6,751', None, None], [None, '', '', '', '', '', ''], ['Leon', 'Total Crashes', '7,113', '7,520', '6,960', '-5.41%\n-15.00%\n-4.19%', '7,198\n34\n3,950'], [None, 'Total Fatalities', '34', '40', '29', None, None], [None, 'Total Injuries', '3,982', '4,156', '3,711', None, None], [None, '', '', '', '', '', ''], ['Levy', 'Total Crashes', '584', '563', '523', '3.73%\n0.00%\n6.65%', '557\n22\n417'], [None, 'Total Fatalities', '23', '23', '21', None, None], [None, 'Total Injuries', '449', '421', '381', None, None], [None, '', '', '', '', '', ''], ['Liberty', 'Total Crashes', '99', '100', '90', '-1.00%\n-25.00%\n29.82%', '96\n2\n65'], [None, 'Total Fatalities', '3', '4', '0', None, None], [None, 'Total Injuries', '74', '57', '65', None, None], [None, '', '', '', '', '', ''], ['Madison', 'Total Crashes', '350', '318', '317', '10.06%\n-71.43%\n-3.83%', '328\n5\n192'], [None, 'Total Fatalities', '2', '7', '7', None, None], [None, 'Total Injuries', '201', '209', '167', None, None], [None, '', '', '', '', '', ''], ['Manatee', 'Total Crashes', '5,973', '6,208', '5,722', '-3.79%\n-23.94%\n3.71%', '5,968\n60\n4,319'], [None, 'Total Fatalities', '54', '71', '56', None, None], [None, 'Total Injuries', '4,610', '4,445', '3,901', None, None], [None, '', '', '', '', '', ''], ['Marion', 'Total Crashes', '6,691', '6,339', '5,903', '5.55%', '6,311'], [None, 'Total Fatalities', '90', '70', '70', '28.57%', '77'], [None, 'Total Injuries', '5,135', '4,160', '4,036', '23.44%', '4,444'], [None, '', '', '', '', '', ''], ['Martin', 'Total Crashes', '3,466', '2,576', '2,464', '34.55%', '2,835'], [None, 'Total Fatalities', '25', '34', '30', '-26.47%', '30'], [None, 'Total Injuries', '2,087', '1,603', '1,486', '30.19%', '1,725']]
[['Martin', '', '', '', '', '', ''], ['Miami-Dade', 'Total Crashes', '65,986', '64,070', '63,451', '2.99%', '64,502'], [None, 'Total Fatalities', '285', '294', '339', '-3.06%\n-3.03%', '306\n32,844'], [None, 'Total Injuries', '32,389', '33,400', '32,742', None, None], [None, '', '', '', '', '', ''], ['Monroe', 'Total Crashes', '1,255', '2,391', '2,204', '-47.51%\n-43.75%\n-49.18%', '1,950\n24\n1,060'], [None, 'Total Fatalities', '18', '32', '21', None, None], [None, 'Total Injuries', '650', '1,279', '1,252', None, None], [None, '', '', '', '', '', ''], ['Nassau', 'Total Crashes', '1,129', '1,116', '1,013', '1.16%\n-18.18%\n16.53%', '1,086\n18\n733'], [None, 'Total Fatalities', '18', '22', '15', None, None], [None, 'Total Injuries', '825', '708', '667', None, None], [None, '', '', '', '', '', ''], ['Okaloosa', 'Total Crashes', '3,527', '3,214', '3,362', '9.74%\n52.38%\n7.31%', '3,368\n29\n2,056'], [None, 'Total Fatalities', '32', '21', '35', None, None], [None, 'Total Injuries', '2,172', '2,024', '1,973', None, None], [None, '', '', '', '', '', ''], ['Okeechobee', 'Total Crashes', '719', '632', '605', '13.77%\n30.00%\n36.29%', '652\n10\n430'], [None, 'Total Fatalities', '13', '10', '6', None, None], [None, 'Total Injuries', '507', '372', '412', None, None], [None, '', '', '', '', '', ''], ['Orange', 'Total Crashes', '31,004', '29,130', '28,130', '6.43%\n9.94%\n5.23%', '29,421\n167\n20,654'], [None, 'Total Fatalities', '188', '171', '142', None, None], [None, 'Total Injuries', '21,646', '20,570', '19,747', None, None], [None, '', '', '', '', '', ''], ['Osceola', 'Total Crashes', '6,494', '6,337', '5,639', '2.48%\n12.24%\n3.15%', '6,157\n51\n5,403'], [None, 'Total Fatalities', '55', '49', '49', None, None], [None, 'Total Injuries', '5,436', '5,270', '5,504', None, None], [None, '', '', '', '', '', ''], ['Palm Beach', 'Total Crashes', '27,273', '27,838', '24,887', '-2.03%\n-10.50%\n-3.87%', '26,666\n177\n15,906'], [None, 'Total Fatalities', '162', '181', '187', None, None], [None, 'Total Injuries', '15,912', '16,552', '15,254', None, None], [None, '', '', '', '', '', ''], ['Pasco', 'Total Crashes', '7,793', '7,834', '7,464', '-0.52%\n24.42%', '7,697\n88'], [None, 'Total Fatalities', '107', '86', '70', None, None], [None, 'Total Injuries', '6,382', '6,621', '6,777', '-3.61%', '6,593'], [None, '', '', '', '', '', ''], ['Pinellas', 'Total Crashes', '17,968', '19,098', '19,060', '-5.92%', '18,709'], [None, 'Total Fatalities', '119', '128', '103', '-7.03%\n-5.21%', '117\n11,270'], [None, 'Total Injuries', '11,107', '11,717', '10,987', None, None], [None, '', '', '', '', '', ''], ['Polk', 'Total Crashes', '11,378', '9,912', '10,071', '14.79%', '10,454'], [None, 'Total Fatalities', '112', '137', '112', '-18.25%', '120']]
[['Polk', 'Total Injuries', '7,555', '6,804', '7,301', '11.04%', '7,220'], [None, '', '', '', '', '', ''], ['Putnam', 'Total Crashes', '1,210', '1,157', '1,070', '4.58%', '1,146'], [None, 'Total Fatalities', '26', '26', '20', '0.00%\n7.00%', '24\n856'], [None, 'Total Injuries', '902', '843', '824', None, None], [None, '', '', '', '', '', ''], ['Santa Rosa', 'Total Crashes', '1,893', '1,984', '1,944', '-4.59%\n46.15%\n7.18%', '1,940\n17\n1,584'], [None, 'Total Fatalities', '19', '13', '19', None, None], [None, 'Total Injuries', '1,597', '1,490', '1,664', None, None], [None, '', '', '', '', '', ''], ['Sarasota', 'Total Crashes', '6,625', '6,571', '5,884', '0.82%\n-27.94%\n-0.05%', '6,360\n58\n3,875'], [None, 'Total Fatalities', '49', '68', '58', None, None], [None, 'Total Injuries', '4,002', '4,004', '3,620', None, None], [None, '', '', '', '', '', ''], ['Seminole', 'Total Crashes', '7,211', '6,649', '6,747', '8.45%\n17.07%\n2.71%', '6,869\n44\n4,631'], [None, 'Total Fatalities', '48', '41', '44', None, None], [None, 'Total Injuries', '4,660', '4,537', '4,697', None, None], [None, '', '', '', '', '', ''], ['St. Johns', 'Total Crashes', '3,549', '3,468', '3,344', '2.34%\n40.00%\n-5.33%', '3,454\n36\n2,228'], [None, 'Total Fatalities', '42', '30', '37', None, None], [None, 'Total Injuries', '2,113', '2,232', '2,340', None, None], [None, '', '', '', '', '', ''], ['St. Lucie', 'Total Crashes', '5,062', '4,803', '4,338', '5.39%\n17.14%\n1.31%', '4,734\n37\n2,998'], [None, 'Total Fatalities', '41', '35', '36', None, None], [None, 'Total Injuries', '3,093', '3,053', '2,849', None, None], [None, '', '', '', '', '', ''], ['Sumter', 'Total Crashes', '1,650', '1,533', '1,356', '7.63%\n35.29%\n6.16%', '1,513\n19\n911'], [None, 'Total Fatalities', '23', '17', '17', None, None], [None, 'Total Injuries', '983', '926', '824', None, None], [None, '', '', '', '', '', ''], ['Suwannee', 'Total Crashes', '713', '739', '591', '-3.52%\n-30.00%\n-12.09%', '681\n15\n466'], [None, 'Total Fatalities', '14', '20', '12', None, None], [None, 'Total Injuries', '451', '513', '433', None, None], [None, '', '', '', '', '', ''], ['Taylor', 'Total Crashes', '325', '343', '315', '-5.25%', '328'], [None, 'Total Fatalities', '13', '6', '4', '116.67%', '8'], [None, 'Total Injuries', '209', '222', '219', '-5.86%', '217'], [None, '', '', '', '', '', ''], ['Union', 'Total Crashes', '136', '122', '103', '11.48%\n100.00%\n48.81%', '120\n3\n106'], [None, 'Total Fatalities', '4', '2', '3', None, None], [None, 'Total Injuries', '125', '84', '110', None, None], [None, '', '', '', '', '', ''], ['Volusia', None, None, None, None, None, None]]

[['Volusia', 'Total Fatalities', '130', '122', '87', '6.56%', '113'], [None, 'Total Injuries', '6,527', '5,872', '5,750', '11.15%', '6,050'], [None, '', '', '', '', '', ''], ['Wakulla', 'Total Crashes', '432', '366', '348', '18.03%', '382'], [None, 'Total Fatalities', '7', '14', '2', '-50.00%', '8'], [None, 'Total Injuries', '302', '264', '261', '14.39%', '276'], [None, '', '', '', '', '', ''], ['Walton', 'Total Crashes', '1,300', '1,305', '1,248', '-0.38%\n23.53%\n-14.02%', '1,284\n16\n842'], [None, 'Total Fatalities', '21', '17', '9', None, None], [None, 'Total Injuries', '748', '870', '908', None, None], [None, '', '', '', '', '', ''], ['Washington', 'Total Crashes', '358', '322', '349', '11.18%\n100.00%\n-7.04%', '343\n7\n203'], [None, 'Total Fatalities', '10', '5', '5', None, None], [None, 'Total Injuries', '185', '199', '225', None, None], [None, '', '', '', '', '', '']]

In [434]:
new_list[1]

[['Clay', 'Total Injuries', '1,804', '1,857', '1,727', '-2.85%', '1,796'],
 [None, '', '', '', '', '', ''],
 ['Collier',
  'Total Crashes',
  '5,135',
  '5,273',
  '4,632',
  '-2.62%\n-34.29%\n-2.29%',
  '5,013\n36\n2,779'],
 [None, 'Total Fatalities', '23', '35', '49', None, None],
 [None, 'Total Injuries', '2,819', '2,885', '2,633', None, None],
 [None, '', '', '', '', '', ''],
 ['Columbia',
  'Total Crashes',
  '1,490',
  '1,527',
  '1,362',
  '-2.42%\n0.00%\n-3.87%',
  '1,460\n21\n1,121'],
 [None, 'Total Fatalities', '20', '20', '22', None, None],
 [None, 'Total Injuries', '1,117', '1,162', '1,084', None, None],
 [None, '', '', '', '', '', ''],
 ['DeSoto',
  'Total Crashes',
  '516',
  '453',
  '408',
  '13.91%\n36.36%\n28.24%',
  '459\n14\n337'],
 [None, 'Total Fatalities', '15', '11', '16', None, None],
 [None, 'Total Injuries', '386', '301', '323', None, None],
 [None, '', '', '', '', '', ''],
 ['Dixie',
  'Total Crashes',
  '151',
  '160',
  '159',
  '-5.63%\n100.00%\n25.00%',
  '157\n4\n109'],
 [None, 'Total Fatalities', '4', '2', '6', None, None],
 [None, 'Total Injuries', '120', '96', '110', None, None],
 [None, '', '', '', '', '', ''],
 ['Duval',
  'Total Crashes',
  '24,734',
  '24,107',
  '22,423',
  '2.60%\n-3.21%\n5.67%',
  '23,755\n147\n14,278'],
 [None, 'Total Fatalities', '151', '156', '133', None, None],
 [None, 'Total Injuries', '14,850', '14,053', '13,931', None, None],
 [None, '', '', '', '', '', ''],
 ['Escambia',
  'Total Crashes',
  '6,627',
  '7,075',
  '6,733',
  '-6.33%\n10.87%\n-19.87%',
  '6,812\n49\n5,511'],
 [None, 'Total Fatalities', '51', '46', '49', None, None],
 [None, 'Total Injuries', '4,686', '5,848', '6,000', None, None],
 [None, '', '', '', '', '', ''],
 ['Flagler',
  'Total Crashes',
  '1,190',
  '1,174',
  '1,377',
  '1.36%\n32.00%\n-2.66%',
  '1,247\n23\n886'],
 [None, 'Total Fatalities', '33', '25', '12', None, None],
 [None, 'Total Injuries', '806', '828', '1,023', None, None],
 [None, '', '', '', '', '', ''],
 ['Franklin',
  'Total Crashes',
  '47',
  '115',
  '135',
  '-59.13%\n-80.00%\n-56.25%',
  '99\n2\n66'],
 [None, 'Total Fatalities', '1', '5', '1', None, None],
 [None, 'Total Injuries', '35', '80', '84', None, None],
 [None, '', '', '', '', '', ''],
 ['Gadsden',
  'Total Crashes',
  '669',
  '680',
  '590',
  '-1.62%\n5.56%\n-14.64%',
  '646\n16\n430'],
 [None, 'Total Fatalities', '19', '18', '12', None, None],
 [None, 'Total Injuries', '414', '485', '392', None, None],
 [None, '', '', '', '', '', ''],
 ['Gilchrist', 'Total Crashes', '189', '194', '176', '-2.58%', '186'],
 [None, 'Total Fatalities', '4', '5', '3', '-20.00%', '4'],
 [None, 'Total Injuries', '116', '123', '126', '-5.69%', '122'],
 [None, '', '', '', '', '', ''],
 ['Glades', 'Total Crashes', '202', '178', '155', None, None]]

In [429]:
d = pd.DataFrame(new_list)

                                                    0                                                  1                                                  2                                                  3                                                  4                                                  5                                                  6
0   [Alachua, Total Crashes, 6,075, 5,980, 5,027, ...  [Clay, Total Injuries, 1,804, 1,857, 1,727, -2...  [Glades, Total Fatalities, 13, 2, 14, 550.00%\...  [Jefferson, Total Crashes, 264, 320, 286, -17....                               [Martin, , , , , , ]  [Polk, Total Injuries, 7,555, 6,804, 7,301, 11...  [Volusia, Total Fatalities, 130, 122, 87, 6.56...
1    [None, Total Fatalities, 55, 46, 37, None, None]                                 [None, , , , , , ]   [None, Total Injuries, 153, 97, 114, None, None]  [None, Total Fatalities, 4, 7, 5, -42.86%\n-15...  [Miami-Dade, Total Crashes, 65,986, 64,070, 63...                                 [None, , , , , , ]  [None, Total Injuries, 6,527, 5,872, 5,750, 11...
2   [None, Total Injuries, 4,657, 4,398, 3,826, No...  [Collier, Total Crashes, 5,135, 5,273, 4,632, ...                                 [None, , , , , , ]  [None, Total Injuries, 133, 157, 139, None, None]  [None, Total Fatalities, 285, 294, 339, -3.06%...  [Putnam, Total Crashes, 1,210, 1,157, 1,070, 4...                                 [None, , , , , , ]
3                                  [None, , , , , , ]   [None, Total Fatalities, 23, 35, 49, None, None]  [Gulf, Total Crashes, 183, 181, 140, 1.10%\n80...                                 [None, , , , , , ]  [None, Total Injuries, 32,389, 33,400, 32,742,...  [None, Total Fatalities, 26, 26, 20, 0.00%\n7....  [Wakulla, Total Crashes, 432, 366, 348, 18.03%...
4   [Baker, Total Crashes, 431, 381, 373, 13.12%\n...  [None, Total Injuries, 2,819, 2,885, 2,633, No...      [None, Total Fatalities, 9, 1, 2, None, None]  [Lafayette, Total Crashes, 35, 57, 42, -38.60%...                                 [None, , , , , , ]  [None, Total Injuries, 902, 843, 824, None, None]     [None, Total Fatalities, 7, 14, 2, -50.00%, 8]
5     [None, Total Fatalities, 7, 13, 12, None, None]                                 [None, , , , , , ]    [None, Total Injuries, 97, 119, 81, None, None]      [None, Total Fatalities, 5, 2, 4, None, None]  [Monroe, Total Crashes, 1,255, 2,391, 2,204, -...                                 [None, , , , , , ]  [None, Total Injuries, 302, 264, 261, 14.39%, ...
6   [None, Total Injuries, 321, 352, 286, None, None]  [Columbia, Total Crashes, 1,490, 1,527, 1,362,...                                 [None, , , , , , ]     [None, Total Injuries, 39, 37, 37, None, None]   [None, Total Fatalities, 18, 32, 21, None, None]  [Santa Rosa, Total Crashes, 1,893, 1,984, 1,94...                                 [None, , , , , , ]
7                                  [None, , , , , , ]   [None, Total Fatalities, 20, 20, 22, None, None]  [Hamilton, Total Crashes, 321, 269, 253, 19.33...                                 [None, , , , , , ]  [None, Total Injuries, 650, 1,279, 1,252, None...   [None, Total Fatalities, 19, 13, 19, None, None]  [Walton, Total Crashes, 1,300, 1,305, 1,248, -...
8   [Bay, Total Crashes, 4,051, 4,089, 3,946, -0.9...  [None, Total Injuries, 1,117, 1,162, 1,084, No...      [None, Total Fatalities, 9, 5, 5, None, None]  [Lake, Total Crashes, 4,731, 4,339, 3,918, 9.0...                                 [None, , , , , , ]  [None, Total Injuries, 1,597, 1,490, 1,664, No...    [None, Total Fatalities, 21, 17, 9, None, None]
9    [None, Total Fatalities, 29, 38, 32, None, None]                                 [None, , , , , , ]  [None, Total Injuries, 211, 159, 151, None, None]   [None, Total Fatalities, 48, 55, 61, None, None]  [Nassau, Total Crashes, 1,129, 1,116, 1,013, 1...                                 [None, , , , , , ]  [None, Total Injuries, 748, 870, 908, None, None]
10  [None, Total Injuries, 2,192, 2,290, 2,317, No...  [DeSoto, Total Crashes, 516, 453, 408, 13.91%\...                                 [None, , , , , , ]  [None, Total Injuries, 3,627, 3,437, 3,145, No...   [None, Total Fatalities, 18, 22, 15, None, None]  [Sarasota, Total Crashes, 6,625, 6,571, 5,884,...                                 [None, , , , , , ]
11                                 [None, , , , , , ]   [None, Total Fatalities, 15, 11, 16, None, None]  [Hardee, Total Crashes, 476, 416, 382, 14.42%\...                                 [None, , , , , , ]  [None, Total Injuries, 825, 708, 667, None, None]   [None, Total Fatalities, 49, 68, 58, None, None]  [Washington, Total Crashes, 358, 322, 349, 11....
12  [Bradford, Total Crashes, 381, 362, 348, 5.25%...  [None, Total Injuries, 386, 301, 323, None, None]     [None, Total Fatalities, 12, 5, 2, None, None]  [Lee, Total Crashes, 12,709, 11,828, 10,425, 7...                                 [None, , , , , , ]  [None, Total Injuries, 4,002, 4,004, 3,620, No...     [None, Total Fatalities, 10, 5, 5, None, None]
13     [None, Total Fatalities, 7, 6, 10, None, None]                                 [None, , , , , , ]  [None, Total Injuries, 408, 334, 292, None, None]  [None, Total Fatalities, 113, 105, 95, None, N...  [Okaloosa, Total Crashes, 3,527, 3,214, 3,362,...                                 [None, , , , , , ]  [None, Total Injuries, 185, 199, 225, None, None]
14  [None, Total Injuries, 250, 243, 241, None, None]  [Dixie, Total Crashes, 151, 160, 159, -5.63%\n...                                 [None, , , , , , ]  [None, Total Injuries, 7,832, 7,570, 6,751, No...   [None, Total Fatalities, 32, 21, 35, None, None]  [Seminole, Total Crashes, 7,211, 6,649, 6,747,...                                 [None, , , , , , ]
15                                 [None, , , , , , ]      [None, Total Fatalities, 4, 2, 6, None, None]  [Hendry, Total Crashes, 405, 331, 270, 22.36%\...                                 [None, , , , , , ]  [None, Total Injuries, 2,172, 2,024, 1,973, No...   [None, Total Fatalities, 48, 41, 44, None, None]                                               None
16  [Brevard, Total Crashes, 9,056, 8,752, 8,387, ...   [None, Total Injuries, 120, 96, 110, None, None]    [None, Total Fatalities, 9, 19, 10, None, None]  [Leon, Total Crashes, 7,113, 7,520, 6,960, -5....                                 [None, , , , , , ]  [None, Total Injuries, 4,660, 4,537, 4,697, No...                                               None
17   [None, Total Fatalities, 84, 98, 82, None, None]                                 [None, , , , , , ]  [None, Total Injuries, 302, 273, 235, None, None]   [None, Total Fatalities, 34, 40, 29, None, None]  [Okeechobee, Total Crashes, 719, 632, 605, 13....                                 [None, , , , , , ]                                               None
18  [None, Total Injuries, 6,505, 6,564, 6,130, No...  [Duval, Total Crashes, 24,734, 24,107, 22,423,...                                 [None, , , , , , ]  [None, Total Injuries, 3,982, 4,156, 3,711, No...    [None, Total Fatalities, 13, 10, 6, None, None]  [St. Johns, Total Crashes, 3,549, 3,468, 3,344...                                               None
19                                 [None, , , , , , ]  [None, Total Fatalities, 151, 156, 133, None, ...  [Hernando, Total Crashes, 2,312, 2,142, 2,153,...                                 [None, , , , , , ]  [None, Total Injuries, 507, 372, 412, None, None]   [None, Total Fatalities, 42, 30, 37, None, None]                                               None
20  [Broward, Total Crashes, 41,337, 41,755, 38,40...  [None, Total Injuries, 14,850, 14,053, 13,931,...   [None, Total Fatalities, 34, 25, 35, None, None]  [Levy, Total Crashes, 584, 563, 523, 3.73%\n0....                                 [None, , , , , , ]  [None, Total Injuries, 2,113, 2,232, 2,340, No...                                               None
21  [None, Total Fatalities, 225, 245, 221, None, ...                                 [None, , , , , , ]  [None, Total Injuries, 2,178, 2,093, 2,052, No...   [None, Total Fatalities, 23, 23, 21, None, None]  [Orange, Total Crashes, 31,004, 29,130, 28,130...                                 [None, , , , , , ]                                               None
22  [None, Total Injuries, 24,762, 25,361, 23,473,...  [Escambia, Total Crashes, 6,627, 7,075, 6,733,...                                 [None, , , , , , ]  [None, Total Injuries, 449, 421, 381, None, None]  [None, Total Fatalities, 188, 171, 142, None, ...  [St. Lucie, Total Crashes, 5,062, 4,803, 4,338...                                               None
23                                 [None, , , , , , ]   [None, Total Fatalities, 51, 46, 49, None, None]  [Highlands, Total Crashes, 1,367, 1,329, 1,218...                                 [None, , , , , , ]  [None, Total Injuries, 21,646, 20,570, 19,747,...   [None, Total Fatalities, 41, 35, 36, None, None]                                               None
24  [Calhoun, Total Crashes, 207, 194, 180, 6.70%\...  [None, Total Injuries, 4,686, 5,848, 6,000, No...   [None, Total Fatalities, 18, 21, 22, None, None]  [Liberty, Total Crashes, 99, 100, 90, -1.00%\n...                                 [None, , , , , , ]  [None, Total Injuries, 3,093, 3,053, 2,849, No...                                               None
25      [None, Total Fatalities, 1, 3, 4, None, None]                                 [None, , , , , , ]  [None, Total Injuries, 958, 978, 836, None, None]      [None, Total Fatalities, 3, 4, 0, None, None]  [Osceola, Total Crashes, 6,494, 6,337, 5,639, ...                                 [None, , , , , , ]                                               None
26  [None, Total Injuries, 126, 120, 118, None, None]  [Flagler, Total Crashes, 1,190, 1,174, 1,377, ...                                 [None, , , , , , ]     [None, Total Injuries, 74, 57, 65, None, None]   [None, Total Fatalities, 55, 49, 49, None, None]  [Sumter, Total Crashes, 1,650, 1,533, 1,356, 7...                                               None
27                                 [None, , , , , , ]   [None, Total Fatalities, 33, 25, 12, None, None]  [Hillsborough, Total Crashes, 27,909, 27,660, ...                                 [None, , , , , , ]  [None, Total Injuries, 5,436, 5,270, 5,504, No...   [None, Total Fatalities, 23, 17, 17, None, None]                                               None
28  [Charlotte, Total Crashes, 2,780, 2,721, 2,556...  [None, Total Injuries, 806, 828, 1,023, None, ...  [None, Total Fatalities, 191, 228, 190, None, ...  [Madison, Total Crashes, 350, 318, 317, 10.06%...                                 [None, , , , , , ]  [None, Total Injuries, 983, 926, 824, None, None]                                               None
29   [None, Total Fatalities, 27, 30, 23, None, None]                                 [None, , , , , , ]  [None, Total Injuries, 20,682, 21,380, 19,889,...      [None, Total Fatalities, 2, 7, 7, None, None]  [Palm Beach, Total Crashes, 27,273, 27,838, 24...                                 [None, , , , , , ]                                               None
30  [None, Total Injuries, 1,594, 1,649, 1,616, No...  [Franklin, Total Crashes, 47, 115, 135, -59.13...                                 [None, , , , , , ]  [None, Total Injuries, 201, 209, 167, None, None]  [None, Total Fatalities, 162, 181, 187, None, ...  [Suwannee, Total Crashes, 713, 739, 591, -3.52...                                               None
31                                 [None, , , , , , ]      [None, Total Fatalities, 1, 5, 1, None, None]  [Holmes, Total Crashes, 254, 284, 259, -10.56%...                                 [None, , , , , , ]  [None, Total Injuries, 15,912, 16,552, 15,254,...   [None, Total Fatalities, 14, 20, 12, None, None]                                               None
32  [Citrus, Total Crashes, 1,781, 1,682, 1,502, 5...     [None, Total Injuries, 35, 80, 84, None, None]     [None, Total Fatalities, 10, 9, 9, None, None]  [Manatee, Total Crashes, 5,973, 6,208, 5,722, ...                                 [None, , , , , , ]  [None, Total Injuries, 451, 513, 433, None, None]                                               None
33   [None, Total Fatalities, 31, 24, 29, None, None]                                 [None, , , , , , ]  [None, Total Injuries, 179, 158, 141, None, None]   [None, Total Fatalities, 54, 71, 56, None, None]  [Pasco, Total Crashes, 7,793, 7,834, 7,464, -0...                                 [None, , , , , , ]                                               None
34  [None, Total Injuries, 1,382, 1,232, 1,124, No...  [Gadsden, Total Crashes, 669, 680, 590, -1.62%...                                 [None, , , , , , ]  [None, Total Injuries, 4,610, 4,445, 3,901, No...  [None, Total Fatalities, 107, 86, 70, None, None]  [Taylor, Total Crashes, 325, 343, 315, -5.25%,...                                               None
35                                 [None, , , , , , ]   [None, Total Fatalities, 19, 18, 12, None, None]  [Indian River, Total Crashes, 1,728, 2,360, 2,...                                 [None, , , , , , ]  [None, Total Injuries, 6,382, 6,621, 6,777, -3...     [None, Total Fatalities, 13, 6, 4, 116.67%, 8]                                               None
36  [Clay, Total Crashes, 2,961, 3,053, 2,817, -3....  [None, Total Injuries, 414, 485, 392, None, None]   [None, Total Fatalities, 28, 26, 24, None, None]  [Marion, Total Crashes, 6,691, 6,339, 5,903, 5...                                 [None, , , , , , ]  [None, Total Injuries, 209, 222, 219, -5.86%, ...                                               None
37   [None, Total Fatalities, 21, 26, 33, None, None]                                 [None, , , , , , ]  [None, Total Injuries, 1,079, 1,400, 1,262, No...   [None, Total Fatalities, 90, 70, 70, 28.57%, 77]  [Pinellas, Total Crashes, 17,968, 19,098, 19,0...                                 [None, , , , , , ]                                               None
38                                               None  [Gilchrist, Total Crashes, 189, 194, 176, -2.5...                                 [None, , , , , , ]  [None, Total Injuries, 5,135, 4,160, 4,036, 23...  [None, Total Fatalities, 119, 128, 103, -7.03%...  [Union, Total Crashes, 136, 122, 103, 11.48%\n...                                               None
39                                               None      [None, Total Fatalities, 4, 5, 3, -20.00%, 4]  [Jackson, Total Crashes, 814, 903, 777, -9.86%...                                 [None, , , , , , ]  [None, Total Injuries, 11,107, 11,717, 10,987,...      [None, Total Fatalities, 4, 2, 3, None, None]                                               None
40                                               None  [None, Total Injuries, 116, 123, 126, -5.69%, ...    [None, Total Fatalities, 18, 18, 30, 0.00%, 22]  [Martin, Total Crashes, 3,466, 2,576, 2,464, 3...                                 [None, , , , , , ]   [None, Total Injuries, 125, 84, 110, None, None]                                               None
41                                               None                                 [None, , , , , , ]  [None, Total Injuries, 474, 559, 540, -15.21%,...  [None, Total Fatalities, 25, 34, 30, -26.47%, 30]  [Polk, Total Crashes, 11,378, 9,912, 10,071, 1...                                 [None, , , , , , ]                                               None
42                                               None  [Glades, Total Crashes, 202, 178, 155, None, N...                                 [None, , , , , , ]  [None, Total Injuries, 2,087, 1,603, 1,486, 30...  [None, Total Fatalities, 112, 137, 112, -18.25...      [Volusia, None, None, None, None, None, None]                                               None

In [393]:
fl_df = pd.DataFrame()
pages = list(range(35,42))
pdf = pdfplumber.open(file_2017)
for page in pages:    
    table= pdf.pages[page].extract_table()
    table = table[1:]
    df = pd.DataFrame(table)
    fl_df = fl_df.append(df)

In [394]:
fl_df = fl_df.drop([3,4,5,6], axis=1)
fl_df

               0                 1       2
0        Alachua     Total Crashes   6,075
1           None  Total Fatalities      55
2           None    Total Injuries   4,657
3           None
4          Baker     Total Crashes     431
5           None  Total Fatalities       7
6           None    Total Injuries     321
7           None
8            Bay     Total Crashes   4,051
9           None  Total Fatalities      29
10          None    Total Injuries   2,192
11          None
12      Bradford     Total Crashes     381
13          None  Total Fatalities       7
14          None    Total Injuries     250
15          None
16       Brevard     Total Crashes   9,056
17          None  Total Fatalities      84
18          None    Total Injuries   6,505
19          None
20       Broward     Total Crashes  41,337
21          None  Total Fatalities     225
22          None    Total Injuries  24,762
23          None
24       Calhoun     Total Crashes     207
25          None  Total Fatalities       1
26          None    Total Injuries     126
27          None
28     Charlotte     Total Crashes   2,780
29          None  Total Fatalities      27
30          None    Total Injuries   1,594
31          None
32        Citrus     Total Crashes   1,781
33          None  Total Fatalities      31
34          None    Total Injuries   1,382
35          None
36          Clay     Total Crashes   2,961
37          None  Total Fatalities      21
0           Clay    Total Injuries   1,804
1           None
2        Collier     Total Crashes   5,135
3           None  Total Fatalities      23
4           None    Total Injuries   2,819
5           None
6       Columbia     Total Crashes   1,490
7           None  Total Fatalities      20
8           None    Total Injuries   1,117
9           None
10        DeSoto     Total Crashes     516
11          None  Total Fatalities      15
12          None    Total Injuries     386
13          None
14         Dixie     Total Crashes     151
15          None  Total Fatalities       4
16          None    Total Injuries     120
17          None
18         Duval     Total Crashes  24,734
19          None  Total Fatalities     151
20          None    Total Injuries  14,850
21          None
22      Escambia     Total Crashes   6,627
23          None  Total Fatalities      51
24          None    Total Injuries   4,686
25          None
26       Flagler     Total Crashes   1,190
27          None  Total Fatalities      33
28          None    Total Injuries     806
29          None
30      Franklin     Total Crashes      47
31          None  Total Fatalities       1
32          None    Total Injuries      35
33          None
34       Gadsden     Total Crashes     669
35          None  Total Fatalities      19
36          None    Total Injuries     414
37          None
38     Gilchrist     Total Crashes     189
39          None  Total Fatalities       4
40          None    Total Injuries     116
41          None
42        Glades     Total Crashes     202
0         Glades  Total Fatalities      13
1           None    Total Injuries     153
2           None
3           Gulf     Total Crashes     183
4           None  Total Fatalities       9
5           None    Total Injuries      97
6           None
7       Hamilton     Total Crashes     321
8           None  Total Fatalities       9
9           None    Total Injuries     211
10          None
11        Hardee     Total Crashes     476
12          None  Total Fatalities      12
13          None    Total Injuries     408
14          None
15        Hendry     Total Crashes     405
16          None  Total Fatalities       9
17          None    Total Injuries     302
18          None
19      Hernando     Total Crashes   2,312
20          None  Total Fatalities      34
21          None    Total Injuries   2,178
22          None
23     Highlands     Total Crashes   1,367
24          None  Total Fatalities      18
25          None    Total Injuries     958
26          None
27  Hillsborough     Total Crashes  27,909
28          None  Total Fatalities     191
29          None    Total Injuries  20,682
30          None
31        Holmes     Total Crashes     254
32          None  Total Fatalities      10
33          None    Total Injuries     179
34          None
35  Indian River     Total Crashes   1,728
36          None  Total Fatalities      28
37          None    Total Injuries   1,079
38          None
39       Jackson     Total Crashes     814
40          None  Total Fatalities      18
41          None    Total Injuries     474
42          None
0      Jefferson     Total Crashes     264
1           None  Total Fatalities       4
2           None    Total Injuries     133
3           None
4      Lafayette     Total Crashes      35
5           None  Total Fatalities       5
6           None    Total Injuries      39
7           None
8           Lake     Total Crashes   4,731
9           None  Total Fatalities      48
10          None    Total Injuries   3,627
11          None
12           Lee     Total Crashes  12,709
13          None  Total Fatalities     113
14          None    Total Injuries   7,832
15          None
16          Leon     Total Crashes   7,113
17          None  Total Fatalities      34
18          None    Total Injuries   3,982
19          None
20          Levy     Total Crashes     584
21          None  Total Fatalities      23
22          None    Total Injuries     449
23          None
24       Liberty     Total Crashes      99
25          None  Total Fatalities       3
26          None    Total Injuries      74
27          None
28       Madison     Total Crashes     350
29          None  Total Fatalities       2
30          None    Total Injuries     201
31          None
32       Manatee     Total Crashes   5,973
33          None  Total Fatalities      54
34          None    Total Injuries   4,610
35          None
36        Marion     Total Crashes   6,691
37          None  Total Fatalities      90
38          None    Total Injuries   5,135
39          None
40        Martin     Total Crashes   3,466
41          None  Total Fatalities      25
42          None    Total Injuries   2,087
0         Martin
1     Miami-Dade     Total Crashes  65,986
2           None  Total Fatalities     285
3           None    Total Injuries  32,389
4           None
5         Monroe     Total Crashes   1,255
6           None  Total Fatalities      18
7           None    Total Injuries     650
8           None
9         Nassau     Total Crashes   1,129
10          None  Total Fatalities      18
11          None    Total Injuries     825
12          None
13      Okaloosa     Total Crashes   3,527
14          None  Total Fatalities      32
15          None    Total Injuries   2,172
16          None
17    Okeechobee     Total Crashes     719
18          None  Total Fatalities      13
19          None    Total Injuries     507
20          None
21        Orange     Total Crashes  31,004
22          None  Total Fatalities     188
23          None    Total Injuries  21,646
24          None
25       Osceola     Total Crashes   6,494
26          None  Total Fatalities      55
27          None    Total Injuries   5,436
28          None
29    Palm Beach     Total Crashes  27,273
30          None  Total Fatalities     162
31          None    Total Injuries  15,912
32          None
33         Pasco     Total Crashes   7,793
34          None  Total Fatalities     107
35          None    Total Injuries   6,382
36          None
37      Pinellas     Total Crashes  17,968
38          None  Total Fatalities     119
39          None    Total Injuries  11,107
40          None
41          Polk     Total Crashes  11,378
42          None  Total Fatalities     112
0           Polk    Total Injuries   7,555
1           None
2         Putnam     Total Crashes   1,210
3           None  Total Fatalities      26
4           None    Total Injuries     902
5           None
6     Santa Rosa     Total Crashes   1,893
7           None  Total Fatalities      19
8           None    Total Injuries   1,597
9           None
10      Sarasota     Total Crashes   6,625
11          None  Total Fatalities      49
12          None    Total Injuries   4,002
13          None
14      Seminole     Total Crashes   7,211
15          None  Total Fatalities      48
16          None    Total Injuries   4,660
17          None
18     St. Johns     Total Crashes   3,549
19          None  Total Fatalities      42
20          None    Total Injuries   2,113
21          None
22     St. Lucie     Total Crashes   5,062
23          None  Total Fatalities      41
24          None    Total Injuries   3,093
25          None
26        Sumter     Total Crashes   1,650
27          None  Total Fatalities      23
28          None    Total Injuries     983
29          None
30      Suwannee     Total Crashes     713
31          None  Total Fatalities      14
32          None    Total Injuries     451
33          None
34        Taylor     Total Crashes     325
35          None  Total Fatalities      13
36          None    Total Injuries     209
37          None
38         Union     Total Crashes     136
39          None  Total Fatalities       4
40          None    Total Injuries     125
41          None
42       Volusia              None    None
0        Volusia  Total Fatalities     130
1           None    Total Injuries   6,527
2           None
3        Wakulla     Total Crashes     432
4           None  Total Fatalities       7
5           None    Total Injuries     302
6           None
7         Walton     Total Crashes   1,300
8           None  Total Fatalities      21
9           None    Total Injuries     748
10          None
11    Washington     Total Crashes     358
12          None  Total Fatalities      10
13          None    Total Injuries     185
14          None

In [408]:
stacked = fl_df.stack()
stacked

0   0             Alachua
    1       Total Crashes
    2               6,075
1   1    Total Fatalities
    2                  55
               ...
12  2                  10
13  1      Total Injuries
    2                 185
14  1
    2
Length: 606, dtype: object

In [422]:
df = pd.DataFrame(stacked)
df.head(10)

                    0
0 0           Alachua
  1     Total Crashes
  2             6,075
1 1  Total Fatalities
  2                55
2 1    Total Injuries
  2             4,657
3 1
  2
4 0             Baker

In [424]:
df_new = df.dropna(axis=0,inplace = False)
df_new.head(20)

                    0
0 0           Alachua
  1     Total Crashes
  2             6,075
1 1  Total Fatalities
  2                55
2 1    Total Injuries
  2             4,657
3 1
  2
4 0             Baker
  1     Total Crashes
  2               431
5 1  Total Fatalities
  2                 7
6 1    Total Injuries
  2               321
7 1
  2
8 0               Bay
  1     Total Crashes

In [421]:
df_new.T

AttributeError: 'NoneType' object has no attribute 'T'

### Extracting data for years 2018 thru 2020 and combining with pop along with Metropolitans and Micropolitans

In [50]:
file_2018_2020 ='C:/Users/iulia/Documents/NSS/projects/capstone/data/raw_data/FL/FL_2020.pdf'

In [54]:
fl_df_2018_2020 = pd.DataFrame()
pages = list(range(38,46))
pdf = pdfplumber.open(file_2018_2020)
for page in pages:    
    table=pdf.pages[page].extract_table()
    table = table[1:]
    list_length = len(table)
    paired_list = [table[i] + table[i+1]+ table[i+2] for i in range(0, list_length-1,4)]
    df = pd.DataFrame(paired_list)
    fl_df_2018_2020 = fl_df_2018_2020.append(df)

In [55]:
fl_df_2018_2020 = fl_df_2018_2020.drop([5,6,7,12,13,14,19,20],axis=1)
fl_df_2018_2020 = fl_df_2018_2020.iloc[:-1 , :]
fl_df_2018_2020.head()

         0              1      2      3      4                 8   9   10  11              15     16     17     18
0   Alachua  Total Crashes  4,617  5,878  5,846  Total Fatalities  48  72  51  Total Injuries  3,266  4,237  4,415
1     Baker  Total Crashes    420    438    400  Total Fatalities   4   7   5  Total Injuries    293    341    354
2       Bay  Total Crashes  3,352  4,862  4,549  Total Fatalities  35  32  26  Total Injuries  1,869  2,498  2,360
3  Bradford  Total Crashes    329    412    449  Total Fatalities  10  12   9  Total Injuries    192    282    252
4   Brevard  Total Crashes  8,395  9,207  9,233  Total Fatalities  81  84  85  Total Injuries  5,768  6,625  6,911

In [56]:
fl_df_2018_2020.tail()

           0              1      2       3      4                 8    9    10   11              15     16     17     18
8       Union  Total Crashes    144     152    161  Total Fatalities    2    3    3  Total Injuries    135    117    142
0     Volusia  Total Crashes  9,141  10,133  9,967  Total Fatalities  137  126  106  Total Injuries  6,271  6,817  6,657
1     Wakulla  Total Crashes    407     412    422  Total Fatalities    3    8    9  Total Injuries    215    262    301
2      Walton  Total Crashes  1,342   1,383  1,412  Total Fatalities   29   19   24  Total Injuries    703    836    822
3  Washington  Total Crashes    432     360    348  Total Fatalities   10    9   10  Total Injuries    186    227    203

In [57]:
fl_df_melt_2020 = pd.melt(fl_df_2018_2020,id_vars=[2,9,16],value_vars=[0])
fl_df_melt_2020 = fl_df_melt_2020.drop(['variable'],axis=1)
fl_df_melt_2020 = fl_df_melt_2020[['value',9, 16,2]]
fl_df_melt_2020.columns = ['County','fatalaties','injuries','total_crashes']
fl_df_melt_2020.head(10)

      County fatalaties injuries total_crashes
0    Alachua         48    3,266         4,617
1      Baker          4      293           420
2        Bay         35    1,869         3,352
3   Bradford         10      192           329
4    Brevard         81    5,768         8,395
5    Broward        268   18,984        34,050
6    Calhoun          3      120           198
7  Charlotte         26    1,369         2,185
8     Citrus         38    1,194         1,685
9       Clay         24    1,502         2,511

In [58]:
df_combined_fl_20 = pd.merge(fl_df_melt_2020,pop_combined[['County', 2020]],on="County",how='left')
df_combined_fl_2020 = pd.merge(df_combined_fl_20,metros_fl[['CBSA Title','Metropolitan/Micropolitan Statistical Area','County']],on="County",how='left')
df_combined_fl_2020.head()

     County fatalaties injuries total_crashes      2020                         CBSA Title Metropolitan/Micropolitan Statistical Area
0   Alachua         48    3,266         4,617  278684.0                    Gainesville, FL              Metropolitan Statistical Area
1     Baker          4      293           420   28309.0                   Jacksonville, FL              Metropolitan Statistical Area
2       Bay         35    1,869         3,352  174461.0                    Panama City, FL              Metropolitan Statistical Area
3  Bradford         10      192           329   28364.0                                NaN                                        NaN
4   Brevard         81    5,768         8,395  608007.0  Palm Bay-Melbourne-Titusville, FL              Metropolitan Statistical Area

In [59]:
fl_df_melt_2019 = pd.melt(fl_df_2018_2020,id_vars=[10,17,3],value_vars=[0])
fl_df_melt_2019 = fl_df_melt_2019.drop(['variable'],axis=1)
fl_df_melt_2019 = fl_df_melt_2019[['value',10,17,3]]
fl_df_melt_2019.columns = ['County','fatalaties','injuries','total_crashes']
fl_df_melt_2019.head(10)

      County fatalaties injuries total_crashes
0    Alachua         72    4,237         5,878
1      Baker          7      341           438
2        Bay         32    2,498         4,862
3   Bradford         12      282           412
4    Brevard         84    6,625         9,207
5    Broward        214   23,671        41,114
6    Calhoun          4      148           213
7  Charlotte         22    1,418         2,386
8     Citrus         22    1,410         1,774
9       Clay         26    1,669         2,694

In [60]:
df_combined_fl_19 = pd.merge(fl_df_melt_2019,pop_combined[['County', 2019]],on="County",how='left')
df_combined_fl_2019 = pd.merge(df_combined_fl_19,metros_fl[['CBSA Title','Metropolitan/Micropolitan Statistical Area','County']],on="County",how='left')
df_combined_fl_2019.head()

     County fatalaties injuries total_crashes      2019                         CBSA Title Metropolitan/Micropolitan Statistical Area
0   Alachua         72    4,237         5,878  269043.0                    Gainesville, FL              Metropolitan Statistical Area
1     Baker          7      341           438   29210.0                   Jacksonville, FL              Metropolitan Statistical Area
2       Bay         32    2,498         4,862  174705.0                    Panama City, FL              Metropolitan Statistical Area
3  Bradford         12      282           412   28201.0                                NaN                                        NaN
4   Brevard         84    6,625         9,207  601942.0  Palm Bay-Melbourne-Titusville, FL              Metropolitan Statistical Area

In [61]:
fl_df_melt_2018 = pd.melt(fl_df_2018_2020,id_vars=[11,18,4],value_vars=[0])
fl_df_melt_2018 = fl_df_melt_2018.drop(['variable'],axis=1)
fl_df_melt_2018 = fl_df_melt_2018[['value',11,18,4]]
fl_df_melt_2018.columns = ['County','fatalaties','injuries','total_crashes']
fl_df_melt_2018.head(10)

      County fatalaties injuries total_crashes
0    Alachua         51    4,415         5,846
1      Baker          5      354           400
2        Bay         26    2,360         4,549
3   Bradford          9      252           449
4    Brevard         85    6,911         9,233
5    Broward        237   24,644        41,082
6    Calhoun          8      112           206
7  Charlotte         27    1,582         2,734
8     Citrus         37    1,413         1,813
9       Clay         19    1,737         2,849

In [62]:
df_combined_fl_18 = pd.merge(fl_df_melt_2018,pop_combined[['County', 2018]],on="County",how='left')
df_combined_fl_2018 = pd.merge(df_combined_fl_18,metros_fl[['CBSA Title','Metropolitan/Micropolitan Statistical Area','County']],on="County",how='left')
df_combined_fl_2018.head()

     County fatalaties injuries total_crashes      2018                         CBSA Title Metropolitan/Micropolitan Statistical Area
0   Alachua         51    4,415         5,846  268851.0                    Gainesville, FL              Metropolitan Statistical Area
1     Baker          5      354           400   28353.0                   Jacksonville, FL              Metropolitan Statistical Area
2       Bay         26    2,360         4,549  186240.0                    Panama City, FL              Metropolitan Statistical Area
3  Bradford          9      252           449   27752.0                                NaN                                        NaN
4   Brevard         85    6,911         9,233  595203.0  Palm Bay-Melbourne-Titusville, FL              Metropolitan Statistical Area

In [63]:
df_combined_fl_2018.to_excel('C:/Users/iulia/Documents/NSS/projects/capstone/data/cleaned_data/2018_FL.xlsx', engine='xlsxwriter',index=False)
df_combined_fl_2019.to_excel('C:/Users/iulia/Documents/NSS/projects/capstone/data/cleaned_data/2019_FL.xlsx', engine='xlsxwriter',index=False)
df_combined_fl_2020.to_excel('C:/Users/iulia/Documents/NSS/projects/capstone/data/cleaned_data/2020_FL.xlsx', engine='xlsxwriter',index=False)