In [1]:
import pandas as pd
import re
from collections import namedtuple
import pdfplumber
import os
import numpy as np
from collections import ChainMap
import itertools
from collections import defaultdict
from operator import methodcaller
from itertools import chain
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

### 1. Importing and  merging pop files
### 2. Adding Metropolitans and Micropolitans

In [2]:
pop_2010_2019 = pd.read_excel('../data/raw_data/FL/pop_est_2010-2019_fl.xlsx',sheet_name='Sheet1')
pop_2010_2019 = pd.DataFrame(pop_2010_2019)
pop_2010_2019 = pop_2010_2019.drop(['Census','Estimates Base',2010,2011,2012],axis=1)
pop_2010_2019.head()

     County    2013    2014    2015    2016    2017    2018    2019
0   Alachua  252475  255456  259052  263959  266309  268851  269043
1     Baker   27009   27122   27355   27884   28254   28353   29210
2       Bay  174596  178289  181488  183634  184736  186240  174705
3  Bradford   26802   26552   26748   26740   27142   27752   28201
4   Brevard  550255  555548  565746  576874  587769  595203  601942

In [3]:
pop_2020_2021 = pd.read_excel('../data/raw_data/FL/pop_est_2020-2021_fl.xlsx',sheet_name='Sheet1')
pop_2020_2021 = pd.DataFrame(pop_2020_2021)
pop_2020_2021 = pop_2020_2021.drop('Estimates Base',axis=1)
pop_2020_2021.head()

     County    2020    2021
0   Alachua  278684  279238
1     Baker   28309   28715
2       Bay  174461  179168
3  Bradford   28364   28540
4   Brevard  608007  616628

In [4]:
pop_combined = pd.merge(pop_2010_2019,pop_2020_2021,how="left",on="County")
pop_combined['County'] = pop_combined['County'].str.strip()
pop_combined['County'] = pop_combined['County'].str.upper()
pop_combined.head()

     County    2013    2014    2015    2016    2017    2018    2019    2020    2021
0   ALACHUA  252475  255456  259052  263959  266309  268851  269043  278684  279238
1     BAKER   27009   27122   27355   27884   28254   28353   29210   28309   28715
2       BAY  174596  178289  181488  183634  184736  186240  174705  174461  179168
3  BRADFORD   26802   26552   26748   26740   27142   27752   28201   28364   28540
4   BREVARD  550255  555548  565746  576874  587769  595203  601942  608007  616628

In [5]:
pop_combined.tail(15)

        County    2013    2014    2015    2016    2017    2018    2019    2020    2021
52        POLK  622633  634398  648523  665823  685368  706597  724777  729233  753520
53      PUTNAM   72370   71971   71939   72373   73384   74043   74521   73347   74167
54   ST. JOHNS  209439  217836  226362  234828  243693  253814  264672  276916  292466
55   ST. LUCIE  285299  290045  297282  305566  313163  320425  328297  331275  343579
56  SANTA ROSA  160392  162668  166226  169894  174049  179295  184313  189133  193998
57    SARASOTA  389941  396363  404761  412968  419680  426329  433742  435664  447057
58    SEMINOLE  435503  441399  448318  455945  462801  468122  471826  471058  470093
59      SUMTER  106898  112236  117076  122009  124995  128719  132420  130897  135638
60    SUWANNEE   43588   43786   43677   43834   44124   44179   44417   43510   44485
61      TAYLOR   22873   22584   22355   22099   21781   21545   21569   21760   21815
62       UNION   15160   15258   15265   15238   15448   15328   15237   16126   16335
63     VOLUSIA  500438  506715  516730  528453  537868  546101  553284  554901  564412
64     WAKULLA   31004   31416   31523   31882   32050   32413   33739   33907   34690
65      WALTON   59193   61186   63066   65421   68021   70732   74071   75855   80069
66  WASHINGTON   24504   24299   24552   24454   24546   24793   25473   25357   25436

In [6]:
metros = pd.read_excel('../data/metro_areas.xlsx',sheet_name='Filtered_States')
metros_df = pd.DataFrame(metros)
metros_fl = metros_df[metros_df['State Name']=='Florida']
metros_fl['County'] = metros_fl['County'].str.strip()
metros_fl['County'] = metros_fl['County'].str.upper()
metros_fl.head()

C:\Users\iulia\AppData\Local\Temp/ipykernel_2280/894526020.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  metros_fl['County'] = metros_fl['County'].str.strip()
C:\Users\iulia\AppData\Local\Temp/ipykernel_2280/894526020.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  metros_fl['County'] = metros_fl['County'].str.upper()

                                 CBSA Title Metropolitan/Micropolitan Statistical Area   County State Name
0                           Gainesville, FL              Metropolitan Statistical Area  ALACHUA    Florida
14                         Jacksonville, FL              Metropolitan Statistical Area    BAKER    Florida
20                          Panama City, FL              Metropolitan Statistical Area      BAY    Florida
34        Palm Bay-Melbourne-Titusville, FL              Metropolitan Statistical Area  BREVARD    Florida
36  Miami-Fort Lauderdale-Pompano Beach, FL              Metropolitan Statistical Area  BROWARD    Florida

### Extracting data for year 2013 and combining with pop along with Metropolitans and Micropolitans

In [7]:
file_2013 ='../data/raw_data/FL/FL_2013.pdf'

In [8]:
fl_df_crashes13 = pd.DataFrame()
pages = list(range(43,45))
pdf = pdfplumber.open(file_2013)
for page in pages:    
    table=pdf.pages[page].extract_table()
    df = pd.DataFrame(table)
    fl_df_crashes13 = fl_df_crashes13.append(df)

In [9]:
fl_df_crashes13 = fl_df_crashes13.drop([0,2,3,4,5,6,8,9,10,11],axis=1)
fl_df_crashes13 = fl_df_crashes13.iloc[:-2 , :]
fl_df_crashes13 = fl_df_crashes13.iloc[2: , :]
fl_df_crashes13.columns = ['County','total_crashes']
fl_df_crashes13.head()

     County total_crashes
2   Alachua         4,651
3     Baker           293
4       Bay         3,514
5  Bradford           220
6   Brevard         7,079

In [10]:
fl_df_crashes13.tail(15)

        County total_crashes
16      Putnam           930
17  Santa Rosa         1,688
18    Sarasota         5,176
19    Seminole         5,750
20   St. Johns         2,730
21   St. Lucie         2,931
22      Sumter           724
23    Suwannee           526
24      Taylor           198
25       Union           125
26     Unknown             0
27     Volusia         8,047
28     Wakulla           248
29      Walton         1,088
30  Washington           288

In [11]:
fl_df_fatalaties13 = pd.DataFrame()
pages = list(range(45,47))
pdf = pdfplumber.open(file_2013)
for page in pages:    
    table=pdf.pages[page].extract_table()
    df = pd.DataFrame(table)
    fl_df_fatalaties13 = fl_df_fatalaties13.append(df)

In [12]:
fl_df_fatalaties13 = fl_df_fatalaties13.drop([0,2,3,4,5,6,8,9,10,11],axis=1)
fl_df_fatalaties13 = fl_df_fatalaties13.iloc[:-2 , :]
fl_df_fatalaties13 = fl_df_fatalaties13.iloc[2: , :]
fl_df_fatalaties13.columns = ['County','fatalities']
fl_df_fatalaties13.head()

     County fatalities
2   Alachua         33
3     Baker          9
4       Bay         17
5  Bradford          5
6   Brevard         76

In [13]:
fl_df_fatalaties13.tail(15)

        County fatalities
15      Putnam         19
16  Santa Rosa         31
17    Sarasota         31
18    Seminole         44
19   St. Johns         31
20   St. Lucie         33
21      Sumter         19
22    Suwannee         13
23      Taylor          6
24       Union          2
25     Unknown          0
26     Volusia         90
27     Wakulla          3
28      Walton         17
29  Washington          8

In [14]:
fl_df_injuries13 = pd.DataFrame()
pages = list(range(47,49))
pdf = pdfplumber.open(file_2013)
for page in pages:    
    table=pdf.pages[page].extract_table()
    df = pd.DataFrame(table)
    fl_df_injuries13 = fl_df_injuries13.append(df)

In [15]:
fl_df_injuries13 = fl_df_injuries13.drop([0,2,3,4,5,6,8,9,10,11],axis=1)
fl_df_injuries13 = fl_df_injuries13.iloc[:-2 , :]
fl_df_injuries13 = fl_df_injuries13.iloc[2: , :]
fl_df_injuries13.columns = ['County','injuries']
fl_df_injuries13.head()

     County injuries
2   Alachua    3,321
3     Baker      270
4       Bay    2,208
5  Bradford      202
6   Brevard    5,041

In [16]:
fl_df_injuries13.tail(15)

        County injuries
15      Putnam      817
16  Santa Rosa    1,515
17    Sarasota    3,370
18    Seminole    3,979
19   St. Johns    2,032
20   St. Lucie    1,864
21      Sumter      529
22    Suwannee      337
23      Taylor      149
24       Union       95
25     Unknown        0
26     Volusia    5,210
27     Wakulla      181
28      Walton      720
29  Washington      230

In [17]:
fl_df_2013 = pd.merge(pd.merge(fl_df_fatalaties13,fl_df_injuries13,on='County'),fl_df_crashes13,on='County')
fl_df_2013 = fl_df_2013.drop(labels=63, axis=0)
fl_df_2013['County'] = fl_df_2013['County'].str.strip()
fl_df_2013['County'] = fl_df_2013['County'].str.upper()
fl_df_2013.head(10)

      County fatalities injuries total_crashes
0    ALACHUA         33    3,321         4,651
1      BAKER          9      270           293
2        BAY         17    2,208         3,514
3   BRADFORD          5      202           220
4    BREVARD         76    5,041         7,079
5    BROWARD        180   21,580        32,595
6    CALHOUN          1      109           152
7  CHARLOTTE         22    1,412         2,091
8     CITRUS         17      993         1,360
9       CLAY         10    1,621         2,434

In [18]:
fl_df_2013.tail(10)

        County fatalities injuries total_crashes
57   ST. JOHNS         31    2,032         2,730
58   ST. LUCIE         33    1,864         2,931
59      SUMTER         19      529           724
60    SUWANNEE         13      337           526
61      TAYLOR          6      149           198
62       UNION          2       95           125
64     VOLUSIA         90    5,210         8,047
65     WAKULLA          3      181           248
66      WALTON         17      720         1,088
67  WASHINGTON          8      230           288

In [19]:
df_combined_fl_13 = pd.merge(fl_df_2013,pop_combined[['County', 2013]],on="County",how='left')
df_combined_fl_2013 = pd.merge(df_combined_fl_13,metros_fl[['CBSA Title','Metropolitan/Micropolitan Statistical Area','County']],on="County",how='left')
df_combined_fl_2013.rename(columns = {2013:'population'}, inplace = True)
df_combined_fl_2013.insert(0,'Year',2013)    
df_combined_fl_2013.head(10)

   Year     County fatalities injuries total_crashes  population                               CBSA Title Metropolitan/Micropolitan Statistical Area
0  2013    ALACHUA         33    3,321         4,651      252475                          Gainesville, FL              Metropolitan Statistical Area
1  2013      BAKER          9      270           293       27009                         Jacksonville, FL              Metropolitan Statistical Area
2  2013        BAY         17    2,208         3,514      174596                          Panama City, FL              Metropolitan Statistical Area
3  2013   BRADFORD          5      202           220       26802                                      NaN                                        NaN
4  2013    BREVARD         76    5,041         7,079      550255        Palm Bay-Melbourne-Titusville, FL              Metropolitan Statistical Area
5  2013    BROWARD        180   21,580        32,595     1836600  Miami-Fort Lauderdale-Pompano Beach, FL              Metropolitan Statistical Area
6  2013    CALHOUN          1      109           152       14578                                      NaN                                        NaN
7  2013  CHARLOTTE         22    1,412         2,091      164671                          Punta Gorda, FL              Metropolitan Statistical Area
8  2013     CITRUS         17      993         1,360      138829                    Homosassa Springs, FL              Metropolitan Statistical Area
9  2013       CLAY         10    1,621         2,434      195657                         Jacksonville, FL              Metropolitan Statistical Area

In [20]:
df_combined_fl_2013.tail(10)

    Year      County fatalities injuries total_crashes  population                              CBSA Title Metropolitan/Micropolitan Statistical Area
57  2013   ST. JOHNS         31    2,032         2,730      209439                        Jacksonville, FL              Metropolitan Statistical Area
58  2013   ST. LUCIE         33    1,864         2,931      285299                      Port St. Lucie, FL              Metropolitan Statistical Area
59  2013      SUMTER         19      529           724      106898                        The Villages, FL              Metropolitan Statistical Area
60  2013    SUWANNEE         13      337           526       43588                                     NaN                                        NaN
61  2013      TAYLOR          6      149           198       22873                                     NaN                                        NaN
62  2013       UNION          2       95           125       15160                                     NaN                                        NaN
63  2013     VOLUSIA         90    5,210         8,047      500438  Deltona-Daytona Beach-Ormond Beach, FL              Metropolitan Statistical Area
64  2013     WAKULLA          3      181           248       31004                         Tallahassee, FL              Metropolitan Statistical Area
65  2013      WALTON         17      720         1,088       59193  Crestview-Fort Walton Beach-Destin, FL              Metropolitan Statistical Area
66  2013  WASHINGTON          8      230           288       24504                                     NaN                                        NaN

In [21]:
df_combined_fl_2013.to_excel('../data/cleaned_data/2013_FL.xlsx', engine='xlsxwriter',index=False)

### Extracting data for years 2014 thru 2016 and combining with pop along with Metropolitans and Micropolitans

In [22]:
file_2014_2016 ='../data/raw_data/FL/FL_2016.pdf'

In [23]:
fl_df_2014_2016 = pd.DataFrame()
pages = list(range(35,42))
pdf = pdfplumber.open(file_2014_2016)
for page in pages:    
    table=pdf.pages[page].extract_table()
    table = table[1:]
    list_length = len(table)
    paired_list = [table[i] + table[i+1]+ table[i+2] for i in range(0, list_length-1,4)]
    df = pd.DataFrame(paired_list)
    fl_df_2014_2016 = fl_df_2014_2016.append(df)

In [24]:
fl_df_2014_2016 = fl_df_2014_2016.drop([5,6,7,12,13,14,19,20],axis=1)
fl_df_2014_2016.head()

         0              1      2      3      4                 8   9   10  11              15     16     17     18
0   Alachua  Total Crashes  5,980  5,027  4,193  Total Fatalities  46  37  30  Total Injuries  4,398  3,826  3,113
1     Baker  Total Crashes    381    373    246  Total Fatalities  13  12   2  Total Injuries    352    286    264
2       Bay  Total Crashes  4,089  3,946  3,337  Total Fatalities  38  32  30  Total Injuries  2,290  2,317  2,023
3  Bradford  Total Crashes    362    348    274  Total Fatalities   6  10   4  Total Injuries    243    241    219
4   Brevard  Total Crashes  8,752  8,387  7,661  Total Fatalities  98  82  65  Total Injuries  6,564  6,130  5,386

In [25]:
fl_df_2014_2016.tail()

            0              1      2      3      4                 8    9   10  11              15     16     17     18
10       Union  Total Crashes    122    103    114  Total Fatalities    2   3   1  Total Injuries     84    110    131
0      Volusia  Total Crashes  8,903  8,851  8,382  Total Fatalities  122  87  86  Total Injuries  5,872  5,750  5,251
1      Wakulla  Total Crashes    366    348    317  Total Fatalities   14   2   2  Total Injuries    264    261    231
2       Walton  Total Crashes  1,305  1,248  1,127  Total Fatalities   17   9  13  Total Injuries    870    908    703
3   Washington  Total Crashes    322    349    262  Total Fatalities    5   5   3  Total Injuries    199    225    172

In [26]:
fl_df_melt_2016 = pd.melt(fl_df_2014_2016,id_vars=[2,9,16],value_vars=[0])
fl_df_melt_2016 = fl_df_melt_2016.drop(['variable'],axis=1)
fl_df_melt_2016 = fl_df_melt_2016[['value',9, 16,2]]
fl_df_melt_2016.columns = ['County','fatalities','injuries','total_crashes']
fl_df_melt_2016.head(10)

      County fatalities injuries total_crashes
0    Alachua         46    4,398         5,980
1      Baker         13      352           381
2        Bay         38    2,290         4,089
3   Bradford          6      243           362
4    Brevard         98    6,564         8,752
5    Broward        245   25,361        41,755
6    Calhoun          3      120           194
7  Charlotte         30    1,649         2,721
8     Citrus         24    1,232         1,682
9       Clay         26    1,857         3,053

In [27]:
fl_df_melt_2016['County'] = fl_df_melt_2016['County'].str.strip()
fl_df_melt_2016['County'] = fl_df_melt_2016['County'].str.upper()
df_combined_fl_16 = pd.merge(fl_df_melt_2016,pop_combined[['County', 2016]],on="County",how='left')
df_combined_fl_2016 = pd.merge(df_combined_fl_16,metros_fl[['CBSA Title','Metropolitan/Micropolitan Statistical Area','County']],on="County",how='left')
df_combined_fl_2016.rename(columns = {2016:'population'}, inplace = True)
df_combined_fl_2016.insert(0,'Year',2016) 
df_combined_fl_2016.head()

   Year    County fatalities injuries total_crashes  population                         CBSA Title Metropolitan/Micropolitan Statistical Area
0  2016   ALACHUA         46    4,398         5,980      263959                    Gainesville, FL              Metropolitan Statistical Area
1  2016     BAKER         13      352           381       27884                   Jacksonville, FL              Metropolitan Statistical Area
2  2016       BAY         38    2,290         4,089      183634                    Panama City, FL              Metropolitan Statistical Area
3  2016  BRADFORD          6      243           362       26740                                NaN                                        NaN
4  2016   BREVARD         98    6,564         8,752      576874  Palm Bay-Melbourne-Titusville, FL              Metropolitan Statistical Area

In [28]:
fl_df_melt_2015 = pd.melt(fl_df_2014_2016,id_vars=[10,17,3],value_vars=[0])
fl_df_melt_2015 = fl_df_melt_2015.drop(['variable'],axis=1)
fl_df_melt_2015 = fl_df_melt_2015[['value',10,17,3]]
fl_df_melt_2015.columns = ['County','fatalities','injuries','total_crashes']
fl_df_melt_2015.head(10)

      County fatalities injuries total_crashes
0    Alachua         37    3,826         5,027
1      Baker         12      286           373
2        Bay         32    2,317         3,946
3   Bradford         10      241           348
4    Brevard         82    6,130         8,387
5    Broward        221   23,473        38,409
6    Calhoun          4      118           180
7  Charlotte         23    1,616         2,556
8     Citrus         29    1,124         1,502
9       Clay         33    1,727         2,817

In [29]:
fl_df_melt_2015['County'] = fl_df_melt_2015['County'].str.strip()
fl_df_melt_2015['County'] = fl_df_melt_2015['County'].str.upper()
df_combined_fl_15 = pd.merge(fl_df_melt_2015,pop_combined[['County', 2015]],on="County",how='left')
df_combined_fl_2015 = pd.merge(df_combined_fl_15,metros_fl[['CBSA Title','Metropolitan/Micropolitan Statistical Area','County']],on="County",how='left')
df_combined_fl_2015.rename(columns = {2015:'population'}, inplace = True)
df_combined_fl_2015.insert(0,'Year',2015) 
df_combined_fl_2015.head()

   Year    County fatalities injuries total_crashes  population                         CBSA Title Metropolitan/Micropolitan Statistical Area
0  2015   ALACHUA         37    3,826         5,027      259052                    Gainesville, FL              Metropolitan Statistical Area
1  2015     BAKER         12      286           373       27355                   Jacksonville, FL              Metropolitan Statistical Area
2  2015       BAY         32    2,317         3,946      181488                    Panama City, FL              Metropolitan Statistical Area
3  2015  BRADFORD         10      241           348       26748                                NaN                                        NaN
4  2015   BREVARD         82    6,130         8,387      565746  Palm Bay-Melbourne-Titusville, FL              Metropolitan Statistical Area

In [30]:
fl_df_melt_2014 = pd.melt(fl_df_2014_2016,id_vars=[11,18,4],value_vars=[0])
fl_df_melt_2014 = fl_df_melt_2014.drop(['variable'],axis=1)
fl_df_melt_2014 = fl_df_melt_2014[['value',11,18,4]]
fl_df_melt_2014.columns = ['County','fatalities','injuries','total_crashes']
fl_df_melt_2014.head(10)

      County fatalities injuries total_crashes
0    Alachua         30    3,113         4,193
1      Baker          2      264           246
2        Bay         30    2,023         3,337
3   Bradford          4      219           274
4    Brevard         65    5,386         7,661
5    Broward        173   22,154        34,833
6    Calhoun          2       94           134
7  Charlotte         19    1,290         2,241
8     Citrus         26    1,099         1,471
9       Clay         18    1,784         2,594

In [31]:
fl_df_melt_2014['County'] = fl_df_melt_2014['County'].str.strip()
fl_df_melt_2014['County'] = fl_df_melt_2014['County'].str.upper()
df_combined_fl_14 = pd.merge(fl_df_melt_2014,pop_combined[['County', 2014]],on="County",how='left')
df_combined_fl_2014 = pd.merge(df_combined_fl_14,metros_fl[['CBSA Title','Metropolitan/Micropolitan Statistical Area','County']],on="County",how='left')
df_combined_fl_2014.rename(columns = {2014:'population'}, inplace = True)
df_combined_fl_2014.insert(0,'Year',2014) 
df_combined_fl_2014.head()

   Year    County fatalities injuries total_crashes  population                         CBSA Title Metropolitan/Micropolitan Statistical Area
0  2014   ALACHUA         30    3,113         4,193      255456                    Gainesville, FL              Metropolitan Statistical Area
1  2014     BAKER          2      264           246       27122                   Jacksonville, FL              Metropolitan Statistical Area
2  2014       BAY         30    2,023         3,337      178289                    Panama City, FL              Metropolitan Statistical Area
3  2014  BRADFORD          4      219           274       26552                                NaN                                        NaN
4  2014   BREVARD         65    5,386         7,661      555548  Palm Bay-Melbourne-Titusville, FL              Metropolitan Statistical Area

In [32]:
df_combined_fl_2014.to_excel('../data/cleaned_data/2014_FL.xlsx', engine='xlsxwriter',index=False)
df_combined_fl_2015.to_excel('../data/cleaned_data/2015_FL.xlsx', engine='xlsxwriter',index=False)
df_combined_fl_2016.to_excel('../data/cleaned_data/2016_FL.xlsx', engine='xlsxwriter',index=False)

### Extracting data for year 2017

In [33]:
file_2017 ='../data/raw_data/FL/FL_2017.pdf'

In [34]:
my_dict_p35 = {}
pdf = pdfplumber.open(file_2017)
txt = pdf.pages[35].extract_text()
txt = txt[203:]
txt = txt[:-113]
county = re.findall("(\w+)(?=\\nTotal Injuries)",txt)
crashes = re.findall("(?<=Total Crashes)\s\d+\,?\d+",txt)        
fatalaties = re.findall("(?<=Total Fatalities)\s\d+",txt)          
injuries = re.findall("(?<=Total Injuries)\s\d+\,?\d+",txt)
my_dict_p35['County'] = county
my_dict_p35['fatalities'] = fatalaties
my_dict_p35['injuries'] = injuries
my_dict_p35['total_crashes'] = crashes
print(county,crashes,fatalaties,injuries)

['Alachua', 'Baker', 'Bay', 'Bradford', 'Brevard', 'Broward', 'Calhoun', 'Charlotte', 'Citrus'] [' 6,075', ' 431', ' 4,051', ' 381', ' 9,056', ' 41,337', ' 207', ' 2,780', ' 1,781'] [' 55', ' 7', ' 29', ' 7', ' 84', ' 225', ' 1', ' 27', ' 31'] [' 4,657', ' 321', ' 2,192', ' 250', ' 6,505', ' 24,762', ' 126', ' 1,594', ' 1,382']

In [35]:
my_dict_p35['County'].append('Clay')
my_dict_p35['fatalities'].append('21')
my_dict_p35['injuries'].append('1,804')
my_dict_p35['total_crashes'].append('2,961')
print(my_dict_p35)

{'County': ['Alachua', 'Baker', 'Bay', 'Bradford', 'Brevard', 'Broward', 'Calhoun', 'Charlotte', 'Citrus', 'Clay'], 'fatalities': [' 55', ' 7', ' 29', ' 7', ' 84', ' 225', ' 1', ' 27', ' 31', '21'], 'injuries': [' 4,657', ' 321', ' 2,192', ' 250', ' 6,505', ' 24,762', ' 126', ' 1,594', ' 1,382', '1,804'], 'total_crashes': [' 6,075', ' 431', ' 4,051', ' 381', ' 9,056', ' 41,337', ' 207', ' 2,780', ' 1,781', '2,961']}

In [36]:
my_dict_p36 = {}
pdf = pdfplumber.open(file_2017)
txt = pdf.pages[36].extract_text()
txt = txt[120:]
txt = txt[:-70]
county = re.findall("(\w+)(?=\\nTotal Injuries)",txt)
crashes = re.findall("(?<=Total Crashes)\s\d+\,?\d+",txt)        
fatalaties = re.findall("(?<=Total Fatalities)\s\d+",txt)          
injuries = re.findall("(?<=Total Injuries)\s\d+\,?\d+",txt)
my_dict_p36['County'] = county
my_dict_p36['fatalities'] = fatalaties
my_dict_p36['injuries'] = injuries
my_dict_p36['total_crashes'] = crashes
print(county,crashes,fatalaties,injuries)

['Collier', 'Columbia', 'DeSoto', 'Dixie', 'Duval', 'Escambia', 'Flagler', 'Franklin', 'Gadsden', 'Gilchrist'] [' 5,135', ' 1,490', ' 516', ' 151', ' 24,734', ' 6,627', ' 1,190', ' 47', ' 669', ' 189'] [' 23', ' 20', ' 15', ' 4', ' 151', ' 51', ' 33', ' 1', ' 19', ' 4'] [' 2,819', ' 1,117', ' 386', ' 120', ' 14,850', ' 4,686', ' 806', ' 35', ' 414', ' 116']

In [37]:
my_dict_p36['County'].append('Glades')
my_dict_p36['fatalities'].append('13')
my_dict_p36['injuries'].append('153')
my_dict_p36['total_crashes'].append('202')
print(my_dict_p36)

{'County': ['Collier', 'Columbia', 'DeSoto', 'Dixie', 'Duval', 'Escambia', 'Flagler', 'Franklin', 'Gadsden', 'Gilchrist', 'Glades'], 'fatalities': [' 23', ' 20', ' 15', ' 4', ' 151', ' 51', ' 33', ' 1', ' 19', ' 4', '13'], 'injuries': [' 2,819', ' 1,117', ' 386', ' 120', ' 14,850', ' 4,686', ' 806', ' 35', ' 414', ' 116', '153'], 'total_crashes': [' 5,135', ' 1,490', ' 516', ' 151', ' 24,734', ' 6,627', ' 1,190', ' 47', ' 669', ' 189', '202']}

In [38]:
my_dict_p37 = {}
pdf = pdfplumber.open(file_2017)
txt = pdf.pages[37].extract_text()
txt = txt[149:]
txt = txt[:-26]
county = re.findall("(\w+\s?\w+?)(?=\\nTotal Injuries)",txt)
crashes = re.findall("(?<=Total Crashes)\s\d+\,?\d+",txt)        
fatalaties = re.findall("(?<=Total Fatalities)\s\d+",txt)          
injuries = re.findall("(?<=Total Injuries)\s\d+\,?\d+",txt)
my_dict_p37['County'] = county
my_dict_p37['fatalities'] = fatalaties
my_dict_p37['injuries'] = injuries
my_dict_p37['total_crashes'] = crashes
print(county,crashes,fatalaties,injuries)

['4\nGulf', '6\nHamilton', '6\nHardee', '13\nHendry', '31\nHernando', '20\nHighlands', '203\nHillsborough', '9\nHolmes', 'Indian River', '22\nJackson'] [' 183', ' 321', ' 476', ' 405', ' 2,312', ' 1,367', ' 27,909', ' 254', ' 1,728', ' 814'] [' 9', ' 9', ' 12', ' 9', ' 34', ' 18', ' 191', ' 10', ' 28', ' 18'] [' 97', ' 211', ' 408', ' 302', ' 2,178', ' 958', ' 20,682', ' 179', ' 1,079', ' 474']

In [39]:
my_dict_p37['County'] = ['Gulf', 'Hamilton', 'Hardee', 'Hendry', 'Hernando', 'Highlands', 'Hillsborough', 'Holmes', 'Indian River', 'Jackson']
print(my_dict_p37)

{'County': ['Gulf', 'Hamilton', 'Hardee', 'Hendry', 'Hernando', 'Highlands', 'Hillsborough', 'Holmes', 'Indian River', 'Jackson'], 'fatalities': [' 9', ' 9', ' 12', ' 9', ' 34', ' 18', ' 191', ' 10', ' 28', ' 18'], 'injuries': [' 97', ' 211', ' 408', ' 302', ' 2,178', ' 958', ' 20,682', ' 179', ' 1,079', ' 474'], 'total_crashes': [' 183', ' 321', ' 476', ' 405', ' 2,312', ' 1,367', ' 27,909', ' 254', ' 1,728', ' 814']}

In [40]:
my_dict_p38 = {}
pdf = pdfplumber.open(file_2017)
txt = pdf.pages[38].extract_text()
txt = txt[68:]
txt = txt[:-161]
county = re.findall("(\w+)(?=\\nTotal Injuries)",txt)
crashes = re.findall("(?<=Total Crashes)\s\d+\,?\d+",txt)        
fatalaties = re.findall("(?<=Total Fatalities)\s\d+",txt)          
injuries = re.findall("(?<=Total Injuries)\s\d+\,?\d+",txt)
my_dict_p38['County'] = county
my_dict_p38['fatalities'] = fatalaties
my_dict_p38['injuries'] = injuries
my_dict_p38['total_crashes'] = crashes
print(county,crashes,fatalaties,injuries)

['Jefferson', 'Lafayette', 'Lake', 'Lee', 'Leon', 'Levy', 'Liberty', 'Madison', 'Manatee', 'Marion'] [' 264', ' 35', ' 4,731', ' 12,709', ' 7,113', ' 584', ' 99', ' 350', ' 5,973', ' 6,691'] [' 4', ' 5', ' 48', ' 113', ' 34', ' 23', ' 3', ' 2', ' 54', ' 90'] [' 133', ' 39', ' 3,627', ' 7,832', ' 3,982', ' 449', ' 74', ' 201', ' 4,610', ' 5,135']

In [41]:
my_dict_p38['County'].append('Martin')
my_dict_p38['fatalities'].append('25')
my_dict_p38['injuries'].append('2,087')
my_dict_p38['total_crashes'].append('3,466')
print(my_dict_p38)

{'County': ['Jefferson', 'Lafayette', 'Lake', 'Lee', 'Leon', 'Levy', 'Liberty', 'Madison', 'Manatee', 'Marion', 'Martin'], 'fatalities': [' 4', ' 5', ' 48', ' 113', ' 34', ' 23', ' 3', ' 2', ' 54', ' 90', '25'], 'injuries': [' 133', ' 39', ' 3,627', ' 7,832', ' 3,982', ' 449', ' 74', ' 201', ' 4,610', ' 5,135', '2,087'], 'total_crashes': [' 264', ' 35', ' 4,731', ' 12,709', ' 7,113', ' 584', ' 99', ' 350', ' 5,973', ' 6,691', '3,466']}

In [42]:
my_dict_p39 = {}
pdf = pdfplumber.open(file_2017)
txt = pdf.pages[39].extract_text()
txt = txt[75:]
txt = txt[:-120]
county = re.findall("(\w+.?\s?\w+?)(?=\\nTotal Injuries)",txt)
crashes = re.findall("(?<=Total Crashes)\s\d+\,?\d+",txt)        
fatalaties = re.findall("(?<=Total Fatalities)\s\d+",txt)          
injuries = re.findall("(?<=Total Injuries)\s\d+\,?\d+",txt)
my_dict_p39['County'] = county
my_dict_p39['fatalities'] = fatalaties
my_dict_p39['injuries'] = injuries
my_dict_p39['total_crashes'] = crashes
print(county,crashes,fatalaties,injuries)

['Miami-Dade', '24\nMonroe', '18\nNassau', '29\nOkaloosa', '10\nOkeechobee', '167\nOrange', '51\nOsceola', 'Palm Beach', '88\nPasco', '117\nPinellas'] [' 65,986', ' 1,255', ' 1,129', ' 3,527', ' 719', ' 31,004', ' 6,494', ' 27,273', ' 7,793', ' 17,968'] [' 285', ' 18', ' 18', ' 32', ' 13', ' 188', ' 55', ' 162', ' 107', ' 119'] [' 32,389', ' 650', ' 825', ' 2,172', ' 507', ' 21,646', ' 5,436', ' 15,912', ' 6,382', ' 11,107']

In [43]:
my_dict_p39['County'] = ['Miami-Dade', 'Monroe', 'Nassau', 'Okaloosa', 'Okeechobee', 'Orange', 'Osceola', 'Palm Beach', 'Pasco', 'Pinellas']
my_dict_p39['County'].append('Polk')
my_dict_p39['fatalities'].append('112')
my_dict_p39['injuries'].append('7,555')
my_dict_p39['total_crashes'].append('11,378')
print(my_dict_p39)

{'County': ['Miami-Dade', 'Monroe', 'Nassau', 'Okaloosa', 'Okeechobee', 'Orange', 'Osceola', 'Palm Beach', 'Pasco', 'Pinellas', 'Polk'], 'fatalities': [' 285', ' 18', ' 18', ' 32', ' 13', ' 188', ' 55', ' 162', ' 107', ' 119', '112'], 'injuries': [' 32,389', ' 650', ' 825', ' 2,172', ' 507', ' 21,646', ' 5,436', ' 15,912', ' 6,382', ' 11,107', '7,555'], 'total_crashes': [' 65,986', ' 1,255', ' 1,129', ' 3,527', ' 719', ' 31,004', ' 6,494', ' 27,273', ' 7,793', ' 17,968', '11,378']}

In [44]:
my_dict_p40 = {}
pdf = pdfplumber.open(file_2017)
txt = pdf.pages[40].extract_text()
txt = txt[120:]
txt = txt[:-78]
county = txt.strip()
county = re.findall("(\w+.?\s?\w+?)(?=\\nTotal Injuries)",txt)
crashes = re.findall("(?<=Total Crashes)\s\d+\,?\d+",txt)        
fatalaties = re.findall("(?<=Total Fatalities)\s\d+",txt)          
injuries = re.findall("(?<=Total Injuries)\s\d+\,?\d+",txt)
my_dict_p40['County'] = county
my_dict_p40['fatalities'] = fatalaties
my_dict_p40['injuries'] = injuries
my_dict_p40['total_crashes'] = crashes
print(county,crashes,fatalaties,injuries)

['24\nPutnam', 'Santa Rosa', '58\nSarasota', '44\nSeminole', 'St. Johns', 'St. Lucie', '19\nSumter', '15\nSuwannee', '8\nTaylor', '3\nUnion'] [' 1,210', ' 1,893', ' 6,625', ' 7,211', ' 3,549', ' 5,062', ' 1,650', ' 713', ' 325', ' 136'] [' 26', ' 19', ' 49', ' 48', ' 42', ' 41', ' 23', ' 14', ' 13', ' 4'] [' 902', ' 1,597', ' 4,002', ' 4,660', ' 2,113', ' 3,093', ' 983', ' 451', ' 209', ' 125']

In [45]:
my_dict_p40['County'] = ['Putnam', 'Santa Rosa', 'Sarasota', 'Seminole', 'St. Johns', 'St. Lucie', 'Sumter', 'Suwannee', 'Taylor', 'Union']
my_dict_p40['County'].append('Volusia')
my_dict_p40['fatalities'].append('130')
my_dict_p40['injuries'].append('6,527')
my_dict_p40['total_crashes'].append('9,601')
print(my_dict_p40)

{'County': ['Putnam', 'Santa Rosa', 'Sarasota', 'Seminole', 'St. Johns', 'St. Lucie', 'Sumter', 'Suwannee', 'Taylor', 'Union', 'Volusia'], 'fatalities': [' 26', ' 19', ' 49', ' 48', ' 42', ' 41', ' 23', ' 14', ' 13', ' 4', '130'], 'injuries': [' 902', ' 1,597', ' 4,002', ' 4,660', ' 2,113', ' 3,093', ' 983', ' 451', ' 209', ' 125', '6,527'], 'total_crashes': [' 1,210', ' 1,893', ' 6,625', ' 7,211', ' 3,549', ' 5,062', ' 1,650', ' 713', ' 325', ' 136', '9,601']}

In [46]:
my_dict_p41 = {}
pdf = pdfplumber.open(file_2017)
txt = pdf.pages[41].extract_text()
txt = txt[160:]
txt = txt[:-26]
county = re.findall("(\w+\-?\w+?)(?=\\nTotal Injuries)",txt)
crashes = re.findall("(?<=Total Crashes)\s\d+\,?\d+",txt)        
fatalaties = re.findall("(?<=Total Fatalities)\s\d+",txt)          
injuries = re.findall("(?<=Total Injuries)\s\d+\,?\d+",txt)
my_dict_p41['County'] = county
my_dict_p41['fatalities'] = fatalaties
my_dict_p41['injuries'] = injuries
my_dict_p41['total_crashes'] = crashes
print(county,crashes,fatalaties,injuries)

['Wakulla', 'Walton', 'Washington'] [' 432', ' 1,300', ' 358'] [' 7', ' 21', ' 10'] [' 302', ' 748', ' 185']

In [47]:
my_dict_combined = defaultdict(list)
dict_items = map(methodcaller('items'), (my_dict_p35,my_dict_p36,my_dict_p37,my_dict_p38,my_dict_p39,my_dict_p40,my_dict_p41))
for k, v in chain.from_iterable(dict_items):
    my_dict_combined[k].extend(v)
print(my_dict_combined)

defaultdict(<class 'list'>, {'County': ['Alachua', 'Baker', 'Bay', 'Bradford', 'Brevard', 'Broward', 'Calhoun', 'Charlotte', 'Citrus', 'Clay', 'Collier', 'Columbia', 'DeSoto', 'Dixie', 'Duval', 'Escambia', 'Flagler', 'Franklin', 'Gadsden', 'Gilchrist', 'Glades', 'Gulf', 'Hamilton', 'Hardee', 'Hendry', 'Hernando', 'Highlands', 'Hillsborough', 'Holmes', 'Indian River', 'Jackson', 'Jefferson', 'Lafayette', 'Lake', 'Lee', 'Leon', 'Levy', 'Liberty', 'Madison', 'Manatee', 'Marion', 'Martin', 'Miami-Dade', 'Monroe', 'Nassau', 'Okaloosa', 'Okeechobee', 'Orange', 'Osceola', 'Palm Beach', 'Pasco', 'Pinellas', 'Polk', 'Putnam', 'Santa Rosa', 'Sarasota', 'Seminole', 'St. Johns', 'St. Lucie', 'Sumter', 'Suwannee', 'Taylor', 'Union', 'Volusia', 'Wakulla', 'Walton', 'Washington'], 'fatalities': [' 55', ' 7', ' 29', ' 7', ' 84', ' 225', ' 1', ' 27', ' 31', '21', ' 23', ' 20', ' 15', ' 4', ' 151', ' 51', ' 33', ' 1', ' 19', ' 4', '13', ' 9', ' 9', ' 12', ' 9', ' 34', ' 18', ' 191', ' 10', ' 28', ' 18', ' 4', ' 5', ' 48', ' 113', ' 34', ' 23', ' 3', ' 2', ' 54', ' 90', '25', ' 285', ' 18', ' 18', ' 32', ' 13', ' 188', ' 55', ' 162', ' 107', ' 119', '112', ' 26', ' 19', ' 49', ' 48', ' 42', ' 41', ' 23', ' 14', ' 13', ' 4', '130', ' 7', ' 21', ' 10'], 'injuries': [' 4,657', ' 321', ' 2,192', ' 250', ' 6,505', ' 24,762', ' 126', ' 1,594', ' 1,382', '1,804', ' 2,819', ' 1,117', ' 386', ' 120', ' 14,850', ' 4,686', ' 806', ' 35', ' 414', ' 116', '153', ' 97', ' 211', ' 408', ' 302', ' 2,178', ' 958', ' 20,682', ' 179', ' 1,079', ' 474', ' 133', ' 39', ' 3,627', ' 7,832', ' 3,982', ' 449', ' 74', ' 201', ' 4,610', ' 5,135', '2,087', ' 32,389', ' 650', ' 825', ' 2,172', ' 507', ' 21,646', ' 5,436', ' 15,912', ' 6,382', ' 11,107', '7,555', ' 902', ' 1,597', ' 4,002', ' 4,660', ' 2,113', ' 3,093', ' 983', ' 451', ' 209', ' 125', '6,527', ' 302', ' 748', ' 185'], 'total_crashes': [' 6,075', ' 431', ' 4,051', ' 381', ' 9,056', ' 41,337', ' 207', ' 2,780', ' 1,781', '2,961', ' 5,135', ' 1,490', ' 516', ' 151', ' 24,734', ' 6,627', ' 1,190', ' 47', ' 669', ' 189', '202', ' 183', ' 321', ' 476', ' 405', ' 2,312', ' 1,367', ' 27,909', ' 254', ' 1,728', ' 814', ' 264', ' 35', ' 4,731', ' 12,709', ' 7,113', ' 584', ' 99', ' 350', ' 5,973', ' 6,691', '3,466', ' 65,986', ' 1,255', ' 1,129', ' 3,527', ' 719', ' 31,004', ' 6,494', ' 27,273', ' 7,793', ' 17,968', '11,378', ' 1,210', ' 1,893', ' 6,625', ' 7,211', ' 3,549', ' 5,062', ' 1,650', ' 713', ' 325', ' 136', '9,601', ' 432', ' 1,300', ' 358']})

In [48]:
fl_df_2017 = pd.DataFrame(my_dict_combined)
fl_df_2017.head()

     County fatalities injuries total_crashes
0   Alachua         55    4,657         6,075
1     Baker          7      321           431
2       Bay         29    2,192         4,051
3  Bradford          7      250           381
4   Brevard         84    6,505         9,056

In [49]:
fl_df_2017.tail()

        County fatalities injuries total_crashes
62       Union          4      125           136
63     Volusia        130    6,527         9,601
64     Wakulla          7      302           432
65      Walton         21      748         1,300
66  Washington         10      185           358

In [50]:
fl_df_2017['County'] = fl_df_2017['County'].str.strip()
fl_df_2017['County'] = fl_df_2017['County'].str.upper()
df_combined_fl_17 = pd.merge(fl_df_2017,pop_combined[['County', 2017]],on="County",how='left')
df_combined_fl_2017 = pd.merge(df_combined_fl_17,metros_fl[['CBSA Title','Metropolitan/Micropolitan Statistical Area','County']],on="County",how='left')
df_combined_fl_2017.rename(columns = {2017:'population'}, inplace = True)
df_combined_fl_2017.insert(0,'Year',2017)
df_combined_fl_2017.head(15)

    Year     County fatalities injuries total_crashes  population                               CBSA Title Metropolitan/Micropolitan Statistical Area
0   2017    ALACHUA         55    4,657         6,075      266309                          Gainesville, FL              Metropolitan Statistical Area
1   2017      BAKER          7      321           431       28254                         Jacksonville, FL              Metropolitan Statistical Area
2   2017        BAY         29    2,192         4,051      184736                          Panama City, FL              Metropolitan Statistical Area
3   2017   BRADFORD          7      250           381       27142                                      NaN                                        NaN
4   2017    BREVARD         84    6,505         9,056      587769        Palm Bay-Melbourne-Titusville, FL              Metropolitan Statistical Area
5   2017    BROWARD        225   24,762        41,337     1934516  Miami-Fort Lauderdale-Pompano Beach, FL              Metropolitan Statistical Area
6   2017    CALHOUN          1      126           207       14428                                      NaN                                        NaN
7   2017  CHARLOTTE         27    1,594         2,780      181522                          Punta Gorda, FL              Metropolitan Statistical Area
8   2017     CITRUS         31    1,382         1,781      145415                    Homosassa Springs, FL              Metropolitan Statistical Area
9   2017       CLAY         21    1,804         2,961      212228                         Jacksonville, FL              Metropolitan Statistical Area
10  2017    COLLIER         23    2,819         5,135      372678                  Naples-Marco Island, FL              Metropolitan Statistical Area
11  2017   COLUMBIA         20    1,117         1,490       69999                            Lake City, FL              Micropolitan Statistical Area
12  2017     DESOTO         15      386           516       37241                              Arcadia, FL              Micropolitan Statistical Area
13  2017      DIXIE          4      120           151       16615                                      NaN                                        NaN
14  2017      DUVAL        151   14,850        24,734      937933                         Jacksonville, FL              Metropolitan Statistical Area

In [51]:
df_combined_fl_2017.to_excel('../data/cleaned_data/2017_FL.xlsx', engine='xlsxwriter',index=False)

### Extracting data for years 2018 thru 2020 and combining with pop along with Metropolitans and Micropolitans

In [52]:
file_2018_2020 ='../data/raw_data/FL/FL_2020.pdf'

In [53]:
fl_df_2018_2020 = pd.DataFrame()
pages = list(range(38,46))
pdf = pdfplumber.open(file_2018_2020)
for page in pages:    
    table=pdf.pages[page].extract_table()
    table = table[1:]
    list_length = len(table)
    paired_list = [table[i] + table[i+1]+ table[i+2] for i in range(0, list_length-1,4)]
    df = pd.DataFrame(paired_list)
    fl_df_2018_2020 = fl_df_2018_2020.append(df)

In [54]:
fl_df_2018_2020 = fl_df_2018_2020.drop([5,6,7,12,13,14,19,20],axis=1)
fl_df_2018_2020 = fl_df_2018_2020.iloc[:-1 , :]
fl_df_2018_2020.head()

         0              1      2      3      4                 8   9   10  11              15     16     17     18
0   Alachua  Total Crashes  4,617  5,878  5,846  Total Fatalities  48  72  51  Total Injuries  3,266  4,237  4,415
1     Baker  Total Crashes    420    438    400  Total Fatalities   4   7   5  Total Injuries    293    341    354
2       Bay  Total Crashes  3,352  4,862  4,549  Total Fatalities  35  32  26  Total Injuries  1,869  2,498  2,360
3  Bradford  Total Crashes    329    412    449  Total Fatalities  10  12   9  Total Injuries    192    282    252
4   Brevard  Total Crashes  8,395  9,207  9,233  Total Fatalities  81  84  85  Total Injuries  5,768  6,625  6,911

In [55]:
fl_df_2018_2020.tail()

           0              1      2       3      4                 8    9    10   11              15     16     17     18
8       Union  Total Crashes    144     152    161  Total Fatalities    2    3    3  Total Injuries    135    117    142
0     Volusia  Total Crashes  9,141  10,133  9,967  Total Fatalities  137  126  106  Total Injuries  6,271  6,817  6,657
1     Wakulla  Total Crashes    407     412    422  Total Fatalities    3    8    9  Total Injuries    215    262    301
2      Walton  Total Crashes  1,342   1,383  1,412  Total Fatalities   29   19   24  Total Injuries    703    836    822
3  Washington  Total Crashes    432     360    348  Total Fatalities   10    9   10  Total Injuries    186    227    203

In [56]:
fl_df_melt_2020 = pd.melt(fl_df_2018_2020,id_vars=[2,9,16],value_vars=[0])
fl_df_melt_2020 = fl_df_melt_2020.drop(['variable'],axis=1)
fl_df_melt_2020 = fl_df_melt_2020[['value',9, 16,2]]
fl_df_melt_2020.columns = ['County','fatalities','injuries','total_crashes']
fl_df_melt_2020['County'] = fl_df_melt_2020['County'].str.strip()
fl_df_melt_2020['County'] = fl_df_melt_2020['County'].str.upper()
fl_df_melt_2020.head(10)

      County fatalities injuries total_crashes
0    ALACHUA         48    3,266         4,617
1      BAKER          4      293           420
2        BAY         35    1,869         3,352
3   BRADFORD         10      192           329
4    BREVARD         81    5,768         8,395
5    BROWARD        268   18,984        34,050
6    CALHOUN          3      120           198
7  CHARLOTTE         26    1,369         2,185
8     CITRUS         38    1,194         1,685
9       CLAY         24    1,502         2,511

In [57]:
df_combined_fl_20 = pd.merge(fl_df_melt_2020,pop_combined[['County', 2020]],on="County",how='left')
df_combined_fl_2020 = pd.merge(df_combined_fl_20,metros_fl[['CBSA Title','Metropolitan/Micropolitan Statistical Area','County']],on="County",how='left')
df_combined_fl_2020.rename(columns = {2020:'population'}, inplace = True)
df_combined_fl_2020.insert(0,'Year',2020)
df_combined_fl_2020.head()

   Year    County fatalities injuries total_crashes  population                         CBSA Title Metropolitan/Micropolitan Statistical Area
0  2020   ALACHUA         48    3,266         4,617      278684                    Gainesville, FL              Metropolitan Statistical Area
1  2020     BAKER          4      293           420       28309                   Jacksonville, FL              Metropolitan Statistical Area
2  2020       BAY         35    1,869         3,352      174461                    Panama City, FL              Metropolitan Statistical Area
3  2020  BRADFORD         10      192           329       28364                                NaN                                        NaN
4  2020   BREVARD         81    5,768         8,395      608007  Palm Bay-Melbourne-Titusville, FL              Metropolitan Statistical Area

In [58]:
df_combined_fl_2020.tail(15)

    Year      County fatalities injuries total_crashes  population                              CBSA Title Metropolitan/Micropolitan Statistical Area
52  2020        POLK        134    7,445        11,230      729233               Lakeland-Winter Haven, FL              Metropolitan Statistical Area
53  2020      PUTNAM         31      804         1,162       73347                             Palatka, FL              Micropolitan Statistical Area
54  2020  SANTA ROSA         21    1,365         2,016      189133          Pensacola-Ferry Pass-Brent, FL              Metropolitan Statistical Area
55  2020    SARASOTA         61    3,310         5,781      435664       North Port-Sarasota-Bradenton, FL              Metropolitan Statistical Area
56  2020    SEMINOLE         37    3,999         5,693      471058           Orlando-Kissimmee-Sanford, FL              Metropolitan Statistical Area
57  2020   ST. JOHNS         39    1,674         3,281      276916                        Jacksonville, FL              Metropolitan Statistical Area
58  2020   ST. LUCIE         49    2,657         4,713      331275                      Port St. Lucie, FL              Metropolitan Statistical Area
59  2020      SUMTER         24    1,024         1,513      130897                        The Villages, FL              Metropolitan Statistical Area
60  2020    SUWANNEE         20      396           645       43510                                     NaN                                        NaN
61  2020      TAYLOR          3      191           316       21760                                     NaN                                        NaN
62  2020       UNION          2      135           144       16126                                     NaN                                        NaN
63  2020     VOLUSIA        137    6,271         9,141      554901  Deltona-Daytona Beach-Ormond Beach, FL              Metropolitan Statistical Area
64  2020     WAKULLA          3      215           407       33907                         Tallahassee, FL              Metropolitan Statistical Area
65  2020      WALTON         29      703         1,342       75855  Crestview-Fort Walton Beach-Destin, FL              Metropolitan Statistical Area
66  2020  WASHINGTON         10      186           432       25357                                     NaN                                        NaN

In [59]:
fl_df_melt_2019 = pd.melt(fl_df_2018_2020,id_vars=[10,17,3],value_vars=[0])
fl_df_melt_2019 = fl_df_melt_2019.drop(['variable'],axis=1)
fl_df_melt_2019 = fl_df_melt_2019[['value',10,17,3]]
fl_df_melt_2019.columns = ['County','fatalities','injuries','total_crashes']
fl_df_melt_2019.head(10)

      County fatalities injuries total_crashes
0    Alachua         72    4,237         5,878
1      Baker          7      341           438
2        Bay         32    2,498         4,862
3   Bradford         12      282           412
4    Brevard         84    6,625         9,207
5    Broward        214   23,671        41,114
6    Calhoun          4      148           213
7  Charlotte         22    1,418         2,386
8     Citrus         22    1,410         1,774
9       Clay         26    1,669         2,694

In [60]:
fl_df_melt_2019['County'] = fl_df_melt_2019['County'].str.strip()
fl_df_melt_2019['County'] = fl_df_melt_2019['County'].str.upper()
df_combined_fl_19 = pd.merge(fl_df_melt_2019,pop_combined[['County', 2019]],on="County",how='left')
df_combined_fl_2019 = pd.merge(df_combined_fl_19,metros_fl[['CBSA Title','Metropolitan/Micropolitan Statistical Area','County']],on="County",how='left')
df_combined_fl_2019.rename(columns = {2019:'population'}, inplace = True)
df_combined_fl_2019.insert(0,'Year',2019)
df_combined_fl_2019.head()

   Year    County fatalities injuries total_crashes  population                         CBSA Title Metropolitan/Micropolitan Statistical Area
0  2019   ALACHUA         72    4,237         5,878      269043                    Gainesville, FL              Metropolitan Statistical Area
1  2019     BAKER          7      341           438       29210                   Jacksonville, FL              Metropolitan Statistical Area
2  2019       BAY         32    2,498         4,862      174705                    Panama City, FL              Metropolitan Statistical Area
3  2019  BRADFORD         12      282           412       28201                                NaN                                        NaN
4  2019   BREVARD         84    6,625         9,207      601942  Palm Bay-Melbourne-Titusville, FL              Metropolitan Statistical Area

In [61]:
fl_df_melt_2018 = pd.melt(fl_df_2018_2020,id_vars=[11,18,4],value_vars=[0])
fl_df_melt_2018 = fl_df_melt_2018.drop(['variable'],axis=1)
fl_df_melt_2018 = fl_df_melt_2018[['value',11,18,4]]
fl_df_melt_2018.columns = ['County','fatalities','injuries','total_crashes']
fl_df_melt_2018.head(10)

      County fatalities injuries total_crashes
0    Alachua         51    4,415         5,846
1      Baker          5      354           400
2        Bay         26    2,360         4,549
3   Bradford          9      252           449
4    Brevard         85    6,911         9,233
5    Broward        237   24,644        41,082
6    Calhoun          8      112           206
7  Charlotte         27    1,582         2,734
8     Citrus         37    1,413         1,813
9       Clay         19    1,737         2,849

In [62]:
fl_df_melt_2018['County'] = fl_df_melt_2018['County'].str.strip()
fl_df_melt_2018['County'] = fl_df_melt_2018['County'].str.upper()
df_combined_fl_18 = pd.merge(fl_df_melt_2018,pop_combined[['County', 2018]],on="County",how='left')
df_combined_fl_2018 = pd.merge(df_combined_fl_18,metros_fl[['CBSA Title','Metropolitan/Micropolitan Statistical Area','County']],on="County",how='left')
df_combined_fl_2018.rename(columns = {2018:'population'}, inplace = True)
df_combined_fl_2018.insert(0,'Year',2018)
df_combined_fl_2018.head(10)

   Year     County fatalities injuries total_crashes  population                               CBSA Title Metropolitan/Micropolitan Statistical Area
0  2018    ALACHUA         51    4,415         5,846      268851                          Gainesville, FL              Metropolitan Statistical Area
1  2018      BAKER          5      354           400       28353                         Jacksonville, FL              Metropolitan Statistical Area
2  2018        BAY         26    2,360         4,549      186240                          Panama City, FL              Metropolitan Statistical Area
3  2018   BRADFORD          9      252           449       27752                                      NaN                                        NaN
4  2018    BREVARD         85    6,911         9,233      595203        Palm Bay-Melbourne-Titusville, FL              Metropolitan Statistical Area
5  2018    BROWARD        237   24,644        41,082     1946107  Miami-Fort Lauderdale-Pompano Beach, FL              Metropolitan Statistical Area
6  2018    CALHOUN          8      112           206       14543                                      NaN                                        NaN
7  2018  CHARLOTTE         27    1,582         2,734      184849                          Punta Gorda, FL              Metropolitan Statistical Area
8  2018     CITRUS         37    1,413         1,813      147682                    Homosassa Springs, FL              Metropolitan Statistical Area
9  2018       CLAY         19    1,737         2,849      215908                         Jacksonville, FL              Metropolitan Statistical Area

In [63]:
df_combined_fl_2018.to_excel('../data/cleaned_data/2018_FL.xlsx', engine='xlsxwriter',index=False)
df_combined_fl_2019.to_excel('../data/cleaned_data/2019_FL.xlsx', engine='xlsxwriter',index=False)
df_combined_fl_2020.to_excel('../data/cleaned_data/2020_FL.xlsx', engine='xlsxwriter',index=False)

### Combining all the files into a master file

In [64]:
data_file_folder ='../data/cleaned_data/'
df = []
for file in os.listdir(data_file_folder):
        if file.endswith('_FL.xlsx'):             
             df.append(pd.read_excel(os.path.join(data_file_folder,file),sheet_name='Sheet1'))
df_fl_master = pd.concat(df, axis = 0)
df_fl_master['injuries'] = df_fl_master['injuries'].str.replace(',', '').astype(float)
df_fl_master['total_crashes'] = df_fl_master['total_crashes'].str.replace(',', '').astype(float)

In [65]:
df_fl_master.isna().sum()

Year                                            0
County                                          0
fatalities                                      0
injuries                                        0
total_crashes                                   0
population                                      0
CBSA Title                                    128
Metropolitan/Micropolitan Statistical Area    128
dtype: int64

In [66]:
df_fl_master.head(10)

   Year     County  fatalities  injuries  total_crashes  population                               CBSA Title Metropolitan/Micropolitan Statistical Area
0  2013    ALACHUA          33    3321.0         4651.0      252475                          Gainesville, FL              Metropolitan Statistical Area
1  2013      BAKER           9     270.0          293.0       27009                         Jacksonville, FL              Metropolitan Statistical Area
2  2013        BAY          17    2208.0         3514.0      174596                          Panama City, FL              Metropolitan Statistical Area
3  2013   BRADFORD           5     202.0          220.0       26802                                      NaN                                        NaN
4  2013    BREVARD          76    5041.0         7079.0      550255        Palm Bay-Melbourne-Titusville, FL              Metropolitan Statistical Area
5  2013    BROWARD         180   21580.0        32595.0     1836600  Miami-Fort Lauderdale-Pompano Beach, FL              Metropolitan Statistical Area
6  2013    CALHOUN           1     109.0          152.0       14578                                      NaN                                        NaN
7  2013  CHARLOTTE          22    1412.0         2091.0      164671                          Punta Gorda, FL              Metropolitan Statistical Area
8  2013     CITRUS          17     993.0         1360.0      138829                    Homosassa Springs, FL              Metropolitan Statistical Area
9  2013       CLAY          10    1621.0         2434.0      195657                         Jacksonville, FL              Metropolitan Statistical Area

In [67]:
df_fl_master.tail(10)

    Year      County  fatalities  injuries  total_crashes  population                              CBSA Title Metropolitan/Micropolitan Statistical Area
57  2020   ST. JOHNS          39    1674.0         3281.0      276916                        Jacksonville, FL              Metropolitan Statistical Area
58  2020   ST. LUCIE          49    2657.0         4713.0      331275                      Port St. Lucie, FL              Metropolitan Statistical Area
59  2020      SUMTER          24    1024.0         1513.0      130897                        The Villages, FL              Metropolitan Statistical Area
60  2020    SUWANNEE          20     396.0          645.0       43510                                     NaN                                        NaN
61  2020      TAYLOR           3     191.0          316.0       21760                                     NaN                                        NaN
62  2020       UNION           2     135.0          144.0       16126                                     NaN                                        NaN
63  2020     VOLUSIA         137    6271.0         9141.0      554901  Deltona-Daytona Beach-Ormond Beach, FL              Metropolitan Statistical Area
64  2020     WAKULLA           3     215.0          407.0       33907                         Tallahassee, FL              Metropolitan Statistical Area
65  2020      WALTON          29     703.0         1342.0       75855  Crestview-Fort Walton Beach-Destin, FL              Metropolitan Statistical Area
66  2020  WASHINGTON          10     186.0          432.0       25357                                     NaN                                        NaN

In [68]:
df_fl_master.to_excel('../data/FL.xlsx', engine='xlsxwriter',index=False)

In [80]:
df_fl_master.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 536 entries, 0 to 66
Data columns (total 8 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Year                                        536 non-null    int64
 1   County                                      536 non-null    object
 2   fatalities                                  536 non-null    int64
 3   injuries                                    536 non-null    float64
 4   total_crashes                               536 non-null    float64
 5   population                                  536 non-null    int64
 6   CBSA Title                                  408 non-null    object
 7   Metropolitan/Micropolitan Statistical Area  408 non-null    object
dtypes: float64(2), int64(3), object(3)
memory usage: 37.7+ KB

In [89]:
df_fl_master_pop_gr = df_fl_master.groupby(["CBSA Title","Year","Metropolitan/Micropolitan Statistical Area"])["population"].sum().reset_index()
df_fl_master_pop_gr

                                  CBSA Title  Year Metropolitan/Micropolitan Statistical Area  population
0                                Arcadia, FL  2013              Micropolitan Statistical Area       34905
1                                Arcadia, FL  2014              Micropolitan Statistical Area       35338
2                                Arcadia, FL  2015              Micropolitan Statistical Area       35648
3                                Arcadia, FL  2016              Micropolitan Statistical Area       36255
4                                Arcadia, FL  2017              Micropolitan Statistical Area       37241
5                                Arcadia, FL  2018              Micropolitan Statistical Area       37368
6                                Arcadia, FL  2019              Micropolitan Statistical Area       38001
7                                Arcadia, FL  2020              Micropolitan Statistical Area       34080
8                  Cape Coral-Fort Myers, FL  2013              Metropolitan Statistical Area      659834
9                  Cape Coral-Fort Myers, FL  2014              Metropolitan Statistical Area      677232
10                 Cape Coral-Fort Myers, FL  2015              Metropolitan Statistical Area      699644
11                 Cape Coral-Fort Myers, FL  2016              Metropolitan Statistical Area      722649
12                 Cape Coral-Fort Myers, FL  2017              Metropolitan Statistical Area      740000
13                 Cape Coral-Fort Myers, FL  2018              Metropolitan Statistical Area      754470
14                 Cape Coral-Fort Myers, FL  2019              Metropolitan Statistical Area      770577
15                 Cape Coral-Fort Myers, FL  2020              Metropolitan Statistical Area      764679
16                             Clewiston, FL  2013              Micropolitan Statistical Area       37809
17                             Clewiston, FL  2014              Micropolitan Statistical Area       38474
18                             Clewiston, FL  2015              Micropolitan Statistical Area       39248
19                             Clewiston, FL  2016              Micropolitan Statistical Area       40037
20                             Clewiston, FL  2017              Micropolitan Statistical Area       41018
21                             Clewiston, FL  2018              Micropolitan Statistical Area       41336
22                             Clewiston, FL  2019              Micropolitan Statistical Area       42022
23                             Clewiston, FL  2020              Micropolitan Statistical Area       39707
24    Crestview-Fort Walton Beach-Destin, FL  2013              Metropolitan Statistical Area      251881
25    Crestview-Fort Walton Beach-Destin, FL  2014              Metropolitan Statistical Area      255801
26    Crestview-Fort Walton Beach-Destin, FL  2015              Metropolitan Statistical Area      260814
27    Crestview-Fort Walton Beach-Destin, FL  2016              Metropolitan Statistical Area      265492
28    Crestview-Fort Walton Beach-Destin, FL  2017              Metropolitan Statistical Area      271499
29    Crestview-Fort Walton Beach-Destin, FL  2018              Metropolitan Statistical Area      277666
30    Crestview-Fort Walton Beach-Destin, FL  2019              Metropolitan Statistical Area      284809
31    Crestview-Fort Walton Beach-Destin, FL  2020              Metropolitan Statistical Area      287664
32    Deltona-Daytona Beach-Ormond Beach, FL  2013              Metropolitan Statistical Area      600236
33    Deltona-Daytona Beach-Ormond Beach, FL  2014              Metropolitan Statistical Area      608604
34    Deltona-Daytona Beach-Ormond Beach, FL  2015              Metropolitan Statistical Area      621166
35    Deltona-Daytona Beach-Ormond Beach, FL  2016              Metropolitan Statistical Area      635859
36    Deltona-Daytona Beach-Ormond Beach, FL  2017              Metropolitan Statistical Area      647867
37    Deltona-Daytona Beach-Ormond Beach, FL  2018              Metropolitan Statistical Area      658186
38    Deltona-Daytona Beach-Ormond Beach, FL  2019              Metropolitan Statistical Area      668365
39    Deltona-Daytona Beach-Ormond Beach, FL  2020              Metropolitan Statistical Area      670869
40                           Gainesville, FL  2013              Metropolitan Statistical Area      308865
41                           Gainesville, FL  2014              Metropolitan Statistical Area      311743
42                           Gainesville, FL  2015              Metropolitan Statistical Area      316031
43                           Gainesville, FL  2016              Metropolitan Statistical Area      321418
44                           Gainesville, FL  2017              Metropolitan Statistical Area      324485
45                           Gainesville, FL  2018              Metropolitan Statistical Area      327933
46                           Gainesville, FL  2019              Metropolitan Statistical Area      329128
47                           Gainesville, FL  2020              Metropolitan Statistical Area      339663
48                     Homosassa Springs, FL  2013              Metropolitan Statistical Area      138829
49                     Homosassa Springs, FL  2014              Metropolitan Statistical Area      138828
50                     Homosassa Springs, FL  2015              Metropolitan Statistical Area      140287
51                     Homosassa Springs, FL  2016              Metropolitan Statistical Area      142804
52                     Homosassa Springs, FL  2017              Metropolitan Statistical Area      145415
53                     Homosassa Springs, FL  2018              Metropolitan Statistical Area      147682
54                     Homosassa Springs, FL  2019              Metropolitan Statistical Area      149657
55                     Homosassa Springs, FL  2020              Metropolitan Statistical Area      154403
56                          Jacksonville, FL  2013              Metropolitan Statistical Area     1393432
57                          Jacksonville, FL  2014              Metropolitan Statistical Area     1416446
58                          Jacksonville, FL  2015              Metropolitan Statistical Area     1444638
59                          Jacksonville, FL  2016              Metropolitan Statistical Area     1476023
60                          Jacksonville, FL  2017              Metropolitan Statistical Area     1505033
61                          Jacksonville, FL  2018              Metropolitan Statistical Area     1532663
62                          Jacksonville, FL  2019              Metropolitan Statistical Area     1559514
63                          Jacksonville, FL  2020              Metropolitan Statistical Area     1611388
64                              Key West, FL  2013              Micropolitan Statistical Area       75813
65                              Key West, FL  2014              Micropolitan Statistical Area       76261
66                              Key West, FL  2015              Micropolitan Statistical Area       76648
67                              Key West, FL  2016              Micropolitan Statistical Area       76872
68                              Key West, FL  2017              Micropolitan Statistical Area       76483
69                              Key West, FL  2018              Micropolitan Statistical Area       74757
70                              Key West, FL  2019              Micropolitan Statistical Area       74228
71                              Key West, FL  2020              Micropolitan Statistical Area       82809
72                             Lake City, FL  2013              Micropolitan Statistical Area       67417
73                             Lake City, FL  2014              Micropolitan Statistical Area       67779
74                             Lake City, FL  2015              Micropolitan Statistical Area       68222
75                             Lake City, FL  2016              Micropolitan Statistical Area       69265
76                             Lake City, FL  2017              Micropolitan Statistical Area       69999
77                             Lake City, FL  2018              Micropolitan Statistical Area       70668
78                             Lake City, FL  2019              Micropolitan Statistical Area       71686
79                             Lake City, FL  2020              Micropolitan Statistical Area       69889
80                 Lakeland-Winter Haven, FL  2013              Metropolitan Statistical Area      622633
81                 Lakeland-Winter Haven, FL  2014              Metropolitan Statistical Area      634398
82                 Lakeland-Winter Haven, FL  2015              Metropolitan Statistical Area      648523
83                 Lakeland-Winter Haven, FL  2016              Metropolitan Statistical Area      665823
84                 Lakeland-Winter Haven, FL  2017              Metropolitan Statistical Area      685368
85                 Lakeland-Winter Haven, FL  2018              Metropolitan Statistical Area      706597
86                 Lakeland-Winter Haven, FL  2019              Metropolitan Statistical Area      724777
87                 Lakeland-Winter Haven, FL  2020              Metropolitan Statistical Area      729233
88   Miami-Fort Lauderdale-Pompano Beach, FL  2013              Metropolitan Statistical Area     5822754
89   Miami-Fort Lauderdale-Pompano Beach, FL  2014              Metropolitan Statistical Area     5893858
90   Miami-Fort Lauderdale-Pompano Beach, FL  2015              Metropolitan Statistical Area     5969135
91   Miami-Fort Lauderdale-Pompano Beach, FL  2016              Metropolitan Statistical Area     6055686
92   Miami-Fort Lauderdale-Pompano Beach, FL  2017              Metropolitan Statistical Area     6118155
93   Miami-Fort Lauderdale-Pompano Beach, FL  2018              Metropolitan Statistical Area     6143837
94   Miami-Fort Lauderdale-Pompano Beach, FL  2019              Metropolitan Statistical Area     6166488
95   Miami-Fort Lauderdale-Pompano Beach, FL  2020              Metropolitan Statistical Area     6126441
96                   Naples-Marco Island, FL  2013              Metropolitan Statistical Area      338987
97                   Naples-Marco Island, FL  2014              Metropolitan Statistical Area      347211
98                   Naples-Marco Island, FL  2015              Metropolitan Statistical Area      356041
99                   Naples-Marco Island, FL  2016              Metropolitan Statistical Area      365445
100                  Naples-Marco Island, FL  2017              Metropolitan Statistical Area      372678
101                  Naples-Marco Island, FL  2018              Metropolitan Statistical Area      378201
102                  Naples-Marco Island, FL  2019              Metropolitan Statistical Area      384902
103                  Naples-Marco Island, FL  2020              Metropolitan Statistical Area      377079
104        North Port-Sarasota-Bradenton, FL  2013              Metropolitan Statistical Area      731796
105        North Port-Sarasota-Bradenton, FL  2014              Metropolitan Statistical Area      747228
106        North Port-Sarasota-Bradenton, FL  2015              Metropolitan Statistical Area      767309
107        North Port-Sarasota-Bradenton, FL  2016              Metropolitan Statistical Area      788341
108        North Port-Sarasota-Bradenton, FL  2017              Metropolitan Statistical Area      805186
109        North Port-Sarasota-Bradenton, FL  2018              Metropolitan Statistical Area      820716
110        North Port-Sarasota-Bradenton, FL  2019              Metropolitan Statistical Area      836995
111        North Port-Sarasota-Bradenton, FL  2020              Metropolitan Statistical Area      837107
112                                Ocala, FL  2013              Metropolitan Statistical Area      335083
113                                Ocala, FL  2014              Metropolitan Statistical Area      338005
114                                Ocala, FL  2015              Metropolitan Statistical Area      342182
115                                Ocala, FL  2016              Metropolitan Statistical Area      347469
116                                Ocala, FL  2017              Metropolitan Statistical Area      353339
117                                Ocala, FL  2018              Metropolitan Statistical Area      359062
118                                Ocala, FL  2019              Metropolitan Statistical Area      365579
119                                Ocala, FL  2020              Metropolitan Statistical Area      377370
120                           Okeechobee, FL  2013              Micropolitan Statistical Area       39482
121                           Okeechobee, FL  2014              Micropolitan Statistical Area       39569
122                           Okeechobee, FL  2015              Micropolitan Statistical Area       39854
123                           Okeechobee, FL  2016              Micropolitan Statistical Area       40769
124                           Okeechobee, FL  2017              Micropolitan Statistical Area       41275
125                           Okeechobee, FL  2018              Micropolitan Statistical Area       41654
126                           Okeechobee, FL  2019              Micropolitan Statistical Area       42168
127                           Okeechobee, FL  2020              Micropolitan Statistical Area       39641
128            Orlando-Kissimmee-Sanford, FL  2013              Metropolitan Statistical Area     2270149
129            Orlando-Kissimmee-Sanford, FL  2014              Metropolitan Statistical Area     2324391
130            Orlando-Kissimmee-Sanford, FL  2015              Metropolitan Statistical Area     2388509
131            Orlando-Kissimmee-Sanford, FL  2016              Metropolitan Statistical Area     2455583
132            Orlando-Kissimmee-Sanford, FL  2017              Metropolitan Statistical Area     2517777
133            Orlando-Kissimmee-Sanford, FL  2018              Metropolitan Statistical Area     2574838
134            Orlando-Kissimmee-Sanford, FL  2019              Metropolitan Statistical Area     2608147
135            Orlando-Kissimmee-Sanford, FL  2020              Metropolitan Statistical Area     2677687
136                              Palatka, FL  2013              Micropolitan Statistical Area       72370
137                              Palatka, FL  2014              Micropolitan Statistical Area       71971
138                              Palatka, FL  2015              Micropolitan Statistical Area       71939
139                              Palatka, FL  2016              Micropolitan Statistical Area       72373
140                              Palatka, FL  2017              Micropolitan Statistical Area       73384
141                              Palatka, FL  2018              Micropolitan Statistical Area       74043
142                              Palatka, FL  2019              Micropolitan Statistical Area       74521
143                              Palatka, FL  2020              Micropolitan Statistical Area       73347
144        Palm Bay-Melbourne-Titusville, FL  2013              Metropolitan Statistical Area      550255
145        Palm Bay-Melbourne-Titusville, FL  2014              Metropolitan Statistical Area      555548
146        Palm Bay-Melbourne-Titusville, FL  2015              Metropolitan Statistical Area      565746
147        Palm Bay-Melbourne-Titusville, FL  2016              Metropolitan Statistical Area      576874
148        Palm Bay-Melbourne-Titusville, FL  2017              Metropolitan Statistical Area      587769
149        Palm Bay-Melbourne-Titusville, FL  2018              Metropolitan Statistical Area      595203
150        Palm Bay-Melbourne-Titusville, FL  2019              Metropolitan Statistical Area      601942
151        Palm Bay-Melbourne-Titusville, FL  2020              Metropolitan Statistical Area      608007
152                          Panama City, FL  2013              Metropolitan Statistical Area      174596
153                          Panama City, FL  2014              Metropolitan Statistical Area      178289
154                          Panama City, FL  2015              Metropolitan Statistical Area      181488
155                          Panama City, FL  2016              Metropolitan Statistical Area      183634
156                          Panama City, FL  2017              Metropolitan Statistical Area      184736
157                          Panama City, FL  2018              Metropolitan Statistical Area      186240
158                          Panama City, FL  2019              Metropolitan Statistical Area      174705
159                          Panama City, FL  2020              Metropolitan Statistical Area      174461
160           Pensacola-Ferry Pass-Brent, FL  2013              Metropolitan Statistical Area      467086
161           Pensacola-Ferry Pass-Brent, FL  2014              Metropolitan Statistical Area      470628
162           Pensacola-Ferry Pass-Brent, FL  2015              Metropolitan Statistical Area      475537
163           Pensacola-Ferry Pass-Brent, FL  2016              Metropolitan Statistical Area      481367
164           Pensacola-Ferry Pass-Brent, FL  2017              Metropolitan Statistical Area      487298
165           Pensacola-Ferry Pass-Brent, FL  2018              Metropolitan Statistical Area      494399
166           Pensacola-Ferry Pass-Brent, FL  2019              Metropolitan Statistical Area      502629
167           Pensacola-Ferry Pass-Brent, FL  2020              Metropolitan Statistical Area      511557
168                       Port St. Lucie, FL  2013              Metropolitan Statistical Area      436425
169                       Port St. Lucie, FL  2014              Metropolitan Statistical Area      443164
170                       Port St. Lucie, FL  2015              Metropolitan Statistical Area      452841
171                       Port St. Lucie, FL  2016              Metropolitan Statistical Area      463891
172                       Port St. Lucie, FL  2017              Metropolitan Statistical Area      472864
173                       Port St. Lucie, FL  2018              Metropolitan Statistical Area      481167
174                       Port St. Lucie, FL  2019              Metropolitan Statistical Area      489297
175                       Port St. Lucie, FL  2020              Metropolitan Statistical Area      489804
176                          Punta Gorda, FL  2013              Metropolitan Statistical Area      164671
177                          Punta Gorda, FL  2014              Metropolitan Statistical Area      168041
178                          Punta Gorda, FL  2015              Metropolitan Statistical Area      172382
179                          Punta Gorda, FL  2016              Metropolitan Statistical Area      177671
180                          Punta Gorda, FL  2017              Metropolitan Statistical Area      181522
181                          Punta Gorda, FL  2018              Metropolitan Statistical Area      184849
182                          Punta Gorda, FL  2019              Metropolitan Statistical Area      188910
183                          Punta Gorda, FL  2020              Metropolitan Statistical Area      187960
184                 Sebastian-Vero Beach, FL  2013              Metropolitan Statistical Area      141895
185                 Sebastian-Vero Beach, FL  2014              Metropolitan Statistical Area      144445
186                 Sebastian-Vero Beach, FL  2015              Metropolitan Statistical Area      147434

In [90]:
df_fl_master_pop_gr = pd.pivot(df_fl_master_pop_gr,index=["Metropolitan/Micropolitan Statistical Area","CBSA Title"],columns=["Year"])
df_fl_master_pop_gr

                                                                                   population
Year                                                                                     2013     2014     2015     2016     2017     2018     2019     2020
Metropolitan/Micropolitan Statistical Area CBSA Title
Metropolitan Statistical Area              Cape Coral-Fort Myers, FL                   659834   677232   699644   722649   740000   754470   770577   764679
                                           Crestview-Fort Walton Beach-Destin, FL      251881   255801   260814   265492   271499   277666   284809   287664
                                           Deltona-Daytona Beach-Ormond Beach, FL      600236   608604   621166   635859   647867   658186   668365   670869
                                           Gainesville, FL                             308865   311743   316031   321418   324485   327933   329128   339663
                                           Homosassa Springs, FL                       138829   138828   140287   142804   145415   147682   149657   154403
                                           Jacksonville, FL                           1393432  1416446  1444638  1476023  1505033  1532663  1559514  1611388
                                           Lakeland-Winter Haven, FL                   622633   634398   648523   665823   685368   706597   724777   729233
                                           Miami-Fort Lauderdale-Pompano Beach, FL    5822754  5893858  5969135  6055686  6118155  6143837  6166488  6126441
                                           Naples-Marco Island, FL                     338987   347211   356041   365445   372678   378201   384902   377079
                                           North Port-Sarasota-Bradenton, FL           731796   747228   767309   788341   805186   820716   836995   837107
                                           Ocala, FL                                   335083   338005   342182   347469   353339   359062   365579   377370
                                           Orlando-Kissimmee-Sanford, FL              2270149  2324391  2388509  2455583  2517777  2574838  2608147  2677687
                                           Palm Bay-Melbourne-Titusville, FL           550255   555548   565746   576874   587769   595203   601942   608007
                                           Panama City, FL                             174596   178289   181488   183634   184736   186240   174705   174461
                                           Pensacola-Ferry Pass-Brent, FL              467086   470628   475537   481367   487298   494399   502629   511557
                                           Port St. Lucie, FL                          436425   443164   452841   463891   472864   481167   489297   489804
                                           Punta Gorda, FL                             164671   168041   172382   177671   181522   184849   188910   187960
                                           Sebastian-Vero Beach, FL                    141895   144445   147434   151159   154241   157187   159923   160345
                                           Sebring-Avon Park, FL                        98077    98584   100137   102041   103852   104933   106221   101222
                                           Tallahassee, FL                             373187   375356   377602   378672   383173   384318   387227   384546
                                           Tampa-St. Petersburg-Clearwater, FL        2880536  2927395  2983928  3048963  3106922  3154649  3194831  3183385
                                           The Villages, FL                            106898   112236   117076   122009   124995   128719   132420   130897
Micropolitan Statistical Area              Arcadia, FL                                  34905    35338    35648    36255    37241    37368    38001    34080
                                           Clewiston, FL                                37809    38474    39248    40037    41018    41336    42022    39707
                                           Key West, FL                                 75813    76261    76648    76872    76483    74757    74228    82809
                                           Lake City, FL                                67417    67779    68222    69265    69999    70668    71686    69889
                                           Okeechobee, FL                               39482    39569    39854    40769    41275    41654    42168    39641
                                           Palatka, FL                                  72370    71971    71939    72373    73384    74043    74521    73347
                                           Wauchula, FL                                 27311    27266    27177    27219    27154    27168    26937    25313

In [93]:
df_fl_master_pop_gr.pct_change(axis='columns')

                                                                                   population
Year                                                                                     2013      2014      2015      2016      2017      2018      2019      2020
Metropolitan/Micropolitan Statistical Area CBSA Title
Metropolitan Statistical Area              Cape Coral-Fort Myers, FL                      NaN  0.026367  0.033094  0.032881  0.024010  0.019554  0.021349 -0.007654
                                           Crestview-Fort Walton Beach-Destin, FL         NaN  0.015563  0.019597  0.017936  0.022626  0.022715  0.025725  0.010024
                                           Deltona-Daytona Beach-Ormond Beach, FL         NaN  0.013941  0.020641  0.023654  0.018885  0.015928  0.015465  0.003746
                                           Gainesville, FL                                NaN  0.009318  0.013755  0.017046  0.009542  0.010626  0.003644  0.032009
                                           Homosassa Springs, FL                          NaN -0.000007  0.010509  0.017942  0.018284  0.015590  0.013373  0.031713
                                           Jacksonville, FL                               NaN  0.016516  0.019903  0.021725  0.019654  0.018358  0.017519  0.033263
                                           Lakeland-Winter Haven, FL                      NaN  0.018896  0.022265  0.026676  0.029355  0.030975  0.025729  0.006148
                                           Miami-Fort Lauderdale-Pompano Beach, FL        NaN  0.012211  0.012772  0.014500  0.010316  0.004198  0.003687 -0.006494
                                           Naples-Marco Island, FL                        NaN  0.024261  0.025431  0.026413  0.019792  0.014820  0.017718 -0.020325
                                           North Port-Sarasota-Bradenton, FL              NaN  0.021088  0.026874  0.027410  0.021368  0.019287  0.019835  0.000134
                                           Ocala, FL                                      NaN  0.008720  0.012358  0.015451  0.016894  0.016197  0.018150  0.032253
                                           Orlando-Kissimmee-Sanford, FL                  NaN  0.023894  0.027585  0.028082  0.025328  0.022663  0.012936  0.026663
                                           Palm Bay-Melbourne-Titusville, FL              NaN  0.009619  0.018357  0.019670  0.018886  0.012648  0.011322  0.010076
                                           Panama City, FL                                NaN  0.021152  0.017943  0.011824  0.006001  0.008141 -0.061936 -0.001397
                                           Pensacola-Ferry Pass-Brent, FL                 NaN  0.007583  0.010431  0.012260  0.012321  0.014572  0.016646  0.017763
                                           Port St. Lucie, FL                             NaN  0.015441  0.021836  0.024402  0.019343  0.017559  0.016896  0.001036
                                           Punta Gorda, FL                                NaN  0.020465  0.025833  0.030682  0.021675  0.018328  0.021969 -0.005029
                                           Sebastian-Vero Beach, FL                       NaN  0.017971  0.020693  0.025266  0.020389  0.019100  0.017406  0.002639
                                           Sebring-Avon Park, FL                          NaN  0.005169  0.015753  0.019014  0.017748  0.010409  0.012274 -0.047062
                                           Tallahassee, FL                                NaN  0.005812  0.005984  0.002834  0.011886  0.002988  0.007569 -0.006924
                                           Tampa-St. Petersburg-Clearwater, FL            NaN  0.016267  0.019312  0.021795  0.019009  0.015362  0.012737 -0.003583
                                           The Villages, FL                               NaN  0.049935  0.043123  0.042135  0.024474  0.029793  0.028753 -0.011501
Micropolitan Statistical Area              Arcadia, FL                                    NaN  0.012405  0.008772  0.017028  0.027196  0.003410  0.016940 -0.103181
                                           Clewiston, FL                                  NaN  0.017588  0.020117  0.020103  0.024502  0.007753  0.016596 -0.055090
                                           Key West, FL                                   NaN  0.005909  0.005075  0.002922 -0.005060 -0.022567 -0.007076  0.115603
                                           Lake City, FL                                  NaN  0.005370  0.006536  0.015288  0.010597  0.009557  0.014405 -0.025068
                                           Okeechobee, FL                                 NaN  0.002204  0.007203  0.022959  0.012411  0.009182  0.012340 -0.059927
                                           Palatka, FL                                    NaN -0.005513 -0.000445  0.006033  0.013969  0.008980  0.006456 -0.015754
                                           Wauchula, FL                                   NaN -0.001648 -0.003264  0.001545 -0.002388  0.000516 -0.008503 -0.060289

In [97]:
df_fl_master_crashes = df_fl_master.groupby(["CBSA Title","Year","Metropolitan/Micropolitan Statistical Area"]).agg({'total_crashes':'sum','injuries':'sum','fatalities':'sum'}).reset_index()
df_fl_master_crashes

                                  CBSA Title  Year Metropolitan/Micropolitan Statistical Area  total_crashes  injuries  fatalities
0                                Arcadia, FL  2013              Micropolitan Statistical Area          319.0     223.0           2
1                                Arcadia, FL  2014              Micropolitan Statistical Area          377.0     286.0           7
2                                Arcadia, FL  2015              Micropolitan Statistical Area          408.0     323.0          16
3                                Arcadia, FL  2016              Micropolitan Statistical Area          453.0     301.0          11
4                                Arcadia, FL  2017              Micropolitan Statistical Area          516.0     386.0          15
5                                Arcadia, FL  2018              Micropolitan Statistical Area          413.0     298.0          15
6                                Arcadia, FL  2019              Micropolitan Statistical Area          456.0     346.0           8
7                                Arcadia, FL  2020              Micropolitan Statistical Area          524.0     321.0          14
8                  Cape Coral-Fort Myers, FL  2013              Metropolitan Statistical Area         7955.0    5472.0          92
9                  Cape Coral-Fort Myers, FL  2014              Metropolitan Statistical Area         9121.0    6157.0          81
10                 Cape Coral-Fort Myers, FL  2015              Metropolitan Statistical Area        10425.0    6751.0          95
11                 Cape Coral-Fort Myers, FL  2016              Metropolitan Statistical Area        11828.0    7570.0         105
12                 Cape Coral-Fort Myers, FL  2017              Metropolitan Statistical Area        12709.0    7832.0         113
13                 Cape Coral-Fort Myers, FL  2018              Metropolitan Statistical Area        12626.0    7479.0          94
14                 Cape Coral-Fort Myers, FL  2019              Metropolitan Statistical Area        12547.0    7570.0          98
15                 Cape Coral-Fort Myers, FL  2020              Metropolitan Statistical Area        11644.0    7028.0         107
16                             Clewiston, FL  2013              Micropolitan Statistical Area          323.0     246.0          11
17                             Clewiston, FL  2014              Micropolitan Statistical Area          254.0     228.0           8
18                             Clewiston, FL  2015              Micropolitan Statistical Area          270.0     235.0          10
19                             Clewiston, FL  2016              Micropolitan Statistical Area          331.0     273.0          19
20                             Clewiston, FL  2017              Micropolitan Statistical Area          405.0     302.0           9
21                             Clewiston, FL  2018              Micropolitan Statistical Area          417.0     293.0          14
22                             Clewiston, FL  2019              Micropolitan Statistical Area          482.0     314.0           8
23                             Clewiston, FL  2020              Micropolitan Statistical Area          565.0     346.0          13
24    Crestview-Fort Walton Beach-Destin, FL  2013              Metropolitan Statistical Area         4002.0    2532.0          39
25    Crestview-Fort Walton Beach-Destin, FL  2014              Metropolitan Statistical Area         4134.0    2556.0          42
26    Crestview-Fort Walton Beach-Destin, FL  2015              Metropolitan Statistical Area         4610.0    2881.0          44
27    Crestview-Fort Walton Beach-Destin, FL  2016              Metropolitan Statistical Area         4519.0    2894.0          38
28    Crestview-Fort Walton Beach-Destin, FL  2017              Metropolitan Statistical Area         4827.0    2920.0          53
29    Crestview-Fort Walton Beach-Destin, FL  2018              Metropolitan Statistical Area         4944.0    2930.0          51
30    Crestview-Fort Walton Beach-Destin, FL  2019              Metropolitan Statistical Area         4959.0    3084.0          58
31    Crestview-Fort Walton Beach-Destin, FL  2020              Metropolitan Statistical Area         4417.0    2531.0          74
32    Deltona-Daytona Beach-Ormond Beach, FL  2013              Metropolitan Statistical Area         9110.0    6059.0         106
33    Deltona-Daytona Beach-Ormond Beach, FL  2014              Metropolitan Statistical Area         9584.0    6068.0         110
34    Deltona-Daytona Beach-Ormond Beach, FL  2015              Metropolitan Statistical Area        10228.0    6773.0          99
35    Deltona-Daytona Beach-Ormond Beach, FL  2016              Metropolitan Statistical Area        10077.0    6700.0         147
36    Deltona-Daytona Beach-Ormond Beach, FL  2017              Metropolitan Statistical Area        10791.0    7333.0         163
37    Deltona-Daytona Beach-Ormond Beach, FL  2018              Metropolitan Statistical Area        11246.0    7504.0         121
38    Deltona-Daytona Beach-Ormond Beach, FL  2019              Metropolitan Statistical Area        11564.0    7792.0         137
39    Deltona-Daytona Beach-Ormond Beach, FL  2020              Metropolitan Statistical Area        10586.0    7260.0         164
40                           Gainesville, FL  2013              Metropolitan Statistical Area         5248.0    3714.0          58
41                           Gainesville, FL  2014              Metropolitan Statistical Area         4830.0    3606.0          46
42                           Gainesville, FL  2015              Metropolitan Statistical Area         5726.0    4333.0          61
43                           Gainesville, FL  2016              Metropolitan Statistical Area         6737.0    4942.0          74
44                           Gainesville, FL  2017              Metropolitan Statistical Area         6848.0    5222.0          82
45                           Gainesville, FL  2018              Metropolitan Statistical Area         6639.0    4993.0          82
46                           Gainesville, FL  2019              Metropolitan Statistical Area         6664.0    4818.0          94
47                           Gainesville, FL  2020              Metropolitan Statistical Area         5469.0    3851.0          66
48                     Homosassa Springs, FL  2013              Metropolitan Statistical Area         1360.0     993.0          17
49                     Homosassa Springs, FL  2014              Metropolitan Statistical Area         1471.0    1099.0          26
50                     Homosassa Springs, FL  2015              Metropolitan Statistical Area         1502.0    1124.0          29
51                     Homosassa Springs, FL  2016              Metropolitan Statistical Area         1682.0    1232.0          24
52                     Homosassa Springs, FL  2017              Metropolitan Statistical Area         1781.0    1382.0          31
53                     Homosassa Springs, FL  2018              Metropolitan Statistical Area         1813.0    1413.0          37
54                     Homosassa Springs, FL  2019              Metropolitan Statistical Area         1774.0    1410.0          22
55                     Homosassa Springs, FL  2020              Metropolitan Statistical Area         1685.0    1194.0          38
56                          Jacksonville, FL  2013              Metropolitan Statistical Area        26384.0   18497.0         193
57                          Jacksonville, FL  2014              Metropolitan Statistical Area        26845.0   18561.0         196
58                          Jacksonville, FL  2015              Metropolitan Statistical Area        29970.0   18951.0         230
59                          Jacksonville, FL  2016              Metropolitan Statistical Area        32125.0   19202.0         247
60                          Jacksonville, FL  2017              Metropolitan Statistical Area        32804.0   19913.0         239
61                          Jacksonville, FL  2018              Metropolitan Statistical Area        32307.0   18751.0         219
62                          Jacksonville, FL  2019              Metropolitan Statistical Area        31118.0   18022.0         239
63                          Jacksonville, FL  2020              Metropolitan Statistical Area        28493.0   16196.0         270
64                              Key West, FL  2013              Micropolitan Statistical Area         1995.0    1254.0          20
65                              Key West, FL  2014              Micropolitan Statistical Area         2115.0    1243.0          11
66                              Key West, FL  2015              Micropolitan Statistical Area         2204.0    1252.0          21
67                              Key West, FL  2016              Micropolitan Statistical Area         2391.0    1279.0          32
68                              Key West, FL  2017              Micropolitan Statistical Area         1255.0     650.0          18
69                              Key West, FL  2018              Micropolitan Statistical Area         1587.0     936.0          20
70                              Key West, FL  2019              Micropolitan Statistical Area         1595.0     918.0          18
71                              Key West, FL  2020              Micropolitan Statistical Area         1179.0     661.0          12
72                             Lake City, FL  2013              Micropolitan Statistical Area         1146.0    1000.0          17
73                             Lake City, FL  2014              Micropolitan Statistical Area         1198.0     946.0          15
74                             Lake City, FL  2015              Micropolitan Statistical Area         1362.0    1084.0          22
75                             Lake City, FL  2016              Micropolitan Statistical Area         1527.0    1162.0          20
76                             Lake City, FL  2017              Micropolitan Statistical Area         1490.0    1117.0          20
77                             Lake City, FL  2018              Micropolitan Statistical Area         1509.0    1170.0          21
78                             Lake City, FL  2019              Micropolitan Statistical Area         1434.0     951.0          30
79                             Lake City, FL  2020              Micropolitan Statistical Area         1372.0     929.0          21
80                 Lakeland-Winter Haven, FL  2013              Metropolitan Statistical Area         8523.0    5829.0          94
81                 Lakeland-Winter Haven, FL  2014              Metropolitan Statistical Area         9785.0    6854.0         113
82                 Lakeland-Winter Haven, FL  2015              Metropolitan Statistical Area        10071.0    7301.0         112
83                 Lakeland-Winter Haven, FL  2016              Metropolitan Statistical Area         9912.0    6804.0         137
84                 Lakeland-Winter Haven, FL  2017              Metropolitan Statistical Area        11378.0    7555.0         112
85                 Lakeland-Winter Haven, FL  2018              Metropolitan Statistical Area        11635.0    7819.0         123
86                 Lakeland-Winter Haven, FL  2019              Metropolitan Statistical Area        11963.0    8090.0         125
87                 Lakeland-Winter Haven, FL  2020              Metropolitan Statistical Area        11230.0    7445.0         134
88   Miami-Fort Lauderdale-Pompano Beach, FL  2013              Metropolitan Statistical Area       108288.0   64540.0         541
89   Miami-Fort Lauderdale-Pompano Beach, FL  2014              Metropolitan Statistical Area       119289.0   68974.0         583
90   Miami-Fort Lauderdale-Pompano Beach, FL  2015              Metropolitan Statistical Area       126747.0   71469.0         747
91   Miami-Fort Lauderdale-Pompano Beach, FL  2016              Metropolitan Statistical Area       133663.0   75313.0         720
92   Miami-Fort Lauderdale-Pompano Beach, FL  2017              Metropolitan Statistical Area       134596.0   73063.0         672
93   Miami-Fort Lauderdale-Pompano Beach, FL  2018              Metropolitan Statistical Area       132671.0   71960.0         713
94   Miami-Fort Lauderdale-Pompano Beach, FL  2019              Metropolitan Statistical Area       133074.0   72156.0         686
95   Miami-Fort Lauderdale-Pompano Beach, FL  2020              Metropolitan Statistical Area       107699.0   56044.0         767
96                   Naples-Marco Island, FL  2013              Metropolitan Statistical Area         3889.0    2391.0          33
97                   Naples-Marco Island, FL  2014              Metropolitan Statistical Area         4352.0    2598.0          39
98                   Naples-Marco Island, FL  2015              Metropolitan Statistical Area         4632.0    2633.0          49
99                   Naples-Marco Island, FL  2016              Metropolitan Statistical Area         5273.0    2885.0          35
100                  Naples-Marco Island, FL  2017              Metropolitan Statistical Area         5135.0    2819.0          23
101                  Naples-Marco Island, FL  2018              Metropolitan Statistical Area         5471.0    3211.0          44
102                  Naples-Marco Island, FL  2019              Metropolitan Statistical Area         5102.0    2969.0          52
103                  Naples-Marco Island, FL  2020              Metropolitan Statistical Area         4655.0    2568.0          42
104        North Port-Sarasota-Bradenton, FL  2013              Metropolitan Statistical Area        10073.0    7215.0          71
105        North Port-Sarasota-Bradenton, FL  2014              Metropolitan Statistical Area        11006.0    7308.0          80
106        North Port-Sarasota-Bradenton, FL  2015              Metropolitan Statistical Area        11606.0    7521.0         114
107        North Port-Sarasota-Bradenton, FL  2016              Metropolitan Statistical Area        12779.0    8449.0         139
108        North Port-Sarasota-Bradenton, FL  2017              Metropolitan Statistical Area        12598.0    8612.0         103
109        North Port-Sarasota-Bradenton, FL  2018              Metropolitan Statistical Area        12138.0    8556.0         126
110        North Port-Sarasota-Bradenton, FL  2019              Metropolitan Statistical Area        12216.0    8574.0         113
111        North Port-Sarasota-Bradenton, FL  2020              Metropolitan Statistical Area        11367.0    7740.0         126
112                                Ocala, FL  2013              Metropolitan Statistical Area         5038.0    3153.0          47
113                                Ocala, FL  2014              Metropolitan Statistical Area         5467.0    3606.0          55
114                                Ocala, FL  2015              Metropolitan Statistical Area         5903.0    4036.0          70
115                                Ocala, FL  2016              Metropolitan Statistical Area         6339.0    4160.0          70
116                                Ocala, FL  2017              Metropolitan Statistical Area         6691.0    5135.0          90
117                                Ocala, FL  2018              Metropolitan Statistical Area         6113.0    5210.0          84
118                                Ocala, FL  2019              Metropolitan Statistical Area         6353.0    5267.0          90
119                                Ocala, FL  2020              Metropolitan Statistical Area         5918.0    4908.0         105
120                           Okeechobee, FL  2013              Micropolitan Statistical Area          482.0     317.0          12
121                           Okeechobee, FL  2014              Micropolitan Statistical Area          532.0     360.0           9
122                           Okeechobee, FL  2015              Micropolitan Statistical Area          605.0     412.0           6
123                           Okeechobee, FL  2016              Micropolitan Statistical Area          632.0     372.0          10
124                           Okeechobee, FL  2017              Micropolitan Statistical Area          719.0     507.0          13
125                           Okeechobee, FL  2018              Micropolitan Statistical Area          761.0     447.0          14
126                           Okeechobee, FL  2019              Micropolitan Statistical Area          690.0     404.0          14
127                           Okeechobee, FL  2020              Micropolitan Statistical Area          646.0     395.0          19
128            Orlando-Kissimmee-Sanford, FL  2013              Metropolitan Statistical Area        36746.0   25974.0         257
129            Orlando-Kissimmee-Sanford, FL  2014              Metropolitan Statistical Area        40712.0   28821.0         264
130            Orlando-Kissimmee-Sanford, FL  2015              Metropolitan Statistical Area        44434.0   33093.0         296
131            Orlando-Kissimmee-Sanford, FL  2016              Metropolitan Statistical Area        46455.0   33814.0         316
132            Orlando-Kissimmee-Sanford, FL  2017              Metropolitan Statistical Area        49440.0   35369.0         339
133            Orlando-Kissimmee-Sanford, FL  2018              Metropolitan Statistical Area        50674.0   37858.0         342
134            Orlando-Kissimmee-Sanford, FL  2019              Metropolitan Statistical Area        50473.0   39185.0         355
135            Orlando-Kissimmee-Sanford, FL  2020              Metropolitan Statistical Area        38569.0   30631.0         323
136                              Palatka, FL  2013              Micropolitan Statistical Area          930.0     817.0          19
137                              Palatka, FL  2014              Micropolitan Statistical Area         1005.0     866.0          20
138                              Palatka, FL  2015              Micropolitan Statistical Area         1070.0     824.0          20
139                              Palatka, FL  2016              Micropolitan Statistical Area         1157.0     843.0          26
140                              Palatka, FL  2017              Micropolitan Statistical Area         1210.0     902.0          26
141                              Palatka, FL  2018              Micropolitan Statistical Area         1035.0     758.0          38
142                              Palatka, FL  2019              Micropolitan Statistical Area          843.0     660.0          34
143                              Palatka, FL  2020              Micropolitan Statistical Area         1162.0     804.0          31
144        Palm Bay-Melbourne-Titusville, FL  2013              Metropolitan Statistical Area         7079.0    5041.0          76
145        Palm Bay-Melbourne-Titusville, FL  2014              Metropolitan Statistical Area         7661.0    5386.0          65
146        Palm Bay-Melbourne-Titusville, FL  2015              Metropolitan Statistical Area         8387.0    6130.0          82
147        Palm Bay-Melbourne-Titusville, FL  2016              Metropolitan Statistical Area         8752.0    6564.0          98
148        Palm Bay-Melbourne-Titusville, FL  2017              Metropolitan Statistical Area         9056.0    6505.0          84
149        Palm Bay-Melbourne-Titusville, FL  2018              Metropolitan Statistical Area         9233.0    6911.0          85
150        Palm Bay-Melbourne-Titusville, FL  2019              Metropolitan Statistical Area         9207.0    6625.0          84

In [98]:
df_fl_master_crashes = pd.pivot(df_fl_master_crashes,index=["Metropolitan/Micropolitan Statistical Area","CBSA Title"],columns=["Year"])
df_fl_master_crashes

                                                                                   total_crashes                                                                       injuries                                                                fatalities
Year                                                                                        2013      2014      2015      2016      2017      2018      2019      2020     2013     2014     2015     2016     2017     2018     2019     2020       2013 2014 2015 2016 2017 2018 2019 2020
Metropolitan/Micropolitan Statistical Area CBSA Title
Metropolitan Statistical Area              Cape Coral-Fort Myers, FL                      7955.0    9121.0   10425.0   11828.0   12709.0   12626.0   12547.0   11644.0   5472.0   6157.0   6751.0   7570.0   7832.0   7479.0   7570.0   7028.0         92   81   95  105  113   94   98  107
                                           Crestview-Fort Walton Beach-Destin, FL         4002.0    4134.0    4610.0    4519.0    4827.0    4944.0    4959.0    4417.0   2532.0   2556.0   2881.0   2894.0   2920.0   2930.0   3084.0   2531.0         39   42   44   38   53   51   58   74
                                           Deltona-Daytona Beach-Ormond Beach, FL         9110.0    9584.0   10228.0   10077.0   10791.0   11246.0   11564.0   10586.0   6059.0   6068.0   6773.0   6700.0   7333.0   7504.0   7792.0   7260.0        106  110   99  147  163  121  137  164
                                           Gainesville, FL                                5248.0    4830.0    5726.0    6737.0    6848.0    6639.0    6664.0    5469.0   3714.0   3606.0   4333.0   4942.0   5222.0   4993.0   4818.0   3851.0         58   46   61   74   82   82   94   66
                                           Homosassa Springs, FL                          1360.0    1471.0    1502.0    1682.0    1781.0    1813.0    1774.0    1685.0    993.0   1099.0   1124.0   1232.0   1382.0   1413.0   1410.0   1194.0         17   26   29   24   31   37   22   38
                                           Jacksonville, FL                              26384.0   26845.0   29970.0   32125.0   32804.0   32307.0   31118.0   28493.0  18497.0  18561.0  18951.0  19202.0  19913.0  18751.0  18022.0  16196.0        193  196  230  247  239  219  239  270
                                           Lakeland-Winter Haven, FL                      8523.0    9785.0   10071.0    9912.0   11378.0   11635.0   11963.0   11230.0   5829.0   6854.0   7301.0   6804.0   7555.0   7819.0   8090.0   7445.0         94  113  112  137  112  123  125  134
                                           Miami-Fort Lauderdale-Pompano Beach, FL      108288.0  119289.0  126747.0  133663.0  134596.0  132671.0  133074.0  107699.0  64540.0  68974.0  71469.0  75313.0  73063.0  71960.0  72156.0  56044.0        541  583  747  720  672  713  686  767
                                           Naples-Marco Island, FL                        3889.0    4352.0    4632.0    5273.0    5135.0    5471.0    5102.0    4655.0   2391.0   2598.0   2633.0   2885.0   2819.0   3211.0   2969.0   2568.0         33   39   49   35   23   44   52   42
                                           North Port-Sarasota-Bradenton, FL             10073.0   11006.0   11606.0   12779.0   12598.0   12138.0   12216.0   11367.0   7215.0   7308.0   7521.0   8449.0   8612.0   8556.0   8574.0   7740.0         71   80  114  139  103  126  113  126
                                           Ocala, FL                                      5038.0    5467.0    5903.0    6339.0    6691.0    6113.0    6353.0    5918.0   3153.0   3606.0   4036.0   4160.0   5135.0   5210.0   5267.0   4908.0         47   55   70   70   90   84   90  105
                                           Orlando-Kissimmee-Sanford, FL                 36746.0   40712.0   44434.0   46455.0   49440.0   50674.0   50473.0   38569.0  25974.0  28821.0  33093.0  33814.0  35369.0  37858.0  39185.0  30631.0        257  264  296  316  339  342  355  323
                                           Palm Bay-Melbourne-Titusville, FL              7079.0    7661.0    8387.0    8752.0    9056.0    9233.0    9207.0    8395.0   5041.0   5386.0   6130.0   6564.0   6505.0   6911.0   6625.0   5768.0         76   65   82   98   84   85   84   81
                                           Panama City, FL                                3514.0    3337.0    3946.0    4089.0    4051.0    4549.0    4862.0    3352.0   2208.0   2023.0   2317.0   2290.0   2192.0   2360.0   2498.0   1869.0         17   30   32   38   29   26   32   35
                                           Pensacola-Ferry Pass-Brent, FL                 7528.0    7677.0    8677.0    9059.0    8520.0    8963.0    8890.0    7975.0   5867.0   6745.0   7664.0   7338.0   6283.0   6950.0   6004.0   5294.0         76   61   68   59   70   89   85   78
                                           Port St. Lucie, FL                             4956.0    6090.0    6802.0    7379.0    8528.0    7985.0    7578.0    7314.0   3092.0   3937.0   4335.0   4656.0   5180.0   4775.0   4671.0   4110.0         48   58   66   69   66   64   66   72
                                           Punta Gorda, FL                                2091.0    2241.0    2556.0    2721.0    2780.0    2734.0    2386.0    2185.0   1412.0   1290.0   1616.0   1649.0   1594.0   1582.0   1418.0   1369.0         22   19   23   30   27   27   22   26
                                           Sebastian-Vero Beach, FL                       1601.0    2106.0    2204.0    2360.0    1728.0    2023.0    2323.0    2091.0   1035.0   1241.0   1262.0   1400.0   1079.0   1276.0   1434.0   1152.0         22   22   24   26   28   32   25   22
                                           Sebring-Avon Park, FL                           989.0    1067.0    1218.0    1329.0    1367.0    1186.0    1231.0    1151.0    728.0    740.0    836.0    978.0    958.0    881.0    946.0    885.0         21   21   22   21   18   20   31   27
                                           Tallahassee, FL                                6998.0    7615.0    8184.0    8886.0    8478.0    8867.0    8624.0    7088.0   4188.0   4317.0   4503.0   5062.0   4831.0   5109.0   5081.0   4028.0         39   42   48   79   64   58   54   56
                                           Tampa-St. Petersburg-Clearwater, FL           45713.0   49159.0   54644.0   56734.0   55982.0   56900.0   56436.0   48003.0  33714.0  36327.0  39705.0  41811.0  40349.0  39396.0  39081.0  33081.0        338  365  398  467  451  436  449  472
                                           The Villages, FL                                724.0    1263.0    1356.0    1533.0    1650.0    1805.0    1666.0    1513.0    529.0    784.0    824.0    926.0    983.0   1063.0   1145.0   1024.0         19   20   17   17   23   25   25   24
Micropolitan Statistical Area              Arcadia, FL                                     319.0     377.0     408.0     453.0     516.0     413.0     456.0     524.0    223.0    286.0    323.0    301.0    386.0    298.0    346.0    321.0          2    7   16   11   15   15    8   14
                                           Clewiston, FL                                   323.0     254.0     270.0     331.0     405.0     417.0     482.0     565.0    246.0    228.0    235.0    273.0    302.0    293.0    314.0    346.0         11    8   10   19    9   14    8   13
                                           Key West, FL                                   1995.0    2115.0    2204.0    2391.0    1255.0    1587.0    1595.0    1179.0   1254.0   1243.0   1252.0   1279.0    650.0    936.0    918.0    661.0         20   11   21   32   18   20   18   12
                                           Lake City, FL                                  1146.0    1198.0    1362.0    1527.0    1490.0    1509.0    1434.0    1372.0   1000.0    946.0   1084.0   1162.0   1117.0   1170.0    951.0    929.0         17   15   22   20   20   21   30   21
                                           Okeechobee, FL                                  482.0     532.0     605.0     632.0     719.0     761.0     690.0     646.0    317.0    360.0    412.0    372.0    507.0    447.0    404.0    395.0         12    9    6   10   13   14   14   19
                                           Palatka, FL                                     930.0    1005.0    1070.0    1157.0    1210.0    1035.0     843.0    1162.0    817.0    866.0    824.0    843.0    902.0    758.0    660.0    804.0         19   20   20   26   26   38   34   31
                                           Wauchula, FL                                    312.0     333.0     382.0     416.0     476.0     505.0     479.0     447.0    244.0    256.0    292.0    334.0    408.0    382.0    398.0    311.0          5   10    2    5   12    9   13    8

In [100]:
df_fl_master_crashes.pct_change(axis='columns')

                                                                                   total_crashes                                                                        injuries                                                                       fatalities
Year                                                                                        2013      2014      2015      2016      2017      2018      2019      2020      2013      2014      2015      2016      2017      2018      2019      2020       2013      2014      2015      2016      2017      2018      2019      2020
Metropolitan/Micropolitan Statistical Area CBSA Title
Metropolitan Statistical Area              Cape Coral-Fort Myers, FL                         NaN  0.146574  0.142967  0.134580  0.074484 -0.006531 -0.006257 -0.071969 -0.530058  0.125183  0.096476  0.121315  0.034610 -0.045072  0.012167 -0.071598  -0.986910 -0.119565  0.172840  0.105263  0.076190 -0.168142  0.042553  0.091837
                                           Crestview-Fort Walton Beach-Destin, FL            NaN  0.032984  0.115143 -0.019740  0.068157  0.024239  0.003034 -0.109296 -0.426760  0.009479  0.127152  0.004512  0.008984  0.003425  0.052560 -0.179313  -0.984591  0.076923  0.047619 -0.136364  0.394737 -0.037736  0.137255  0.275862
                                           Deltona-Daytona Beach-Ormond Beach, FL            NaN  0.052031  0.067195 -0.014763  0.070854  0.042165  0.028277 -0.084573 -0.427640  0.001485  0.116183 -0.010778  0.094478  0.023319  0.038380 -0.068275  -0.985399  0.037736 -0.100000  0.484848  0.108844 -0.257669  0.132231  0.197080
                                           Gainesville, FL                                   NaN -0.079649  0.185507  0.176563  0.016476 -0.030520  0.003766 -0.179322 -0.320900 -0.029079  0.201608  0.140549  0.056657 -0.043853 -0.035049 -0.200706  -0.984939 -0.206897  0.326087  0.213115  0.108108  0.000000  0.146341 -0.297872
                                           Homosassa Springs, FL                             NaN  0.081618  0.021074  0.119840  0.058859  0.017967 -0.021511 -0.050169 -0.410682  0.106747  0.022748  0.096085  0.121753  0.022431 -0.002123 -0.153191  -0.985762  0.529412  0.115385 -0.172414  0.291667  0.193548 -0.405405  0.727273
                                           Jacksonville, FL                                  NaN  0.017473  0.116409  0.071905  0.021136 -0.015151 -0.036803 -0.084356 -0.350823  0.003460  0.021012  0.013245  0.037027 -0.058354 -0.038878 -0.101321  -0.988083  0.015544  0.173469  0.073913 -0.032389 -0.083682  0.091324  0.129707
                                           Lakeland-Winter Haven, FL                         NaN  0.148070  0.029228 -0.015788  0.147902  0.022587  0.028191 -0.061272 -0.480944  0.175845  0.065217 -0.068073  0.110376  0.034944  0.034659 -0.079728  -0.987374  0.202128 -0.008850  0.223214 -0.182482  0.098214  0.016260  0.072000
                                           Miami-Fort Lauderdale-Pompano Beach, FL           NaN  0.101590  0.062520  0.054565  0.006980 -0.014302  0.003038 -0.190683 -0.400737  0.068702  0.036173  0.053786 -0.029875 -0.015097  0.002724 -0.223294  -0.990347  0.077634  0.281304 -0.036145 -0.066667  0.061012 -0.037868  0.118076
                                           Naples-Marco Island, FL                           NaN  0.119054  0.064338  0.138385 -0.026171  0.065433 -0.067447 -0.087613 -0.486359  0.086575  0.013472  0.095708 -0.022877  0.139056 -0.075366 -0.135062  -0.987150  0.181818  0.256410 -0.285714 -0.342857  0.913043  0.181818 -0.192308
                                           North Port-Sarasota-Bradenton, FL                 NaN  0.092624  0.054516  0.101068 -0.014164 -0.036514  0.006426 -0.069499 -0.365268  0.012890  0.029146  0.123388  0.019292 -0.006503  0.002104 -0.097271  -0.990827  0.126761  0.425000  0.219298 -0.258993  0.223301 -0.103175  0.115044
                                           Ocala, FL                                         NaN  0.085153  0.079751  0.073861  0.055529 -0.086385  0.039261 -0.068472 -0.467219  0.143673  0.119246  0.030723  0.234375  0.014606  0.010940 -0.068160  -0.990424  0.170213  0.272727  0.000000  0.285714 -0.066667  0.071429  0.166667
                                           Orlando-Kissimmee-Sanford, FL                     NaN  0.107930  0.091423  0.045483  0.064256  0.024960 -0.003967 -0.235849 -0.326558  0.109610  0.148225  0.021787  0.045987  0.070372  0.035052 -0.218298  -0.991610  0.027237  0.121212  0.067568  0.072785  0.008850  0.038012 -0.090141
                                           Palm Bay-Melbourne-Titusville, FL                 NaN  0.082215  0.094766  0.043520  0.034735  0.019545 -0.002816 -0.088194 -0.399524  0.068439  0.138136  0.070799 -0.008988  0.062414 -0.041383 -0.129358  -0.986824 -0.144737  0.261538  0.195122 -0.142857  0.011905 -0.011765 -0.035714
                                           Panama City, FL                                   NaN -0.050370  0.182499  0.036239 -0.009293  0.122933  0.068806 -0.310572 -0.341289 -0.083786  0.145329 -0.011653 -0.042795  0.076642  0.058475 -0.251801  -0.990904  0.764706  0.066667  0.187500 -0.236842 -0.103448  0.230769  0.093750
                                           Pensacola-Ferry Pass-Brent, FL                    NaN  0.019793  0.130259  0.044024 -0.059499  0.051995 -0.008145 -0.102925 -0.264326  0.149651  0.136249 -0.042537 -0.143772  0.106159 -0.136115 -0.118254  -0.985644 -0.197368  0.114754 -0.132353  0.186441  0.271429 -0.044944 -0.082353
                                           Port St. Lucie, FL                                NaN  0.228814  0.116913  0.084828  0.155712 -0.063673 -0.050971 -0.034838 -0.577249  0.273286  0.101092  0.074048  0.112543 -0.078185 -0.021780 -0.120103  -0.988321  0.208333  0.137931  0.045455 -0.043478 -0.030303  0.031250  0.090909
                                           Punta Gorda, FL                                   NaN  0.071736  0.140562  0.064554  0.021683 -0.016547 -0.127286 -0.084241 -0.353776 -0.086402  0.252713  0.020421 -0.033354 -0.007528 -0.103666 -0.034556  -0.983930 -0.136364  0.210526  0.304348 -0.100000  0.000000 -0.185185  0.181818
                                           Sebastian-Vero Beach, FL                          NaN  0.315428  0.046534  0.070780 -0.267797  0.170718  0.148295 -0.099871 -0.505022  0.199034  0.016922  0.109350 -0.229286  0.182576  0.123824 -0.196653  -0.980903  0.000000  0.090909  0.083333  0.076923  0.142857 -0.218750 -0.120000
                                           Sebring-Avon Park, FL                             NaN  0.078868  0.141518  0.091133  0.028593 -0.132407  0.037943 -0.064988 -0.367507  0.016484  0.129730  0.169856 -0.020450 -0.080376  0.073780 -0.064482  -0.976271  0.000000  0.047619 -0.045455 -0.142857  0.111111  0.550000 -0.129032
                                           Tallahassee, FL                                   NaN  0.088168  0.074721  0.085777 -0.045915  0.045883 -0.027405 -0.178108 -0.409142  0.030802  0.043085  0.124139 -0.045634  0.057545 -0.005481 -0.207243  -0.990318  0.076923  0.142857  0.645833 -0.189873 -0.093750 -0.068966  0.037037
                                           Tampa-St. Petersburg-Clearwater, FL               NaN  0.075383  0.111577  0.038248 -0.013255  0.016398 -0.008155 -0.149426 -0.297669  0.077505  0.092989  0.053041 -0.034967 -0.023619 -0.007996 -0.153527  -0.989783  0.079882  0.090411  0.173367 -0.034261 -0.033259  0.029817  0.051225
                                           The Villages, FL                                  NaN  0.744475  0.073634  0.130531  0.076321  0.093939 -0.077008 -0.091837 -0.650364  0.482042  0.051020  0.123786  0.061555  0.081384  0.077140 -0.105677  -0.981445  0.052632 -0.150000  0.000000  0.352941  0.086957  0.000000 -0.040000
Micropolitan Statistical Area              Arcadia, FL                                       NaN  0.181818  0.082228  0.110294  0.139073 -0.199612  0.104116  0.149123 -0.574427  0.282511  0.129371 -0.068111  0.282392 -0.227979  0.161074 -0.072254  -0.993769  2.500000  1.285714 -0.312500  0.363636  0.000000 -0.466667  0.750000
                                           Clewiston, FL                                     NaN -0.213622  0.062992  0.225926  0.223565  0.029630  0.155875  0.172199 -0.564602 -0.073171  0.030702  0.161702  0.106227 -0.029801  0.071672  0.101911  -0.968208 -0.272727  0.250000  0.900000 -0.526316  0.555556 -0.428571  0.625000
                                           Key West, FL                                      NaN  0.060150  0.042080  0.084846 -0.475115  0.264542  0.005041 -0.260815  0.063613 -0.008772  0.007241  0.021565 -0.491790  0.440000 -0.019231 -0.279956  -0.969743 -0.450000  0.909091  0.523810 -0.437500  0.111111 -0.100000 -0.333333
                                           Lake City, FL                                     NaN  0.045375  0.136895  0.121145 -0.024231  0.012752 -0.049702 -0.043236 -0.271137 -0.054000  0.145877  0.071956 -0.038726  0.047449 -0.187179 -0.023134  -0.981701 -0.117647  0.466667 -0.090909  0.000000  0.050000  0.428571 -0.300000
                                           Okeechobee, FL                                    NaN  0.103734  0.137218  0.044628  0.137658  0.058414 -0.093298 -0.063768 -0.509288  0.135647  0.144444 -0.097087  0.362903 -0.118343 -0.096197 -0.022277  -0.969620 -0.250000 -0.333333  0.666667  0.300000  0.076923  0.000000  0.357143
                                           Palatka, FL                                       NaN  0.080645  0.064677  0.081308  0.045808 -0.144628 -0.185507  0.378410 -0.296902  0.059976 -0.048499  0.023058  0.069988 -0.159645 -0.129288  0.218182  -0.976368  0.052632  0.000000  0.300000  0.000000  0.461538 -0.105263 -0.088235
                                           Wauchula, FL                                      NaN  0.067308  0.147147  0.089005  0.144231  0.060924 -0.051485 -0.066806 -0.454139  0.049180  0.140625  0.143836  0.221557 -0.063725  0.041885 -0.218593  -0.983923  1.000000 -0.800000  1.500000  1.400000 -0.250000  0.444444 -0.384615