In [1]:
pip install pdfplumber

Requirement already satisfied: pdfplumber in c:\users\iulia\anaconda3\lib\site-packages (0.6.2)
Requirement already satisfied: Wand>=0.6.7 in c:\users\iulia\anaconda3\lib\site-packages (from pdfplumber) (0.6.7)
Requirement already satisfied: Pillow>=9.1 in c:\users\iulia\anaconda3\lib\site-packages (from pdfplumber) (9.1.1)
Requirement already satisfied: pdfminer.six==20220319 in c:\users\iulia\anaconda3\lib\site-packages (from pdfplumber) (20220319)
Requirement already satisfied: cryptography in c:\users\iulia\anaconda3\lib\site-packages (from pdfminer.six==20220319->pdfplumber) (36.0.2)
Requirement already satisfied: chardet in c:\users\iulia\anaconda3\lib\site-packages (from pdfminer.six==20220319->pdfplumber) (4.0.0)
Requirement already satisfied: cffi>=1.12 in c:\users\iulia\anaconda3\lib\site-packages (from cryptography->pdfminer.six==20220319->pdfplumber) (1.14.6)
Requirement already satisfied: pycparser in c:\users\iulia\anaconda3\lib\site-packages (from cffi>=1.12->cryptography->pdfminer.six==20220319->pdfplumber) (2.20)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
import re
from collections import namedtuple
import pdfplumber
import os 
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
import numpy as np

In [4]:
pop_2010_2019 = pd.read_excel('C:/Users/iulia/Documents/NSS/projects/capstone/data/raw_data/NC/pop_est_2010-2019_nc.xlsx',sheet_name='Sheet1')
pop_2010_2019 = pd.DataFrame(pop_2010_2019)
pop_2010_2019 = pop_2010_2019.drop(['Census','Estimates Base',2010,2011,2012],axis=1)
pop_2010_2019.head()

             County    2013    2014    2015    2016    2017    2018    2019
0   Alamance County  154162  155384  157037  160283  163276  166514  169509
1  Alexander County   37012   36987   36960   37133   37143   37331   37497
2  Alleghany County   10903   10891   10856   10919   10988   11138   11137
3      Anson County   25957   25965   25602   25165   24829   24470   24446
4       Ashe County   26840   26764   26628   26600   26787   27099   27203

In [5]:
pop_2020_2021 = pd.read_excel('C:/Users/iulia/Documents/NSS/projects/capstone/data/raw_data/NC/pop_est_2020-2021_nc.xlsx',sheet_name='Sheet1')
pop_2020_2021 = pd.DataFrame(pop_2020_2021)
pop_2020_2021 = pop_2020_2021.drop('Estimates Base',axis=1)
pop_2020_2021.head()

             County    2020    2021
0   Alamance County  171842  173877
1  Alexander County   36430   36644
2  Alleghany County   10899   11049
3      Anson County   22030   22060
4       Ashe County   26569   26711

In [6]:
pop_combined = pd.merge(pop_2010_2019,pop_2020_2021,how="left",on="County")
pop_combined.drop(index=pop_combined.index[-1],axis=0,inplace=True)
pop_combined.head()

             County    2013    2014    2015    2016    2017    2018    2019    2020    2021
0   Alamance County  154162  155384  157037  160283  163276  166514  169509  171842  173877
1  Alexander County   37012   36987   36960   37133   37143   37331   37497   36430   36644
2  Alleghany County   10903   10891   10856   10919   10988   11138   11137   10899   11049
3      Anson County   25957   25965   25602   25165   24829   24470   24446   22030   22060
4       Ashe County   26840   26764   26628   26600   26787   27099   27203   26569   26711

In [7]:
metros = pd.read_excel('C:/Users/iulia/Documents/NSS/projects/capstone/data/metro_areas.xlsx',sheet_name='Filtered_States')
metros_df = pd.DataFrame(metros)
metros_fl = metros_df[metros_df['State Name']=='North Carolina']
metros_fl.head()

                                       CBSA Title Metropolitan/Micropolitan Statistical Area     County      State Name
1                                  Burlington, NC              Metropolitan Statistical Area   Alamance  North Carolina
2                    Hickory-Lenoir-Morganton, NC              Metropolitan Statistical Area  Alexander  North Carolina
7               Charlotte-Concord-Gastonia, NC-SC              Metropolitan Statistical Area      Anson  North Carolina
21                                 Washington, NC              Micropolitan Statistical Area   Beaufort  North Carolina
38  Myrtle Beach-Conway-North Myrtle Beach, SC-NC              Metropolitan Statistical Area  Brunswick  North Carolina

In [8]:
file ='C:/Users/iulia/Documents/NSS/projects/capstone/data/raw_data/NC/NC_2012_2016.pdf'

In [29]:
pdf = pdfplumber.open(file)
txt = pdf.pages[42].extract_text()
txt = txt.split("\n")
txt

['Alamance County',
 '2012 2013 2014 2015 2016 5 Year Avg.',
 'Reportable Crashes Injuries Crashes Injuries Crashes Injuries Crashes Injuries Crashes Injuries Crashes Injuries',
 'Fatal 13 13 21 23 9 9 23 23 14 15 16 17',
 'Non Fatal Injury 1,092 1,669 1,136 1,731 1,152 1,767 1,244 1,940 1,275 2,027 1,180 1,827',
 'PDO 2,157 2,349 2,574 2,558 2,798 2,487',
 'Total 3,262 1,682 3,506 1,754 3,735 1,776 3,825 1,963 4,087 2,042 3,683 1,843',
 'Alcohol Related Crashes',
 'Fatal 3 3 4 4 3 3 9 9 4 4 5 5',
 'Non Fatal Injury 95 136 95 140 99 148 86 123 87 126 92 135',
 'PDO 61 109 91 94 90 89',
 'Total 159 139 208 144 193 151 189 132 181 130 186 139',
 'Percent Alcohol Related',
 'Fatal 23.1% 23.1% 19.0% 17.4% 33.3% 33.3% 39.1% 39.1% 28.6% 26.7% 28.8% 27.7%',
 'Non Fatal Injury 8.7% 8.1% 8.4% 8.1% 8.6% 8.4% 6.9% 6.3% 6.8% 6.2% 7.8% 7.4%',
 'Total 4.9% 8.3% 5.9% 8.2% 5.2% 8.5% 4.9% 6.7% 4.4% 6.4% 5.1% 7.6%',
 'Pedestrian Crashes',
 'Fatal 2 2 4 4 0 0 2 2 2 2 2 2',
 'Non Fatal Injury 31 32 23 24 29 30 27 28 33 37 29 30',
 'PDO 0 1 1 1 0 1',
 'Total 33 34 28 28 30 30 30 30 35 39 31 32',
 'Bicycle Crashes',
 'Fatal 0 0 0 0 0 0 0 0 0 0 0 0',
 'Non Fatal Injury 8 8 7 7 4 4 11 11 7 9 7 8',
 'PDO 0 0 0 0 1 0',
 'Total 8 8 7 7 4 4 11 11 8 9 8 8',
 'Motorcycle Crashes',
 'Fatal 2 2 3 4 3 3 1 1 3 3 2 3',
 'Non Fatal Injury 30 39 27 31 49 56 33 39 41 46 36 42',
 'PDO 4 6 6 9 3 6',
 'Total 36 41 36 35 58 59 43 40 47 49 44 45',
 'County Ranking 67 53 59 41 61',
 'General Information Ranking $$ Comprehensive Crash Cost $$ Ranking',
 '2015 2016 (Based on a 3 Year Average of All Reported  2015 2016',
 'Crashes in 2015 Dollars)',
 'Population (2015) 157,522 18 17',
 'Average Annual Cost $358,174,267 21 22',
 'Registered Vehicles (2015) 148,830 18 17',
 'Average Cost Per Crash $67,381 83 93',
 'Estimated Avg. Annual Miles  16.38 18 16 Average Cost Per Person $2,274 61 74',
 'Traveled (100 MVMT) (2015)',
 'Average Cost Per Vehicle $2,407 52 71',
 'Crash Rates Average Cost / 100 Miles Traveled $21.86 58 70',
 '(Based on a 3 Year Average of All Reported Crashes)',
 'Total Crash Rate (/100 MVMT)  324.46 13 14',
 'Fatal Crash Rate (/100 MVMT) 0.96 70 86 Time To Next....',
 'Non Fatal Injury Crash Rate (/100 MVMT) 77.89 18 19',
 'Crash 1.6 Hours',
 'Crash Injuries Per 1000 People 12.64 31 29',
 'Fatal Injury 547.5 Hours',
 'Fatal Crash Injuries Per 1000 People 0.10 79 87',
 'Injury 4.4 Hours',
 'Crashes Per 1000 Reg. Veh. 35.72 22 23',
 'Crash Cost Per Hour $40,887',
 'Fatal Crashes Per 1000 Reg. Veh. 0.11 71 89',
 'Percent Alcohol Related Crashes 4.1% 58 67',
 'Severity Index 3.38 76 86',
 '80',
 '39']

In [43]:
indices = [0,3,4,6]
new_list=[]
selected_elements = [txt[index] for index in indices]
for i in selected_elements:
    t = i.split(" ")
    new_list.append(t)
    print(t)

['Alamance', 'County']
['Fatal', '13', '13', '21', '23', '9', '9', '23', '23', '14', '15', '16', '17']
['Non', 'Fatal', 'Injury', '1,092', '1,669', '1,136', '1,731', '1,152', '1,767', '1,244', '1,940', '1,275', '2,027', '1,180', '1,827']
['Total', '3,262', '1,682', '3,506', '1,754', '3,735', '1,776', '3,825', '1,963', '4,087', '2,042', '3,683', '1,843']

In [37]:
new_list

[['Alamance', 'County'],
 ['Fatal',
  '13',
  '13',
  '21',
  '23',
  '9',
  '9',
  '23',
  '23',
  '14',
  '15',
  '16',
  '17'],
 ['Non',
  'Fatal',
  'Injury',
  '1,092',
  '1,669',
  '1,136',
  '1,731',
  '1,152',
  '1,767',
  '1,244',
  '1,940',
  '1,275',
  '2,027',
  '1,180',
  '1,827'],
 ['Total',
  '3,262',
  '1,682',
  '3,506',
  '1,754',
  '3,735',
  '1,776',
  '3,825',
  '1,963',
  '4,087',
  '2,042',
  '3,683',
  '1,843']]

In [40]:
df = pd.DataFrame(new_list)
df

         0       1       2      3      4      5      6      7      8      9      10     11     12     13     14
0  Alamance  County    None   None   None   None   None   None   None   None   None   None   None   None   None
1     Fatal      13      13     21     23      9      9     23     23     14     15     16     17   None   None
2       Non   Fatal  Injury  1,092  1,669  1,136  1,731  1,152  1,767  1,244  1,940  1,275  2,027  1,180  1,827
3     Total   3,262   1,682  3,506  1,754  3,735  1,776  3,825  1,963  4,087  2,042  3,683  1,843   None   None