In [1]:
import pandas as pd
import re
from collections import namedtuple
import pdfplumber
import os 
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
import numpy as np

### 1. Importing and  merging pop files
### 2. Adding Metropolitans and Micropolitans

In [2]:
pop_2010_2019 = pd.read_excel('C:/Users/iulia/Documents/NSS/projects/capstone/data/raw_data/NC/pop_est_2010-2019_nc.xlsx',sheet_name='Sheet1')
pop_2010_2019 = pd.DataFrame(pop_2010_2019)
pop_2010_2019 = pop_2010_2019.drop(['Census','Estimates Base',2010,2011,2012],axis=1)
pop_2010_2019.head()

      County    2013    2014    2015    2016    2017    2018    2019
0   Alamance  154162  155384  157037  160283  163276  166514  169509
1  Alexander   37012   36987   36960   37133   37143   37331   37497
2  Alleghany   10903   10891   10856   10919   10988   11138   11137
3      Anson   25957   25965   25602   25165   24829   24470   24446
4       Ashe   26840   26764   26628   26600   26787   27099   27203

In [3]:
pop_2020_2021 = pd.read_excel('C:/Users/iulia/Documents/NSS/projects/capstone/data/raw_data/NC/pop_est_2020-2021_nc.xlsx',sheet_name='Sheet1')
pop_2020_2021 = pd.DataFrame(pop_2020_2021)
pop_2020_2021 = pop_2020_2021.drop('Estimates Base',axis=1)
pop_2020_2021.head()

      County    2020    2021
0   Alamance  171842  173877
1  Alexander   36430   36644
2  Alleghany   10899   11049
3      Anson   22030   22060
4       Ashe   26569   26711

In [4]:
pop_combined = pd.merge(pop_2010_2019,pop_2020_2021,how="left",on="County")
pop_combined.drop(index=pop_combined.index[-1],axis=0,inplace=True)
pop_combined.head()

      County    2013    2014    2015    2016    2017    2018    2019    2020    2021
0   Alamance  154162  155384  157037  160283  163276  166514  169509  171842  173877
1  Alexander   37012   36987   36960   37133   37143   37331   37497   36430   36644
2  Alleghany   10903   10891   10856   10919   10988   11138   11137   10899   11049
3      Anson   25957   25965   25602   25165   24829   24470   24446   22030   22060
4       Ashe   26840   26764   26628   26600   26787   27099   27203   26569   26711

In [5]:
metros = pd.read_excel('C:/Users/iulia/Documents/NSS/projects/capstone/data/metro_areas.xlsx',sheet_name='Filtered_States')
metros_df = pd.DataFrame(metros)
metros_nc = metros_df[metros_df['State Name']=='North Carolina']
metros_nc.head()

                                       CBSA Title Metropolitan/Micropolitan Statistical Area     County      State Name
1                                  Burlington, NC              Metropolitan Statistical Area   Alamance  North Carolina
2                    Hickory-Lenoir-Morganton, NC              Metropolitan Statistical Area  Alexander  North Carolina
7               Charlotte-Concord-Gastonia, NC-SC              Metropolitan Statistical Area      Anson  North Carolina
21                                 Washington, NC              Micropolitan Statistical Area   Beaufort  North Carolina
38  Myrtle Beach-Conway-North Myrtle Beach, SC-NC              Metropolitan Statistical Area  Brunswick  North Carolina

### Extracting data for years 2013 thru 2016 and combining with pop along with Metropolitans and Micropolitans

In [6]:
file_2013_2016 ='C:/Users/iulia/Documents/NSS/projects/capstone/data/raw_data/NC/NC_2012_2016.pdf'

In [7]:
pdf = pdfplumber.open(file_2013_2016)
txt = pdf.pages[42].extract_text()
txt = txt.split("\n")
new_list = txt[0:7]
new_list

['Alamance County',
 '2012 2013 2014 2015 2016 5 Year Avg.',
 'Reportable Crashes Injuries Crashes Injuries Crashes Injuries Crashes Injuries Crashes Injuries Crashes Injuries',
 'Fatal 13 13 21 23 9 9 23 23 14 15 16 17',
 'Non Fatal Injury 1,092 1,669 1,136 1,731 1,152 1,767 1,244 1,940 1,275 2,027 1,180 1,827',
 'PDO 2,157 2,349 2,574 2,558 2,798 2,487',
 'Total 3,262 1,682 3,506 1,754 3,735 1,776 3,825 1,963 4,087 2,042 3,683 1,843']

In [8]:
county = new_list[0]
county = county.replace("County","")
county = county.strip()
year = new_list[1]
year = year.split(" ")
fatalaties = new_list[3].split(" ")
del fatalaties[0:3]
del fatalaties[-2:]
total = new_list[6].split(" ")
del total[0:3]
del total[-2:]
print(county,year,fatalaties,total)

Alamance ['2012', '2013', '2014', '2015', '2016', '5', 'Year', 'Avg.'] ['21', '23', '9', '9', '23', '23', '14', '15'] ['3,506', '1,754', '3,735', '1,776', '3,825', '1,963', '4,087', '2,042']

In [9]:
my_dic_2013 = {}
my_dic_2013['County'] = county
my_dic_2013['fatalaties'] = fatalaties[1]
my_dic_2013['injuries'] = total[1]
my_dic_2013['total_crashes'] = total[0]
year = year[1]
print(year,my_dic_2013)

2013 {'County': 'Alamance', 'fatalaties': '23', 'injuries': '1,754', 'total_crashes': '3,506'}

In [10]:
my_dic_2014 = {}
my_dic_2014['County'] = county
my_dic_2014['fatalaties'] = fatalaties[3]
my_dic_2014['injuries'] = total[3]
my_dic_2014['total_crashes'] = total[2]
my_dic_2014

{'County': 'Alamance',
 'fatalaties': '9',
 'injuries': '1,776',
 'total_crashes': '3,735'}

In [11]:
my_dic_2015 = {}
my_dic_2015['County'] = county
my_dic_2015['fatalaties'] = fatalaties[5]
my_dic_2015['injuries'] = total[5]
my_dic_2015['total_crashes'] = total[4]
my_dic_2015

{'County': 'Alamance',
 'fatalaties': '23',
 'injuries': '1,963',
 'total_crashes': '3,825'}

In [12]:
my_dic_2016 = {}
my_dic_2016['County'] = county
my_dic_2016['fatalaties'] = fatalaties[7]
my_dic_2016['injuries'] = total[7]
my_dic_2016['total_crashes'] = total[6]
print(my_dic_2016)

{'County': 'Alamance', 'fatalaties': '15', 'injuries': '2,042', 'total_crashes': '4,087'}

In [13]:
fl_l_2013 = []
fl_l_2014 = []
fl_l_2015 = []
fl_l_2016 = []
pages = list(range(42,142))
pdf = pdfplumber.open(file_2013_2016)
for page in pages:
    my_dic_2013 = {}
    my_dic_2014 = {}
    my_dic_2015 = {}
    my_dic_2016 = {}
    txt =pdf.pages[page].extract_text()
    txt = txt.split("\n")
    new_list = txt[0:7]
    county = new_list[0]
    county = county.replace("County","")
    county = county.strip()
    fatalaties = new_list[3].split(" ")
    del fatalaties[0:3]
    del fatalaties[-2:]
    total = new_list[6].split(" ")
    del total[0:3]
    del total[-2:]
    my_dic_2013['County'] = county
    my_dic_2013['fatalaties'] = fatalaties[1]
    my_dic_2013['injuries'] = total[1]
    my_dic_2013['total_crashes'] = total[0]
    fl_l_2013.append(my_dic_2013)
    my_dic_2014['County'] = county
    my_dic_2014['fatalaties'] = fatalaties[3]
    my_dic_2014['injuries'] = total[3]
    my_dic_2014['total_crashes'] = total[2]
    fl_l_2014.append(my_dic_2014)
    my_dic_2015['County'] = county
    my_dic_2015['fatalaties'] = fatalaties[5]
    my_dic_2015['injuries'] = total[5]
    my_dic_2015['total_crashes'] = total[4]
    fl_l_2015.append(my_dic_2015)
    my_dic_2016['County'] = county
    my_dic_2016['fatalaties'] = fatalaties[7]
    my_dic_2016['injuries'] = total[7]
    my_dic_2016['total_crashes'] = total[6]
    fl_l_2016.append(my_dic_2016)
nc_df_2013 = pd.DataFrame(fl_l_2013)
nc_df_2014 = pd.DataFrame(fl_l_2014)
nc_df_2015 = pd.DataFrame(fl_l_2015) 
nc_df_2016 = pd.DataFrame(fl_l_2016)
df_pop_nc13 = pd.merge(nc_df_2013,pop_combined[['County', 2013]],on="County",how='left')
df_pop_nc14 = pd.merge(nc_df_2014,pop_combined[['County', 2014]],on="County",how='left')
df_pop_nc15 = pd.merge(nc_df_2015,pop_combined[['County', 2015]],on="County",how='left')
df_pop_nc16 = pd.merge(nc_df_2016,pop_combined[['County', 2016]],on="County",how='left')
df_comb_nc13 = pd.merge(df_pop_nc13,metros_nc[['CBSA Title','Metropolitan/Micropolitan Statistical Area','County']],on="County",how='left')
df_comb_nc14 = pd.merge(df_pop_nc14,metros_nc[['CBSA Title','Metropolitan/Micropolitan Statistical Area','County']],on="County",how='left')
df_comb_nc15 = pd.merge(df_pop_nc15,metros_nc[['CBSA Title','Metropolitan/Micropolitan Statistical Area','County']],on="County",how='left')
df_comb_nc16 = pd.merge(df_pop_nc16,metros_nc[['CBSA Title','Metropolitan/Micropolitan Statistical Area','County']],on="County",how='left')
df_comb_nc13.to_excel('C:/Users/iulia/Documents/NSS/projects/capstone/data/cleaned_data/2013_NC.xlsx', engine='xlsxwriter',index=False)
df_comb_nc14.to_excel('C:/Users/iulia/Documents/NSS/projects/capstone/data/cleaned_data/2014_NC.xlsx', engine='xlsxwriter',index=False)
df_comb_nc15.to_excel('C:/Users/iulia/Documents/NSS/projects/capstone/data/cleaned_data/2015_NC.xlsx', engine='xlsxwriter',index=False)
df_comb_nc16.to_excel('C:/Users/iulia/Documents/NSS/projects/capstone/data/cleaned_data/2016_NC.xlsx', engine='xlsxwriter',index=False)

### Extracting data for years 2017 thru 2020 and combining with pop along with Metropolitans and Micropolitans

In [14]:
file_2017_2020 ='C:/Users/iulia/Documents/NSS/projects/capstone/data/raw_data/NC/NC_2016_2020.pdf'

In [15]:
pdf = pdfplumber.open(file_2017_2020)
txt = pdf.pages[42].extract_text()
txt = txt.split("\n")
new_list = txt[0:7]
new_list

['Alamance County',
 '2016 2017 2018 2019 2020 5 Year Avg.',
 'Reportable Crashes Injuries Crashes Injuries Crashes Injuries Crashes Injuries Crashes Injuries Crashes Injuries',
 'Fatal 14 15 22 23 17 19 14 15 29 29 19 20',
 'Non Fatal Injury 1,275 2,027 1,247 1,931 1,203 1,833 1,270 1,987 1,131 1,774 1,225 1,910',
 'PDO 2,798 2,761 3,105 2,962 2,810 2,887',
 'Total 4,087 2,042 4,030 1,954 4,325 1,852 4,246 2,002 3,970 1,803 4,132 1,931']

In [16]:
county = new_list[0]
county = county.replace("County","")
county = county.strip()
fatalaties = new_list[3].split(" ")
del fatalaties[0:3]
del fatalaties[-2:]
total = new_list[6].split(" ")
del total[0:3]
del total[-2:]
print(county,fatalaties,total)

Alamance ['22', '23', '17', '19', '14', '15', '29', '29'] ['4,030', '1,954', '4,325', '1,852', '4,246', '2,002', '3,970', '1,803']

In [17]:
fl_l_2017 = []
fl_l_2018 = []
fl_l_2019 = []
fl_l_2020 = []
pages = list(range(42,142))
pdf = pdfplumber.open(file_2017_2020)
for page in pages:
    my_dic_2017 = {}
    my_dic_2018 = {}
    my_dic_2019 = {}
    my_dic_2020 = {}
    txt =pdf.pages[page].extract_text()
    txt = txt.split("\n")
    new_list = txt[0:7]
    county = new_list[0]
    county = county.replace("County","")
    county = county.strip()
    fatalaties = new_list[3].split(" ")
    del fatalaties[0:3]
    del fatalaties[-2:]
    total = new_list[6].split(" ")
    del total[0:3]
    del total[-2:]
    my_dic_2017['County'] = county
    my_dic_2017['fatalaties'] = fatalaties[1]
    my_dic_2017['injuries'] = total[1]
    my_dic_2017['total_crashes'] = total[0]
    fl_l_2017.append(my_dic_2017)
    my_dic_2018['County'] = county
    my_dic_2018['fatalaties'] = fatalaties[3]
    my_dic_2018['injuries'] = total[3]
    my_dic_2018['total_crashes'] = total[2]
    fl_l_2018.append(my_dic_2018)
    my_dic_2019['County'] = county
    my_dic_2019['fatalaties'] = fatalaties[5]
    my_dic_2019['injuries'] = total[5]
    my_dic_2019['total_crashes'] = total[4]
    fl_l_2019.append(my_dic_2019)
    my_dic_2020['County'] = county
    my_dic_2020['fatalaties'] = fatalaties[7]
    my_dic_2020['injuries'] = total[7]
    my_dic_2020['total_crashes'] = total[6]
    fl_l_2020.append(my_dic_2020)
nc_df_2017 = pd.DataFrame(fl_l_2017)
nc_df_2018 = pd.DataFrame(fl_l_2018)
nc_df_2019 = pd.DataFrame(fl_l_2019) 
nc_df_2020 = pd.DataFrame(fl_l_2020)
df_pop_nc17 = pd.merge(nc_df_2017,pop_combined[['County', 2017]],on="County",how='left')
df_pop_nc18 = pd.merge(nc_df_2018,pop_combined[['County', 2018]],on="County",how='left')
df_pop_nc19 = pd.merge(nc_df_2019,pop_combined[['County', 2019]],on="County",how='left')
df_pop_nc20 = pd.merge(nc_df_2020,pop_combined[['County', 2020]],on="County",how='left')
df_comb_nc17 = pd.merge(df_pop_nc17,metros_nc[['CBSA Title','Metropolitan/Micropolitan Statistical Area','County']],on="County",how='left')
df_comb_nc18 = pd.merge(df_pop_nc18,metros_nc[['CBSA Title','Metropolitan/Micropolitan Statistical Area','County']],on="County",how='left')
df_comb_nc19 = pd.merge(df_pop_nc19,metros_nc[['CBSA Title','Metropolitan/Micropolitan Statistical Area','County']],on="County",how='left')
df_comb_nc20 = pd.merge(df_pop_nc20,metros_nc[['CBSA Title','Metropolitan/Micropolitan Statistical Area','County']],on="County",how='left')
df_comb_nc17.to_excel('C:/Users/iulia/Documents/NSS/projects/capstone/data/cleaned_data/2017_NC.xlsx', engine='xlsxwriter',index=False)
df_comb_nc18.to_excel('C:/Users/iulia/Documents/NSS/projects/capstone/data/cleaned_data/2018_NC.xlsx', engine='xlsxwriter',index=False)
df_comb_nc19.to_excel('C:/Users/iulia/Documents/NSS/projects/capstone/data/cleaned_data/2019_NC.xlsx', engine='xlsxwriter',index=False)
df_comb_nc20.to_excel('C:/Users/iulia/Documents/NSS/projects/capstone/data/cleaned_data/2020_NC.xlsx', engine='xlsxwriter',index=False)