In [1]:
pip install pdfplumber

Requirement already satisfied: pdfplumber in c:\users\iulia\anaconda3\lib\site-packages (0.6.2)
Requirement already satisfied: pdfminer.six==20220319 in c:\users\iulia\anaconda3\lib\site-packages (from pdfplumber) (20220319)
Requirement already satisfied: Pillow>=9.1 in c:\users\iulia\anaconda3\lib\site-packages (from pdfplumber) (9.1.1)
Requirement already satisfied: Wand>=0.6.7 in c:\users\iulia\anaconda3\lib\site-packages (from pdfplumber) (0.6.7)
Requirement already satisfied: cryptography in c:\users\iulia\anaconda3\lib\site-packages (from pdfminer.six==20220319->pdfplumber) (36.0.2)
Requirement already satisfied: chardet in c:\users\iulia\anaconda3\lib\site-packages (from pdfminer.six==20220319->pdfplumber) (4.0.0)
Requirement already satisfied: cffi>=1.12 in c:\users\iulia\anaconda3\lib\site-packages (from cryptography->pdfminer.six==20220319->pdfplumber) (1.14.6)
Requirement already satisfied: pycparser in c:\users\iulia\anaconda3\lib\site-packages (from cffi>=1.12->cryptography->pdfminer.six==20220319->pdfplumber) (2.20)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
import re
from collections import namedtuple
import pdfplumber
import os 
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
import numpy as np

### Testing table extraction for the 1st page of the file

In [3]:
file ='C:/Users/iulia/Documents/NSS/projects/capstone/data/raw_data/TX/TX_2013.pdf'

In [4]:
pdf = pdfplumber.open(file)
table=pdf.pages[0].extract_table()
df_test = pd.DataFrame(table[1::],columns=table[0])

In [5]:
df_test.head()

     County s\ne\nh\ns\na\nr\nC\n \nal\nt\na\nF s\ne\nti\nali\nt\na\nF s\nu\no\nri\nes\nSe\ned ash\nectCr\np\ns\nu\nS s\nu\no\nri\nes\nSe\nd ri\neu\nctnj\neI\np\ns\nu\nS g\nn\nti\na\ncites\nah\nps\naa\ncr\nnC\nI\n-\nn\no\nN g\nn\nti\na\nt\npaciries\nau\ncnj\nnI\nI\n-\nn\no\nN y\nr\nu\nnjes\n Ih\nes\nbla\nsiCr\ns\no\nP s\ne\nri\nu\nnj\nI\n \ne\nbl\nsi\ns\no\nP s\ne\nh\ns\na\nr\nC\n \ny\nr\nu\nnj\nI\n-\nn\no\nN s\ne\nri\nu\nnj\nI\n-\nn\no\nN y\nt\nri\ne\nSevhes\nn s\nwa\nr\noC\nn\nk\nn\nU s\ne\nri\nu\nnj\nI\n \n \nn\nw\no\nn\nk\nn\nU s\ne\nh\ns\na\nr\nC\n \nal\nt\no\nT
0  Anderson                                   9                      9                                             15                                                 20                                                 160                                                   212                                          107                                       183                                                485                          1,278                                              17                                            48                                 793
1   Andrews                                  10                     12                                              8                                                 10                                                  41                                                    57                                           46                                        70                                                181                            506                                               8                                            21                                 294
2  Angelina                                  17                     19                                             37                                                 48                                                 232                                                   331                                          296                                       484                                              1,202                          3,673                                              47                                           151                               1,831
3   Aransas                                   3                      4                                             23                                                 29                                                  28                                                    42                                           33                                        60                                                197                            590                                              15                                            38                                 299
4    Archer                                   7                      7                                              7                                                 10                                                  18                                                    24                                           17                                        34                                                 81                            160                                               2                                             2                                 132

### Extracting all the tables from a PDF file

In [6]:
#Create df from table on first page to act as the first df:
pdf = pdfplumber.open(file)
pages = pdf.pages
tbl = pages[0].extract_table()
original_df = pd.DataFrame(tbl[1::],columns=['County','fatal_crashes','fatalities','suspected_serious_crashes','suspected_serious_injuries','non_incapacitating_crashes','non_incapacitating_injuries','possible_injury_crashes','possible_injuries','non_injury_crashes',
'non_injuries','unknown_severity_crashes','unknown_injuries','total_crashes'])

#Append data from remaining tables/pages:
with pdfplumber.open(file) as pdf:
    pages = pdf.pages
    for i,pg in enumerate(pages):
        df = pd.DataFrame(tbl[1::]) 
        tbl = pages[i].extract_table()
        df = pd.DataFrame(tbl[1::],columns=['County','fatal_crashes','fatalities','suspected_serious_crashes','suspected_serious_injuries','non_incapacitating_crashes','non_incapacitating_injuries','possible_injury_crashes','possible_injuries','non_injury_crashes',
'non_injuries','unknown_severity_crashes','unknown_injuries','total_crashes']) 
        original_df=original_df.merge(df, how='outer')

In [7]:
original_df

            County fatal_crashes fatalities suspected_serious_crashes suspected_serious_injuries non_incapacitating_crashes non_incapacitating_injuries possible_injury_crashes possible_injuries non_injury_crashes non_injuries unknown_severity_crashes unknown_injuries total_crashes
0         Anderson             9          9                        15                         20                        160                         212                     107               183                485        1,278                       17               48           793
1          Andrews            10         12                         8                         10                         41                          57                      46                70                181          506                        8               21           294
2         Angelina            17         19                        37                         48                        232                         331                     296               484              1,202        3,673                       47              151         1,831
3          Aransas             3          4                        23                         29                         28                          42                      33                60                197          590                       15               38           299
4           Archer             7          7                         7                         10                         18                          24                      17                34                 81          160                        2                2           132
5        Armstrong             5          6                         4                          6                          5                           6                       9                11                 41          114                        1                2            65
6         Atascosa             7          7                        25                         35                        120                         176                     130               187                632        1,755                       19               49           933
7           Austin             6          6                        26                         37                         45                          65                      62                86                370        1,011                        6               19           515
8           Bailey             2          2                         1                          2                         14                          22                      18                36                 56          151                        2                6            93
9          Bandera             7         10                        27                         38                         67                          95                      27                36                158          364                        1                7           287
10         Bastrop            18         20                        78                        110                        137                         205                     182               280                664        2,217                       38               92         1,117
11          Baylor             4          7                         5                          5                         17                          21                       6                 9                 38          103                        1                2            71
12             Bee             2          3                        10                         12                         48                          73                      85               126                285          776                       16               37           446
13            Bell            34         36                       215                        274                        754                       1,092                     873             1,361              3,439       11,655                      148              459         5,463
14           Bexar           173        189                       956                      1,132                      3,507                       4,614                   8,758            13,866             24,181       76,510                    2,119            8,626        39,694
15          Blanco             5          5                        13                         15                         34                          49                      19                27                 74          205                        5                9           150
16          Borden             1          1                         1                          1                          3                           9                       4                 6                 16           28                        0                0            25
17          Bosque             4          5                        13                         15                         30                          42                      18                29                 85          287                        3                5           153
18           Bowie            19         25                        46                         75                        270                         390                     364               595              1,135        3,576                       36              159         1,870
19        Brazoria            41         45                       144                        184                        480                         648                     656             1,048              2,974        9,444                      105              311         4,400
20          Brazos            12         15                        92                        110                        573                         799                     507               861              2,035        7,140                       67              245         3,286
21        Brewster             3          3                         3                          4                         15                          24                      11                15                 74          193                        2                4           108
22         Briscoe             0          0                         3                          4                          4                           4                       3                 7                 10           22                        0                0            20
23          Brooks             4          8                        10                         24                         15                          32                      22                35                147          389                        2               13           200
24           Brown             2          2                        26                         33                         49                          69                      98               146                345        1,112                       16               33           536
25        Burleson             3          3                        31                         35                         56                          84                      40                60                182          501                       17               26           329
26          Burnet             7          8                        51                         63                        100                         146                      87               148                371        1,202                        7               17           623
27        Caldwell             4          4                        29                         37                         76                          99                      97               158                411        1,208                       31               50           648
28         Calhoun             4          7                        14                         20                         39                          62                      49                79                154          475                       12               21           272
29        Callahan             9         12                         7                         13                         36                          50                      26                45                189          439                        1                3           268
30         Cameron            33         40                       147                        180                        661                         967                   1,287             2,125              3,475       13,306                      282              863         5,885
31            Camp             2          2                         9                         12                         17                          21                      21                30                119          372                        6               11           174
32          Carson             1          1                         6                          8                         21                          31                       5                12                 82          181                        0                1           115
33            Cass             6          7                        25                         34                         60                          77                      79               128                276          817                        8               18           454
34          Castro             2          2                         3                          3                          9                          15                      13                17                 50          118                        4                6            81
35        Chambers            13         13                        49                         74                        120                         163                     119               195                689        1,932                       15               70         1,005
36        Cherokee            11         15                        33                         40                        110                         150                      91               145                451        1,327                       17               42           713
37       Childress             2          2                         3                          4                          7                          12                       4                 5                 55          123                        3                2            74
38            Clay             5          6                         7                         11                         39                          54                      17                29                132          295                        2                5           202
39         Cochran             0          0                         2                          2                          8                          10                       4                 7                 16           32                        0                0            30
40            Coke             1          1                         3                          3                          5                           8                       2                 3                 12           23                        1                2            24
41         Coleman             1          1                         6                          7                         31                          43                      23                40                110          262                        1                2           172
42          Collin            39         41                       285                        351                      1,438                       1,940                   1,881             2,902              6,603       22,783                      231              960        10,477
43   Collingsworth             0          0                         7                          7                          3                           7                       3                 6                  5           14                        0                0            18
44        Colorado            13         15                        17                         23                         65                         100                      43                71                404        1,095                        5               23           547
45           Comal            20         21                        94                        110                        257                         346                     324               522              1,241        4,290                       61              152         1,997
46        Comanche             3          5                         8                          9                         23                          34                      15                36                 88          235                        2                2           139
47          Concho             2          4                         1                          1                          4                           6                       6                14                 16           32                        1                2            30
48           Cooke             3          3                        28                         37                         91                         124                     100               149                294          926                       14               45           530
49         Coryell             6          7                        49                         68                        168                         229                     149               247                683        2,171                       30               50         1,085
50          Cottle             0          0                         1                          1                          1                           2                       5                 9                  9           17                        0                0            16
51           Crane             2          2                         1                          2                         15                          21                       6                 8                 47          113                        0                1            71
52        Crockett             4          5                        21                         28                         24                          48                      23                38                 91          207                        0                0           163
53          Crosby             0          0                         3                          3                          7                           8                       9                10                 34           82                        1                1            54
54       Culberson             2          2                         4                          9                         20                          37                       8                12                 75          158                        2                4           111
55          Dallam             1          1                         8                          8                         20                          29                      13                30                131          325                        7               11           180
56          Dallas           206        227                     1,233                      1,483                      5,273                       7,073                   9,716            16,394             22,396       76,781                    2,072            8,831        40,896
57          Dawson             3          4                         3                          4                         21                          40                      23                31                124          285                        2                2           176
58      Deaf Smith             2          2                        11                         20                         13                          29                      20                30                168          459                        7               16           221
59           Delta             1          2                         7                         10                         10                          13                       4                 7                 37           90                        1                1            60
60          Denton            38         40                       236                        281                      1,091                       1,445                   1,570             2,473              5,866       19,570                      238              860         9,039
61          Dewitt             7          9                        18                         26                         40                          57                      69                95                235          597                        7               22           376
62         Dickens             0          0                         0                          0                          3                           4                       1                 1                 18           36                        0                0            22
63          Dimmit             8         10                        12                         19                         26                          44                      81               117                173          497                        5               27           305
64          Donley             1          1                         5                          7                          2                           4                       7                18                 52          139                        0                0            67
65           Duval             4          5                        10                         13                         22                          26                      42                88                 93          251                        9               18           180
66        Eastland             5          8                        11                         15                         46                          63                      56                88                261          629                        6               30           385
67           Ector            52         60                        65                         89                        475                         722                     612             1,090              1,692        5,556                      180              503         3,076
68         Edwards             0          0                         7                          7                          9                          14                       4                 4                 16           31                        1                1            37

### Importing poppulation data and merging both files

In [8]:
pop_2010_2019 = pd.read_excel('C:/Users/iulia/Documents/NSS/projects/capstone/data/raw_data/TX/pop_est_2010_2019_tx.xlsx',sheet_name='Sheet1')
pop_2010_2019 = pd.DataFrame(pop_2010_2019)
pop_2010_2019 = pop_2010_2019.drop(['Census','Estimates Base',2010,2011,2012],axis=1)
pop_2010_2019.head()

     County   2013   2014   2015   2016   2017   2018   2019
0  Anderson  57960  57829  57639  57526  58175  57974  57735
1   Andrews  16779  17435  18072  17791  17603  18011  18705
2  Angelina  87312  87567  87829  87682  87572  86810  86715
3   Aransas  23889  24566  24800  25162  25392  23446  23510
4    Archer   8801   8844   8763   8781   8783   8700   8553

In [9]:
pop_2020_2021 = pd.read_excel('C:/Users/iulia/Documents/NSS/projects/capstone/data/raw_data/TX/pop_est_2020_2021_tx.xlsx',sheet_name='Sheet1')
pop_2020_2021 = pd.DataFrame(pop_2020_2021)
pop_2020_2021 = pop_2020_2021.drop('Estimates Base',axis=1)
pop_2020_2021.head()

     County   2020   2021
0  Anderson  57881  58402
1   Andrews  18612  18440
2  Angelina  86345  86506
3   Aransas  23916  24510
4    Archer   8557   8681

In [10]:
pop_combined = pd.merge(pop_2010_2019,pop_2020_2021,how="left",on="County")
pop_combined.drop(index=pop_combined.index[-1],axis=0,inplace=True)
pop_combined.head()

     County   2013   2014   2015   2016   2017   2018   2019   2020   2021
0  Anderson  57960  57829  57639  57526  58175  57974  57735  57881  58402
1   Andrews  16779  17435  18072  17791  17603  18011  18705  18612  18440
2  Angelina  87312  87567  87829  87682  87572  86810  86715  86345  86506
3   Aransas  23889  24566  24800  25162  25392  23446  23510  23916  24510
4    Archer   8801   8844   8763   8781   8783   8700   8553   8557   8681

### Merging pop df and carsh data for speciffic year

In [11]:
var = 2013

In [12]:
pdf = pdfplumber.open(file)
pages = pdf.pages
tbl = pages[0].extract_table()
original_df = pd.DataFrame(tbl[1::],columns=['County','fatal_crashes','fatalities','suspected_serious_crashes','suspected_serious_injuries','non_incapacitating_crashes','non_incapacitating_injuries','possible_injury_crashes','possible_injuries','non_injury_crashes',
'non_injuries','unknown_severity_crashes','unknown_injuries','total_crashes'])
with pdfplumber.open(file) as pdf:
    pages = pdf.pages
    for i,pg in enumerate(pages):
        df = pd.DataFrame(tbl[1::]) 
        tbl = pages[i].extract_table()
        df = pd.DataFrame(tbl[1::],columns=['County','fatal_crashes','fatalities','suspected_serious_crashes','suspected_serious_injuries','non_incapacitating_crashes','non_incapacitating_injuries','possible_injury_crashes','possible_injuries','non_injury_crashes',
'non_injuries','unknown_severity_crashes','unknown_injuries','total_crashes']) 
        original_df=original_df.merge(df, how='outer')

In [13]:
original_df['suspected_serious_injuries'] =original_df['suspected_serious_injuries'].str.replace(',', '').astype(float)
original_df['possible_injuries'] =original_df['possible_injuries'].str.replace(',', '').astype(float)
original_df['injuries'] = original_df['suspected_serious_injuries'] + original_df['possible_injuries']
df_combined = pd.merge(original_df,pop_combined[['County', var]],on="County",how='left')
df_combined=df_combined.drop(['fatal_crashes','suspected_serious_crashes','suspected_serious_injuries','non_incapacitating_crashes','non_incapacitating_injuries','possible_injury_crashes','non_injury_crashes',
'non_injuries','unknown_severity_crashes','unknown_injuries','possible_injuries'], axis=1)
df_combined.head()

     County fatalities total_crashes  injuries     2013
0  Anderson          9           793     203.0  57960.0
1   Andrews         12           294      80.0  16779.0
2  Angelina         19         1,831     532.0  87312.0
3   Aransas          4           299      89.0  23889.0
4    Archer          7           132      44.0   8801.0

In [14]:
df_combined.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 255 entries, 0 to 254
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   County         255 non-null    object
 1   fatalities     255 non-null    object
 2   total_crashes  255 non-null    object
 3   injuries       255 non-null    float64
 4   2013           236 non-null    float64
dtypes: float64(2), object(3)
memory usage: 12.0+ KB

### Adding Metropolitans and Micropolitans

In [15]:
metros = pd.read_excel('C:/Users/iulia/Documents/NSS/projects/capstone/data/metro_areas.xlsx',sheet_name='Filtered_States')
metros_df = pd.DataFrame(metros)
metros_tx = metros_df[metros_df['State Name']=='Texas']
metros_tx.head()

          CBSA Title Metropolitan/Micropolitan Statistical Area    County State Name
3      Palestine, TX              Micropolitan Statistical Area  Anderson      Texas
5        Andrews, TX              Micropolitan Statistical Area   Andrews      Texas
6         Lufkin, TX              Micropolitan Statistical Area  Angelina      Texas
8       Rockport, TX              Micropolitan Statistical Area   Aransas      Texas
9  Wichita Falls, TX              Metropolitan Statistical Area    Archer      Texas

In [16]:
df_combined_new = pd.merge(df_combined,metros_tx[['CBSA Title','Metropolitan/Micropolitan Statistical Area','County']],on="County",how='left')
df_combined_new.head(20)

       County fatalities total_crashes  injuries       2013                            CBSA Title Metropolitan/Micropolitan Statistical Area
0    Anderson          9           793     203.0    57960.0                         Palestine, TX              Micropolitan Statistical Area
1     Andrews         12           294      80.0    16779.0                           Andrews, TX              Micropolitan Statistical Area
2    Angelina         19         1,831     532.0    87312.0                            Lufkin, TX              Micropolitan Statistical Area
3     Aransas          4           299      89.0    23889.0                          Rockport, TX              Micropolitan Statistical Area
4      Archer          7           132      44.0     8801.0                     Wichita Falls, TX              Metropolitan Statistical Area
5   Armstrong          6            65      17.0     1940.0                          Amarillo, TX              Metropolitan Statistical Area
6    Atascosa          7           933     222.0    47021.0         San Antonio-New Braunfels, TX              Metropolitan Statistical Area
7      Austin          6           515     123.0    28679.0  Houston-The Woodlands-Sugar Land, TX              Metropolitan Statistical Area
8      Bailey          2            93      38.0     7124.0                                   NaN                                        NaN
9     Bandera         10           287      74.0    20557.0         San Antonio-New Braunfels, TX              Metropolitan Statistical Area
10    Bastrop         20         1,117     390.0    75814.0      Austin-Round Rock-Georgetown, TX              Metropolitan Statistical Area
11     Baylor          7            71      14.0     3577.0                                   NaN                                        NaN
12        Bee          3           446     138.0    32810.0                          Beeville, TX              Micropolitan Statistical Area
13       Bell         36         5,463    1635.0   327028.0                    Killeen-Temple, TX              Metropolitan Statistical Area
14      Bexar        189        39,694   14998.0  1821328.0         San Antonio-New Braunfels, TX              Metropolitan Statistical Area
15     Blanco          5           150      42.0    10636.0                                   NaN                                        NaN
16     Borden          1            25       7.0      646.0                                   NaN                                        NaN
17     Bosque          5           153      44.0    17863.0                                   NaN                                        NaN
18      Bowie         25         1,870     670.0    93374.0                      Texarkana, TX-AR              Metropolitan Statistical Area
19   Brazoria         45         4,400    1232.0   329890.0  Houston-The Woodlands-Sugar Land, TX              Metropolitan Statistical Area

### Adding everything together to create combined reports by year

In [19]:
for filename in os.listdir("C:/Users/iulia/Documents/NSS/projects/capstone/data/raw_data/TX/"):
    if filename.endswith(".pdf"):
       year = re.findall(r'\d{4}',filename)
       for var in year:
           name = var       
       pdf = pdfplumber.open(os.path.join("C:/Users/iulia/Documents/NSS/projects/capstone/data/raw_data/TX/", filename))
       tx_df = pd.DataFrame(columns=['County','fatal_crashes','fatalities','suspected_serious_crashes','suspected_serious_injuries','non_incapacitating_crashes','non_incapacitating_injuries','possible_injury_crashes','possible_injuries','non_injury_crashes',
  'non_injuries','unknown_severity_crashes','unknown_injuries','total_crashes'])
       pages = pdf.pages
       for i,pg in enumerate(pages): 
        tbl = pages[i].extract_table()
        df = pd.DataFrame(tbl[1::],columns=['County','fatal_crashes','fatalities','suspected_serious_crashes','suspected_serious_injuries','non_incapacitating_crashes','non_incapacitating_injuries','possible_injury_crashes','possible_injuries','non_injury_crashes',
'non_injuries','unknown_severity_crashes','unknown_injuries','total_crashes'])
        tx_df = tx_df.append(df) 
        if i== 9:
            name = int(name)
            tx_df['suspected_serious_injuries'] = tx_df['suspected_serious_injuries'].str.replace(',', '').astype(float)
            tx_df['possible_injuries'] = tx_df['possible_injuries'].str.replace(',', '').astype(float)
            tx_df['injuries'] = tx_df['suspected_serious_injuries'] + tx_df['possible_injuries']
            tx_df = tx_df.drop(['fatal_crashes','suspected_serious_crashes','suspected_serious_injuries','non_incapacitating_crashes','non_incapacitating_injuries','possible_injury_crashes','non_injury_crashes','non_injuries','unknown_severity_crashes','unknown_injuries','possible_injuries'], axis=1)                    
            tx_df = tx_df[['County','fatalities','injuries','total_crashes']]
            df_combined_tx = pd.merge(tx_df,pop_combined[['County', name]],on="County",how='left') 
            df_combined_tx_new = pd.merge(df_combined_tx,metros_tx[['CBSA Title','Metropolitan/Micropolitan Statistical Area','County']],on="County",how='left')
            df_combined_tx_new.drop(index=df_combined_tx_new.index[-1],axis=0,inplace=True)
            df_combined_tx_new.to_excel('C:/Users/iulia/Documents/NSS/projects/capstone/data/cleaned_data/%s_TX.xlsx' % name, engine='xlsxwriter',index=False)
        else:
            continue